{% extends 'base.html.twig' %}
{% block title %}
    {{ 'Liste de hébergements' | capitalize }}
{% endblock %}
{% block body %}
    <h1>{{ 'liste des hébergements' | capitalize }}</h1>
    {% include '::flashbags.html.twig' %}
    <table class="table-responsive table-striped table">
        <thead>
        <tr>
            <th>Id</th>
            <th>{{ 'nom' | capitalize }}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for hebergementUnifie in hebergementUnifies %}
            <tr>
                <td>
                    <a href="{{ path('hebergement_hebergement_show', { 'id': hebergementUnifie.id }) }}">{{ hebergementUnifie.id }}</a>
                </td>
                <td>
                    {% for hebergement in hebergementUnifie.hebergements %}
                        {% if hebergement.site.crm == 1 %}
                            {% for traduction in hebergement.traductions %}
                                {% if traduction.langue.code == app.request.locale %}
                                    {{ traduction.nom }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a class="btn btn-default"
                               href="{{ path('hebergement_hebergement_show', { 'id': hebergementUnifie.id }) }}">{{ 'visualiser' | capitalize }}</a>
                        </li>
                        <li>
                            <a class="btn btn-default"
                               href="{{ path('hebergement_hebergement_edit', { 'id': hebergementUnifie.id }) }}">{{ 'modifier' | capitalize }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if  hebergementUnifies is not empty %}
        {% include '@MondofuteCore/pagination.html.twig' %}
    {% endif %}
    <div style="text-align: right">
        <ul class="list-unstyled">
            <li>
                <a class="btn btn-default"
                   href="{{ path('hebergement_hebergement_new') }}">{{ 'ajouter' | capitalize }}</a>
            </li>
        </ul>
    </div>
{% endblock %}
