<div>
    <div id="hebergement_unifie_fournisseurs_{{ name }}_codePasserelles_{{ name_codePasserelle }}">
        <div class="form-group">
            <label class="col-sm-2 control-label required"
                   for="hebergement_unifie_fournisseurs_{{ name }}_codePasserelles_{{ name_codePasserelle }}_libelle">libellé</label>
            <div class="col-sm-10"><input
                        id="hebergement_unifie_fournisseurs_{{ name }}_codePasserelles_{{ name_codePasserelle }}_libelle"
                        name="hebergement_unifie[fournisseurs][{{ keyFournisseur }}][codePasserelles][{{ name_codePasserelle }}][libelle]"
                        required="required" maxlength="255" class="form-control" value="" type="text"></div>
        </div>

    </div>
</div>