{% extends '@MondofuteStation/stationlabel/fiche.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ 'création d\un station label' | capitalize }}
{% endblock %}

{% block titre %}
    Création d'un station label
{% endblock %}

{#  BLOCK DES ACTIONS AUTRES QUE LA MISE A JOUR#}
{% block actions %}
    <div style="text-align: right">
        <ul class="list-unstyled">
            <li><a href="{{ path('stationlabel_index') }}">{{ 'retour à la liste' | capitalize }}</a></li>
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

