{% extends '::base.html.twig' %}

{% block body %}
    <section>
        <h1>
            {% block titre %}
            {% endblock %}
        </h1>
    </section>
    <section>
        {% block formulaire %}
            {% include '::flashbags.html.twig' %}

            {#{{ app.request.locale }}#}
            {{ form_start(form) }}
            {{ form_row(form.client.civilite) }}
            {{ form_row(form.client.nom) }}
            {{ form_row(form.client.prenom) }}
            {{ form_row(form.client.dateNaissance) }}

            {% set formAdresse   =  '' %}
            {% set formTelFixe   =  '' %}
            {% set formTelMobile =  '' %}

            {% for moyenCom in form.client.moyenComs %}
                {% set typeMoyenCom = moyenCom.vars.type %}
                {% if typeMoyenCom == 'Adresse' %}
                    {% set formAdresse =  moyenCom %}
                {% elseif typeMoyenCom == 'TelFixe' %}
                    {% set formTelFixe =  moyenCom %}
                {% elseif typeMoyenCom == 'TelMobile' %}
                    {% set formTelMobile =  moyenCom %}
                {% elseif typeMoyenCom == 'Email' %}
                    {#{{ form_row(moyenCom.adresse , { 'label' : moyenCom.vars.label | humanize  }) }}#}
                {% endif %}
            {% endfor %}

            {{ form_row(formAdresse.adresse1) }}
            {{ form_row(formAdresse.adresse2) }}
            {{ form_row(formAdresse.adresse3) }}
            {{ form_row(formAdresse.code_postal) }}
            {{ form_row(formAdresse.ville) }}
            {{ form_row(formAdresse.pays) }}

            {{ form_row(formTelFixe.numero , { 'label' : 'téléphone' | title  }) }}

            {{ form_row(formTelMobile.numero , { 'label' : 'mobile' | title  }) }}


            <!-- disables autocomplete -->
            <div class="form-group" style="display:none">
                <input type="text" style="display:none"/>
            </div>
            <div class="form-group" style="display:none">
                <input type="password" style="display:none"/>
            </div>

            {% for moyenCom in form.client.moyenComs %}
                {% set typeMoyenCom = moyenCom.vars.type %}
                {#{% if typeMoyenCom == 'Adresse' %}#}
                {#{{ form_row(moyenCom.adresse1) }}#}
                {#{{ form_row(moyenCom.adresse2) }}#}
                {#{{ form_row(moyenCom.adresse3) }}#}
                {#{{ form_row(moyenCom.codePostal) }}#}
                {#{{ form_row(moyenCom.ville) }}#}
                {#{{ form_row(moyenCom.pays) }}#}
                {#{% elseif typeMoyenCom == 'TelFixe' %}#}
                {#{{ form_row(moyenCom.numero , { 'label' : 'téléphone' | title  }) }}#}
                {#{% elseif typeMoyenCom == 'TelMobile' %}#}
                {#{{ form_row(moyenCom.numero , { 'label' : 'mobile' | title  }) }}#}
                {#{% elseif typeMoyenCom == 'Email' %}#}
                {% if typeMoyenCom == 'Email' %}
                    {{ form_row(moyenCom.adresse , { 'label' : moyenCom.vars.label | humanize, 'id' : 'test_adresse', 'attr' : { 'autocomplete' : false } } ) }}
                {% else %}
                    {#{{ form_row(moyenCom) }}#}
                {% endif %}
            {% endfor %}

            {#{{ form_row(form.plainPassword , { 'attr' : { 'id' : 'test_mdp' }}) }}#}
            {{ form_row(form.plainPassword , { 'id' : 'test_mdp' , 'attr' : { 'autocomplete' : false }}) }}
            {{ form_row(form.client.vip) }}

            {{ form_row(form.submit) }}

            {{ form_widget(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}

        {% endblock %}
    </section>
    <section>
        {% block actions %}

        {% endblock %}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}