{% extends 'base.html.twig' %}

{% block body %}
    <h1>SousTypePrestationAnnexe list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sousTypePrestationAnnexe in sousTypePrestationAnnexes %}
            <tr>
                <td><a href="{{ path('soustypeprestationannexe_show', { 'id': sousTypePrestationAnnexe.id }) }}">{{ sousTypePrestationAnnexe.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('soustypeprestationannexe_show', { 'id': sousTypePrestationAnnexe.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('soustypeprestationannexe_edit', { 'id': sousTypePrestationAnnexe.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('soustypeprestationannexe_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
