<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Hébergement</h3>
    </div>
    <div class="panel-body">
        {% for fournisseur in fournisseursTypeHebergement %}
            {% set hebergementExists = false %}
            {% if promotion.promotionHebergements is defined %}
                {% for promotionHebergement in promotion.promotionHebergements %}
                    {% if promotionHebergement.vars.value.fournisseur.id == fournisseur.id %}
                        {% set hebergementExists = true %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" role="tab"
                     id="heading_promotion_{{ promotion.vars.value.id }}_fournisseur_{{ fournisseur.id }}_hebergements">
                    <h4 class="panel-title">
                        <div class="checkbox">
                            <label><input type="checkbox" value="{{ fournisseur.id }}"
                                          onclick="checkChildren(this , 'promotion_{{ promotion.vars.value.id }}_fournisseur_{{ fournisseur.id }}_hebergements')"
                                        {#name="promotionFournisseurs[{{ promotion.vars.value.id }}][]"#}
                                          name="mondofute_bundle_promotionbundle_promotionunifie[promotions][{{ keyPromotion }}][promotionFournisseurs][{{ fournisseur.id }}1][fournisseur]"
                                        {% if promotion.promotionHebergements is defined %}
                                            {% for promotionFournisseur in promotion.promotionFournisseurs %}
                                                {% if promotionFournisseur.fournisseur.vars.value == fournisseur.id  and promotionFournisseur.type.vars.value == 1 %}
                                                    checked="checked"
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                >
                                <input type="hidden"
                                       name="mondofute_bundle_promotionbundle_promotionunifie[promotions][{{ keyPromotion }}][promotionFournisseurs][{{ fournisseur.id }}1][type]"
                                       value="1"/>
                                <a
                                        data-toggle="collapse"
                                        href="#collapse_promotion_{{ promotion.vars.value.id }}_fournisseur_{{ fournisseur.id }}_hebergements"
                                        {#onclick="getFournisseurHebergements('{{ promotion.vars.value.id }}','{{ fournisseur.id }}' , '{{ keyPromotion }}', '{{ promotion.vars.value.site.id }}');return false;"#}
                                        {% if hebergementExists == true %}
                                            aria-expanded="true"
                                        {% else %}
                                            aria-expanded="false"
                                        {% endif %}
                                        aria-controls="collapse_promotion_{{ promotion.vars.value.id }}_fournisseur_{{ fournisseur.id }}_hebergements">
                                    {{ fournisseur.enseigne }}
                                </a>
                            </label>
                        </div>
                    </h4>
                </div>
                <div id="collapse_promotion_{{ promotion.vars.value.id }}_fournisseur_{{ fournisseur.id }}_hebergements"
                     class="panel-collapse collapse{% if hebergementExists == true %} in{% endif %}"
                     role="tabpanel"
                     aria-labelledby="heading_promotion_{{ promotion.vars.value.id }}_fournisseur_{{ fournisseur.id }}_hebergements">
                    <!-- List group hebergements -->
                    <ul class="list-group"
                        id="promotion_{{ promotion.vars.value.id }}_fournisseur_{{ fournisseur.id }}_hebergements">
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


