<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Prestation Annexe</h3>
    </div>
    <div class="panel-body">
        {% for fournisseur in fournisseursPrestationAnnexe %}

            {% set prestationAnnexeExists = false %}
            {% if promotion.promotionFournisseurPrestationAnnexes is defined %}
                {% for promotionFournisseurPrestationAnnexe in promotion.promotionFournisseurPrestationAnnexes %}
                    {% if promotionFournisseurPrestationAnnexe.vars.value.fournisseur.id == fournisseur.id %}
                        {% set prestationAnnexeExists = true %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if promotion.promotionFamillePrestationAnnexes is defined %}
                {% for promotionFamillePrestationAnnexe in promotion.promotionFamillePrestationAnnexes %}
                    {% if promotionFamillePrestationAnnexe.vars.value.fournisseur.id == fournisseur.id %}
                        {% set prestationAnnexeExists = true %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" role="tab"
                     id="heading_promotion_{{ promotion.vars.value.id }}_fournisseur_{{ fournisseur.id }}_prestation_annexes">
                    <h4 class="panel-title">
                        <div class="checkbox">
                            <label><input type="checkbox" value="{{ fournisseur.id }}"
                                          onclick="checkChildren(this , 'promotion_{{ promotion.vars.value.id }}_fournisseur_{{ fournisseur.id }}_prestation_annexes')"
                                        {#name="promotionFournisseurs[{{ promotion.vars.value.id }}][]"#}
                                          name="mondofute_bundle_promotionbundle_promotionunifie[promotions][{{ keyPromotion }}][promotionFournisseurs][{{ fournisseur.id }}2][fournisseur]"
                                        {% if promotion.promotionFournisseurs is defined %}
                                            {% for promotionFournisseur in promotion.promotionFournisseurs %}
                                                {% if promotionFournisseur.fournisseur.vars.value == fournisseur.id and promotionFournisseur.type.vars.value == 2 %}
                                                    checked="checked"
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                >
                                <input type="hidden"
                                       name="mondofute_bundle_promotionbundle_promotionunifie[promotions][{{ keyPromotion }}][promotionFournisseurs][{{ fournisseur.id }}2][type]"
                                       value="2"/>
                                <a
                                        data-toggle="collapse"
                                        href="#collapse_promotion_{{ promotion.vars.value.id }}_fournisseur_{{ fournisseur.id }}_prestation_annexes"
                                        {#onclick="getFournisseurprestation_annexes('{{ promotion.vars.value.id }}','{{ fournisseur.id }}' , '{{ keyPromotion }}', '{{ promotion.vars.value.site.id }}');return false;"#}
                                        {% if prestationAnnexeExists == true %}
                                            aria-expanded="true"
                                        {% else %}
                                            aria-expanded="false"
                                        {% endif %}
                                        aria-controls="collapse_promotion_{{ promotion.vars.value.id }}_fournisseur_{{ fournisseur.id }}_prestation_annexes">
                                    {{ fournisseur.enseigne }}
                                </a></label>
                        </div>
                    </h4>
                </div>

                <div id="collapse_promotion_{{ promotion.vars.value.id }}_fournisseur_{{ fournisseur.id }}_prestation_annexes"
                     class="panel-collapse collapse{% if prestationAnnexeExists == true %} in{% endif %}"
                     role="tabpanel"
                     aria-labelledby="heading_promotion_{{ promotion.vars.value.id }}_fournisseur_{{ fournisseur.id }}_prestation_annexes">

                    <!-- List group prestation_annexes -->
                    <ul class="list-group"
                        id="promotion_{{ promotion.vars.value.id }}_fournisseur_{{ fournisseur.id }}_prestation_annexes">
                    </ul>

                </div>
            </div>
        {% endfor %}
        {% if fournisseursPrestationAnnexe is empty %}
            <li class="list-group-item">
                <div class="alert alert-info" role="alert">Il n'y a pas de prestation annexes.</div>
            </li>
        {% endif %}
    </div>
</div>
