{% extends 'base.html.twig' %}

{% form_theme delete_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block title %}
    {{ 'visualisation de la promotion' | capitalize }}
{% endblock %}
{% block body %}
    <h1>{{ 'Visualisation de la promotion' | capitalize }}</h1>
    {% include '::flashbags.html.twig' %}
    <table class="table table-responsive table-striped">
        <tbody>
        <tr class="row">
            <th class="col-sm-1">Id</th>
            <td>{{ promotionUnifie.id }}</td>
        </tr>
        {% for promotion in promotionUnifie.promotions %}
            {% if promotion.site.crm == 1 %}
                <tr class="row">
                    <th class="col-sm-1">{{ 'libelle' | capitalize }}</th>
                    <td>
                        {{ promotion.libelle }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}

        </tbody>
    </table>
    <div style="text-align: right">

        <ul class="list-unstyled">
            <li>
                <a href="{{ path('promotion_index') }}">{{ 'retour.liste' | trans }}</a>
            </li>
            <li>
                <a class="btn btn-default"
                   href="{{ path('promotion_edit', { 'id': promotionUnifie.id }) }}">{{ 'modifier' | trans }}</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                {#<input type="submit" value="Delete">#}
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
