{#<div class="container-fluid">#}

<nav role="navigation">
    <ul class="nav navbar-nav">
        <li>
            <a href="{{ path('mondofute_accueil_homepage') }}">{{ 'accueil' | capitalize }}</a>
        </li>
        <li role="presentation"
            class="dropdown {% if 'geographie' in app.request.attributes.get('_route') %} active {% endif %}">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Géographie <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li role="presentation"
                    class="dropdown-submenu {% if 'region' in app.request.attributes.get('_route') %} active {% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" href="">Région</a>
                    <ul class="dropdown-menu">
                        <li class="{% if 'region_index' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('geographie_region_index') }}">{{ 'liste' |capitalize }}</a>
                        </li>
                        <li class="{% if 'region_new' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('geographie_region_new') }}">{{ 'ajouter' | capitalize }}</a>
                        </li>
                    </ul>
                </li>
                <li role="presentation"
                    class="dropdown-submenu {% if 'departement' in app.request.attributes.get('_route') %} active {% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" href="">Département</a>
                    <ul class="dropdown-menu">
                        <li class="{% if 'departement_index' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('geographie_departement_index') }}">{{ 'liste' |capitalize }}</a>
                        </li>
                        <li class="{% if 'departement_new' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('geographie_departement_new') }}">{{ 'ajouter' | capitalize }}</a>
                        </li>
                    </ul>
                </li>
                <li role="presentation"
                    class="dropdown-submenu {% if 'secteur' in app.request.attributes.get('_route') %} active {% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" href="">Secteur</a>
                    <ul class="dropdown-menu">
                        <li class="{% if 'secteur_index' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('geographie_secteur_index') }}">{{ 'liste' |capitalize }}</a>
                        </li>
                        <li class="{% if 'secteur_new' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('geographie_secteur_new') }}">{{ 'ajouter' | capitalize }}</a>
                        </li>
                    </ul>
                </li>
                <li role="presentation"
                    class="dropdown-submenu {% if 'profil' in app.request.attributes.get('_route') %} active {% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" href="">Profil</a>
                    <ul class="dropdown-menu">
                        <li class="{% if 'profil_index' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('geographie_profil_index') }}">{{ 'liste' |capitalize }}</a>
                        </li>
                        <li class="{% if 'profil_new' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('geographie_profil_new') }}">{{ 'ajouter' | capitalize }}</a>
                        </li>
                    </ul>
                </li>
                <li role="presentation"
                    class="dropdown-submenu {% if 'zonetouristique' in app.request.attributes.get('_route') %} active {% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" href="">Zone Touristique</a>
                    <ul class="dropdown-menu">
                        <li class="{% if 'zonetouristique_index' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('geographie_zonetouristique_index') }}">{{ 'liste' |capitalize }}</a>
                        </li>
                        <li class="{% if 'zonetouristique_new' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('geographie_zonetouristique_new') }}">{{ 'ajouter' | capitalize }}</a>
                        </li>
                    </ul>
                </li>
                <li role="presentation"
                    class="dropdown-submenu {% if 'domaine' in app.request.attributes.get('_route') %} active {% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" href="">Domaine</a>
                    <ul class="dropdown-menu">
                        <li class="{% if 'domaine_index' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('domaine_domaine_index') }}">{{ 'liste' |capitalize }}</a>
                        </li>
                        <li class="{% if 'domaine_new' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('domaine_domaine_new') }}">{{ 'ajouter' | capitalize }}</a>
                        </li>
                    </ul>
                </li>
                <li role="presentation"
                    class="dropdown-submenu {% if 'domaineCarteIdentite' in app.request.attributes.get('_route') %} active {% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" href="">Domaine carte identite</a>
                    <ul class="dropdown-menu">
                        <li class="{% if 'domaineCarteIdentite_index' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('domaine_domaineCarteIdentite_index') }}">{{ 'liste' |capitalize }}</a>
                        </li>
                        <li class="{% if 'domaineCarteIdentite_new' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('domaine_domaineCarteIdentite_new') }}">{{ 'ajouter' | capitalize }}</a>
                        </li>
                    </ul>
                </li>
                <li role="presentation"
                    class="dropdown-submenu {% if 'modeledescriptionforfaitski' in app.request.attributes.get('_route') %} active {% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" href="">ModeleDescriptionForfaitSki</a>
                    <ul class="dropdown-menu">
                        <li class="{% if 'dmodeledescriptionforfaitski_index' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('modeledescriptionforfaitski_index') }}">{{ 'liste' |capitalize }}</a>
                        </li>
                        <li class="{% if 'modeledescriptionforfaitski_new' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('modeledescriptionforfaitski_new') }}">{{ 'ajouter' | capitalize }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li role="presentation"
            class="dropdown {% if 'station' in app.request.attributes.get('_route') %} active {% endif %}">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Station <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li role="presentation"
                    class="dropdown-submenu {% if 'station' in app.request.attributes.get('_route') %} active {% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" href="">Station</a>
                    <ul class="dropdown-menu">
                        <li class="{% if 'station_index' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('station_station_index') }}">{{ 'liste' |capitalize }}</a>
                        </li>
                        <li class="{% if 'station_new' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('station_station_new') }}">{{ 'ajouter' | capitalize }}</a>
                        </li>
                    </ul>
                </li>
                <li role="presentation"
                    class="dropdown-submenu {% if 'stationcarteidentite' in app.request.attributes.get('_route') %} active {% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" href="">Station - Carte d'identité</a>
                    <ul class="dropdown-menu">
                        <li class="{% if 'stationcarteidentite_index' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('stationcarteidentite_index') }}">{{ 'liste' |capitalize }}</a>
                        </li>
                        <li class="{% if 'stationcarteidentite_new' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('stationcarteidentite_new') }}">{{ 'ajouter' | capitalize }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li role="presentation"
            class="dropdown {% if 'fournisseur' in app.request.attributes.get('_route') %} active {% endif %}">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Fournisseur <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li role="presentation"
                    class="dropdown-submenu {% if 'fournisseur' in app.request.attributes.get('_route') %} active {% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" href="">Fournisseur</a>
                    <ul class="dropdown-menu">
                        <li class="{% if 'fournisseur_index' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('fournisseur_index') }}">{{ 'liste' |capitalize }}</a>
                        </li>
                        <li class="{% if 'fournisseur_new' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('fournisseur_new') }}">{{ 'ajouter' | capitalize }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li role="presentation"
            class="dropdown {% if 'station' in app.request.attributes.get('_route') %} active {% endif %}">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Station <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li role="presentation"
                    class="dropdown-submenu {% if 'station' in app.request.attributes.get('_route') %} active {% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" href="">Station</a>
                    <ul class="dropdown-menu">
                        <li class="{% if 'station_index' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('station_station_index') }}">{{ 'liste' |capitalize }}</a>
                        </li>
                        <li class="{% if 'station_new' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('station_station_new') }}">{{ 'ajouter' | capitalize }}</a>
                        </li>
                    </ul>
                </li>
                <li role="presentation"
                    class="dropdown-submenu {% if 'stationcarteidentite' in app.request.attributes.get('_route') %} active {% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" href="">Station - Carte d'identité</a>
                    <ul class="dropdown-menu">
                        <li class="{% if 'stationcarteidentite_index' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('stationcarteidentite_index') }}">{{ 'liste' |capitalize }}</a>
                        </li>
                        <li class="{% if 'stationcarteidentite_new' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('stationcarteidentite_new') }}">{{ 'ajouter' | capitalize }}</a>
                        </li>
                    </ul>
                </li>
                <li role="presentation"
                    class="dropdown-submenu {% if 'stationcommentvenir' in app.request.attributes.get('_route') %} active {% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" href="">Station - Comment venir</a>
                    <ul class="dropdown-menu">
                        <li class="{% if 'stationcommentvenir_index' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('stationcommentvenir_index') }}">{{ 'liste' |capitalize }}</a>
                        </li>
                        <li class="{% if 'stationcommentvenir_new' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('stationcommentvenir_new') }}">{{ 'ajouter' | capitalize }}</a>
                        </li>
                    </ul>
                </li>
                <li role="presentation"
                    class="dropdown-submenu {% if 'stationdescription' in app.request.attributes.get('_route') %} active {% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" href="">Station - Description</a>
                    <ul class="dropdown-menu">
                        <li class="{% if 'stationdescription_index' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('stationdescription_index') }}">{{ 'liste' |capitalize }}</a>
                        </li>
                        <li class="{% if 'stationdescription_new' in app.request.attributes.get('_route') %} active {% endif %}">
                            <a href="{{ path('stationdescription_new') }}">{{ 'ajouter' | capitalize }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>
{#</div>#}
