{% extends 'base.html.twig' %}
{% block title %}
    {{ 'periode' | trans | capitalize }}
{% endblock %}
{% block body %}
    <h1>{{ 'periode.liste'|trans|capitalize }}</h1>
    {% include '::flashbags.html.twig' %}
    <ul class="nav nav-tabs">
        {% for typePeriode in typePeriodes %}
            <li class="{% if loop.index == 1 %}active{% endif %}"><a data-toggle="tab"
                                                                     href="#type_periode_{{ typePeriode.id }}">{{ ('type_periode.'~typePeriode.id)|trans }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content">

        {% for typePeriode in typePeriodes %}
            <div id="type_periode_{{ typePeriode.id }}"
                 class="tab-pane fade in {% if loop.index == 1 %}active{% endif %} ">
                <table class="table table-responsive table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'id' |trans|capitalize }}</th>
                        <th>{{ 'debut' |trans|capitalize }}</th>
                        <th>{{ 'fin' |trans|capitalize }}</th>
                        <th>{{ 'nbJours' |trans|capitalize }}</th>
                        {#<th>{{ 'actions' |trans|capitalize }}</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for periode in typePeriode.periodes %}
                        <tr>
                            <td>{{ periode.id }}</td>
                            <td>{{ periode.debut|date('d-m-Y') }}</td>
                            <td>{{ periode.fin|date('d-m-Y') }}</td>
                            <td>{{ periode.nbJour }}</td>
                            {#<td>#}
                            {#<button type="button" class="btn btn-default"><span#}
                            {#class="glyphicon glyphicon-edit"></span>#}
                            {#</button>#}
                            {#<button type="button" class="btn btn-default"><span#}
                            {#class="glyphicon glyphicon-trash"></span>#}
                            {#</button>#}
                            {#</td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {#{% include '@MondofuteCore/pagination-ajax.html.twig' %}#}
        {% endfor %}
    </div>
    <div style="text-align: right">
        <ul class="list-unstyled">
            <li>
                <a class="btn btn-default"
                   href="{{ path('periode_periode_new') }}">{{ 'ajouter' | trans | capitalize }}</a>
            </li>
        </ul>
    </div>
{% endblock %}