{% extends 'base.html.twig' %}
{% block title %}
    {{ 'periode' | trans | capitalize }}
{% endblock %}
{% block body %}
    <h1>{{ 'periode.liste'|trans|capitalize }}</h1>
    {% include '::flashbags.html.twig' %}
    <ul class="nav nav-tabs">
        {% for typePeriode in typePeriodes  if typePeriode is not empty %}
            <li class="{% if loop.index == 1 %}active{% endif %}"><a data-toggle="tab"
                                                                     href="#type_periode_{{ typePeriode.id }}">{{ ('type_periode.'~typePeriode.id)|trans }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content">

        {% for key, typePeriode in typePeriodes if typePeriode is not empty %}
            <div id="type_periode_{{ typePeriode.id }}"
                    {#<div id="type_periode_"#}
                 class="tab-pane fade in {% if loop.index == 1 %}active{% endif %} ">
                {% include('@MondofutePeriode/Periode/periode.html.twig') with { 'typePeriodeId': typePeriode.id, 'periodes' : periodes[key], 'pagination' : paginations[key]} %}
            </div>
        {% endfor %}
    </div>
    <div style="text-align: right">
        <ul class="list-unstyled">
            <li>
                <a class="btn btn-default"
                   href="{{ path('periode_periode_new') }}">{{ 'ajouter' | trans | capitalize }}</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        function refreshList(typePeriodeId, page, maxPerPage) {
            var path = "{{ path('periode_periode_liste' ,{'typePeriodeId': '_typePeriodeId_' , 'page' : '_page_' , 'maxPerPage' : '_maxPerPage_' }) }}";
            path = path.replace(/_typePeriodeId_/g, typePeriodeId);
            path = path.replace(/_page_/g, page);
            path = path.replace(/_maxPerPage_/g, maxPerPage);

            $.ajax(path,
                {
                    method: 'GET'
                }
            ).done(function (data) {
                $("#type_periode_" + typePeriodeId).html(data);
            })

        }

    </script>
{% endblock %}