{% extends '::base.html.twig' %}
{% block title %}
    {{ 'periode' | trans | capitalize }}
{% endblock %}
{% block body %}
    <h1>{{ 'periode.creation'|trans|capitalize }}</h1>
    {% include '::flashbags.html.twig' %}
    <div>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.debut) }}
            <div class="col-sm-10">
                {{ form_widget(form.debut , {'attr' : {
                    'data-date_debut' : form.debut.vars.id,
                    'data-date_fin' : form.fin.vars.id }}) }}
                {#{{ form_widget(form.debut ) }}#}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.fin) }}
            <div class="col-sm-10">
                {{ form_widget(form.fin, {'attr' : {
                    'data-date_debut' : form.debut.vars.id,
                    'data-date_fin' : form.fin.vars.id
                    }}) }}
                {#{{ form_widget(form.fin) }}#}
            </div>
        </div>
        {{ form_row(form.nbJour) }}
        {{ form_row(form.type) }}
        {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </div>
    <section>
        {% block actions %}
            <div style="text-align: right">
                <ul class="list-unstyled">
                    <li><a href="{{ path('periode_periode_index') }}">{{ 'retour à la liste' | capitalize }}</a></li>
                </ul>
            </div>
        {% endblock %}
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $( document ).ready(function() {
            $('#mondofute_periode_bundle_periode_debut').on( 'change' , function ()
            {
                $element = $(this);
                dateDebut = $element.data('date_debut');
                dateFin = $element.data('date_fin');
                changeDateCustom( dateDebut, dateFin, 'dateDebut' );
            });
            $('#mondofute_periode_bundle_periode_fin').on( 'change' , function ()
            {
                $element = $(this);
                dateDebut = $element.data('date_debut');
                dateFin = $element.data('date_fin');
                changeDateCustom(dateDebut, dateFin, 'dateFin' );
            });
        });
    </script>
{% endblock %}