<table class="table table-responsive table-striped">
    <thead>
    <tr>
        <th>{{ 'id' |trans|capitalize }}</th>
        <th>{{ 'debut' |trans|capitalize }}</th>
        <th>{{ 'fin' |trans|capitalize }}</th>
        <th>{{ 'nbJours' |trans|capitalize }}</th>
        {#<th>{{ 'actions' |trans|capitalize }}</th>#}
    </tr>
    </thead>
    <tbody>
    {% for periode in periodes %}
        <tr>
            <td>{{ periode.id }}</td>
            <td>{{ periode.debut|date('d-m-Y') }}</td>
            <td>{{ periode.fin|date('d-m-Y') }}</td>
            <td>{{ periode.nbJour }}</td>
            <td>
                <button type="button" class="btn btn-default"><span
                            class="glyphicon glyphicon-edit"></span>
                </button>
                <button type="button" class="btn btn-default"><span
                            class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if  periodes is not empty %}
    {% include '@MondofuteCore/pagination-ajax.html.twig' with {'enityId': typePeriodeId , 'pagination' : pagination} %}
{% endif %}
