{% extends 'base.html.twig' %}

{% form_theme delete_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block title %}
    {{ 'visualisation du mot clef' | capitalize }}
{% endblock %}
{% block body %}
    <h1>{{ 'Visualisation du mot clef' | capitalize }}</h1>
    {% include '::flashbags.html.twig' %}
    <table class="table table-responsive table-striped">
        <tbody>
        <tr class="row">
            <th class="col-sm-1">Id</th>
            <td>{{ motClef.id }}</td>
        </tr>
        {% for traduction in motClef.traductions %}
            {% if traduction.langue.code == app.request.locale %}
                <tr class="row">
                    <th class="col-sm-1">{{ 'libelle' | capitalize }}</th>
                    <td>
                        {{ traduction.libelle }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}

        </tbody>
    </table>
    <div style="text-align: right">

        <ul class="list-unstyled">
            <li>
                <a href="{{ path('mondofute_motclef_index') }}">Retour à la liste</a>
            </li>
            <li>
                <a class="btn btn-default"
                   href="{{ path('mondofute_motclef_edit', { 'id': motClef.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                {#<input type="submit" value="Delete">#}
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
