{% extends '@MondofuteGeographie/secteurunifie/fiche.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block title %}
    {{ 'création d\une secteur' | capitalize }}
{% endblock %}

{% block titre %}
    Création d'un secteur
{% endblock %}

{% block formulaire %}
    {{ form_errors(form) }}
    {{ form_start(form) }}
    <div>
        {% for site in sites %}
            <input id="siteAEnregistrer_{{ site.id }}" checked="checked" type="checkbox" name="sites[]"
                   value="{{ site.id }}">{{ site.libelle }}
        {% endfor %}
    </div>
    {% set secteur = form.secteurs | first %}
    {#<div>#}
    {#{{ form_row( secteur.nbVache ) }}#}
    {#{{ form_row( secteur.nbHabitant ) }}#}
    {#</div>#}
    <ul class="nav nav-tabs">
        {% set iSite = 0 %}
        {% for secteur in form.secteurs %}
            <li id="menu_secteur_site_{{ secteur.vars.value.site.id }}"
                {% if(iSite==0) %}class="active"{% set iSite = 1 %}{% endif %}>
                <a data-toggle="tab"
                   href="#secteur_site_{{ secteur.vars.value.site.id }}">
                    {{ secteur.vars.value.site.libelle }}
                </a>
            </li>
            {#{{ form_row(traduction) }}#}
        {% endfor %}
    </ul>

    <div class="tab-content" style="padding:20px;">
        {% set iSite = 0 %}
        {% for secteur in form.secteurs %}
            <div id="secteur_site_{{ secteur.vars.value.site.id }}"
                 class="{% if(iSite==0) %}active{% set iSite = 1 %}{% endif %} tab-pane fade in">
                {#{{ form_row(secteur.enneige) }}#}
                {{ form_row(secteur.site) }}
                <ul class="nav nav-tabs">
                    {% set iTraduc = 0 %}
                    {% for traduction in secteur.traductions %}
                        <li {% if(iTraduc==0) %}class="active"{% set iTraduc = 1 %}{% endif %}>
                            <a data-toggle="tab"
                               href="#{{ secteur.vars.value.site.id }}_{{ traduction.vars.value.langue.id }}">
                                {# affiche la langue en fonction de la locale#}
                                {% for traductionLangue in  traduction.vars.value.langue.traductions %}
                                    {% if(traductionLangue.langueTraduction.code == app.request.locale) %}
                                        {{ traductionLangue.libelle }}
                                    {% endif %}
                                {% endfor %}
                            </a>
                        </li>
                        {#{{ form_row(traduction) }}#}
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    <p>
                        {% set iTraduc = 0 %}
                        {% for traduction in secteur.traductions %}
                    <div id="{{ secteur.vars.value.site.id }}_{{ traduction.vars.value.langue.id }}"
                         class="{% if(iTraduc==0) %}active{% set iTraduc = 1 %}{% endif %} tab-pane fade in">
                        {{ form_widget(traduction) }}
                        {{ form_errors(traduction) }}
                    </div>
                    {% endfor %}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    {{ form_row(form.submit) }}
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{#  BLOCK DES ACTIONS AUTRES QUE LA MISE A JOUR#}
{% block actions %}
    <div style="text-align: right">
        <ul class="list-unstyled">
            <li><a href="{{ path('geographie_secteur_index') }}">{{ 'retour à la liste' | capitalize }}</a></li>
            {#<li>{{ form(delete_form) }}</li>#}
        </ul>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            {% if sitesAEnregistrer is defined %}
            {% for siteAEnregistrer in sitesAEnregistrer %}
            $("#siteAEnregistrer_{{ siteAEnregistrer }}").prop("checked", true);
            {% endfor %}
            {% endif %}

            {% for site in sites %}

            if (!$("#siteAEnregistrer_{{ site.id }}").is(':checked')) {
                $("#menu_secteur_site_{{ site.id }}").hide();
            }

            $("#siteAEnregistrer_{{ site.id }}").change(function () {
                var checked = false;
                $("[id^='siteAEnregistrer_']").each(function ($a, $element) {

                    if ($(this).is(':checked')) {
                        checked = true;
                    }
                });

                if (!checked) {
                    //                    alert('impossible');
                    $("#modal_small .modal-title").text("Attention !!!");
                    $("#modal_small .modal-body").text("attention vous devez selectionner au moins 1 site");
                    $('#modal_small').modal().show();
                    $(this).prop('checked', true);
                    return false;
                }

                if (!$(this).is(':checked')) {

                    if ($("#menu_secteur_site_{{ site.id }}").hasClass('active')) {

                        $("[id^='secteur_site_']").each(function (value, element) {

                            if (!$(element).hasClass('active')) {
                                $("#menu_" + element.id + " a").tab('show');
                                return false;
                            }

                        });
                    }
                    $("#menu_secteur_site_{{ site.id }}").hide();

                } else {
                    $("#menu_secteur_site_{{ site.id }}").show();
                }
            });
            {% endfor %}

        });
    </script>
{% endblock %}