<div role="tabpanel" id="{{ idRemiseClef }}_traduction_{{ indexLangue }}"
     class="tab-pane fade in {{ active }}">
    {{ form_row(form.lieuxRemiseClef) }}
    {{ form_row(form.langue,{'attr':{'style':'display:none'},'label_attr':{'style':'display:none'}}) }}
</div>
