<div class="row item">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        {% if commentaire.auteur.vars.value == '' %}
            {#{{ form_widget(commentaire.auteur , {'value' : app.user.utilisateur.auteur.id | trans  }) }}#}
            {{ form_widget(commentaire.auteur , {'value' : app.user.utilisateur.auteur.id | trans  , 'attr' : {'style' : 'display:none'}}) }}
            {{ app.user.utilisateur }} :
        {% else %}
            {{ form_widget(commentaire.auteur , {'attr' : {'style' : 'display:none'} }) }}
            {{ commentaire.auteur.vars.data }} :
        {% endif %}
    </div>
    <div class="col-md-6">
        {% if commentaire.auteur.vars.data == null or commentaire.auteur.vars.data.utilisateur == app.user.utilisateur %}
            {{ form_widget(commentaire.contenu) }}
        {% else %}
            {{ form_widget(commentaire.contenu , {'attr' : {'style' : 'display:none'} }) }}
            <textarea class="form-control" disabled>{{ commentaire.contenu.vars.value }}</textarea>
        {% endif %}
    </div>
    {% if commentaire.auteur.vars.data == null or commentaire.auteur.vars.data.utilisateur == app.user.utilisateur %}
        <div class="col-md-2 text-right">
            {{ block('bouton_supprimer', '@MondofuteCommande/commande/fiche.html.twig') }}
        </div>
    {% endif %}
</div>