{#{% for domaine in form.domaines %}#}
    {% if domaine.vars.value.site.crm == 1 %}
        {#<div id="data_modele_description_forfait_ski" class="tab-pane fade in">#}
        {% set categorieLigneDescriptionForfaitSkiTmp = '' %}
        {% for key , descriptionForfaitSki in domaine.modeleDescriptionForfaitSki.descriptionForfaitSkis %}
            {% if categorieLigneDescriptionForfaitSkiTmp != descriptionForfaitSki.vars.value.ligneDescriptionForfaitSki.categorie.id %}
                <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">
                        {% for traduction in descriptionForfaitSki.vars.value.ligneDescriptionForfaitSki.categorie.traductions %}
                            {% if(traduction.langue.code == app.request.locale) %}
                                {{ traduction.libelle }}
                            {% endif %}
                        {% endfor %}
                    </h3></div>
                <div class="panel-body">
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">
                        {% for traduction in descriptionForfaitSki.traductions %}
                            {% if(traduction.vars.value.langue.code == app.request.locale) %}
                                {{ traduction.vars.value.libelle }}
                            {% endif %}
                        {% endfor %}
                    </h3></div>
                <div class="panel-body">
                    {{ form_row(descriptionForfaitSki.quantite) }}
                    {{ form_row(descriptionForfaitSki.classement) }}
                    {{ form_row(descriptionForfaitSki.present) }}
                    <div class="form-group"><label class="col-sm-2 control-label">Prix</label>
                        <div class="col-sm-10">
                            <div id="domaine_unifie_domaines_0_modeleDescriptionForfaitSki_descriptionForfaitSkis_{{ key }}_prix"
                                 class="form-inline">
                                {{ form_widget(descriptionForfaitSki.prix.valeur, {'type' : 'number'}) }}
                                {{ form_widget(descriptionForfaitSki.prix.unite) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-2 control-label">Age min</label>
                        <div class="col-sm-10">
                            <div id="domaine_unifie_domaines_0_modeleDescriptionForfaitSki_descriptionForfaitSkis_{{ key }}_ageMin"
                                 class="form-inline">
                                {{ form_widget(descriptionForfaitSki.ageMin.valeur, {'type' : 'number'}) }}
                                {{ form_widget(descriptionForfaitSki.ageMin.unite) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-2 control-label">Age max</label>
                        <div class="col-sm-10">
                            <div id="domaine_unifie_domaines_0_modeleDescriptionForfaitSki_descriptionForfaitSkis_{{ key }}_ageMax"
                                 class="form-inline">
                                {{ form_widget(descriptionForfaitSki.ageMax.valeur, {'type' : 'number'}) }}
                                {{ form_widget(descriptionForfaitSki.ageMax.unite) }}
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        {% set iTraduc = 0 %}
                        {% for traduction in descriptionForfaitSki.traductions %}
                            <li {% if(iTraduc==0) %}class="active"{% set iTraduc = 1 %}{% endif %}>
                                <a data-toggle="tab"
                                   href="#{{ descriptionForfaitSki.vars.value.ligneDescriptionForfaitSki.id }}_{{ traduction.vars.value.langue.id }}">
                                    {# affiche la langue en fonction de la locale#}
                                    {% for traductionLangue in  traduction.vars.value.langue.traductions %}
                                        {% if(traductionLangue.langueTraduction.code == app.request.locale) %}
                                            {{ traductionLangue.libelle }}
                                        {% endif %}
                                    {% endfor %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% set iTraduc = 0 %}
                        {% for traduction in descriptionForfaitSki.traductions %}
                            <div id="{{ descriptionForfaitSki.vars.value.ligneDescriptionForfaitSki.id }}_{{ traduction.vars.value.langue.id }}"
                                 class="{% if(iTraduc==0) %}active{% set iTraduc = 1 %}{% endif %} tab-pane fade in">
                                {#{{ form_row(traduction) }}#}
                                {#{% for element in traduction.children %}#}
                                {#{{ form_row(element) }}#}
                                {#{% endfor %}#}
                                {{ form_row(traduction.texteDur) }}
                                {{ form_row(traduction.description) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% set categorieLigneDescriptionForfaitSkiTmp = descriptionForfaitSki.vars.value.ligneDescriptionForfaitSki.categorie.id %}
            {% if domaine.modeleDescriptionForfaitSki.descriptionForfaitSkis[key + 1] is not defined or domaine.modeleDescriptionForfaitSki.descriptionForfaitSkis[key + 1].vars.value.ligneDescriptionForfaitSki.categorie.id != categorieLigneDescriptionForfaitSkiTmp %}
                </div>
                </div>
            {% endif %}
        {% endfor %}
        {#</div>#}
    {% endif %}
{#{% endfor %}#}