{% extends '@MondofuteFournisseur/fournisseur/fiche.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block title %}
    {{ 'fournisseur.edition' | trans | capitalize }}
{% endblock %}

{% block titre %}
    Edition d'un fournisseur
{% endblock %}

{#  BLOCK DES ACTIONS AUTRES QUE LA MISE A JOUR#}
{% block actions %}
    <div style="text-align: right">
        <ul class="list-unstyled">
            <li><a href="{{ path('fournisseur_index') }}">{{ 'retour à la liste' | capitalize }}</a></li>
            <li>{{ form(delete_form) }}</li>
        </ul>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% if disabledOptionHebergement == true  %}
            $( document ).ready(function() {
                $("#fournisseur_types_9").attr('disabled','disabled');
            });
        {% endif %}
    </script>
{% endblock %}
