{% extends '::base.html.twig' %}

{% block body %}
    <section>
        <h1>
            {% block titre %}
            {% endblock %}
        </h1>
    </section>
    <section>
        {% block formulaire %}
            {% include '::flashbags.html.twig' %}
            {% set countInterlocuteur = 0 %}

            {{ form_start(form) }}
            {{ form_row(form.enseigne) }}
            {{ form_row(form.fournisseurParent) }}
            {{ form_row(form.contient) }}
            {#{{ form_row(form.remiseClefs) }}#}
            <div class="form-group ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-11"
                                 onclick="var $remiseClefs = $('#remiseClefs');($remiseClefs.is(':visible'))?$remiseClefs.hide():$remiseClefs.show()">
                                {{ form_label(form.remiseClefs) }}
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-default" type="button"
                                        onclick="afficherModaleAjouterRemiseClef()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    {#{{ dump(form.remiseClefs.vars['prototype']) }}#}
                    <div class="panel-body" id="remiseClefs" data-nb-remise-clef="{{ form.remiseClefs|length }}"
                         data-prototype-traduction="
                         {% filter escape %}
        {% include '@MondofuteRemiseClef/remiseclef/prototype_traduction.html.twig' with { 'form': form.remiseClefs.vars['prototype'].traductions.vars['prototype'], 'idRemiseClef': '__idRemiseClef__', 'active':'__active__', 'indexLangue' : '__indexLangue__'} %}
    {% endfilter %}
                         "
                         data-prototype="
                    {% filter escape %}
        {% include '@MondofuteRemiseClef/remiseclef/prototype.html.twig' with { 'form': form.remiseClefs.vars['prototype'] } %}
    {% endfilter %}
                    ">
                        {% for remiseClef in form.remiseClefs %}
                            <div class="row" id="contenuRemiseClef_{{ remiseClef.vars.name }}">
                                <div class="col-sm-12">
                                    <div class="col-sm-10"
                                         id="remiseClef_{{ remiseClef.vars.name }}_libelle">{{ remiseClef.vars.value.libelle }}</div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-default" type="button"
                                                onclick="afficherModaleModifierRemiseClef({{ remiseClef.vars.name }});">
                                            modifier
                                        </button>
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-default" type="button"
                                                onclick="supprimerRemiseClef({{ remiseClef.vars.name }});">supprimer
                                        </button>
                                    </div>
                                </div>
                                <div id="formRemiseClef_{{ remiseClef.vars.name }}" style="display:none;">
                                    {% include '@MondofuteRemiseClef/remiseclef/prototype.html.twig' with { 'form': remiseClef } %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="interlocuteur_panels">
                {% for serviceInterlocuteur in serviceInterlocuteurs %}
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h3 class="panel-title">
                                {% for traduction in  serviceInterlocuteur.traductions %}
                                    {% if traduction.langue.code == app.request.locale %}
                                        {{ traduction.libelle }}
                                    {% endif %}
                                {% endfor %}
                            </h3></div>
                        <div class="panel-body">
                            <table class="table table-striped" id="service_{{ serviceInterlocuteur.id }}"
                                   data-service="{{ serviceInterlocuteur.id }}">
                                <tr>
                                    <th>Prénom</th>
                                    <th>Fonction</th>
                                    <th style="width: 225px;">Action</th>
                                </tr>

                                {% for  key, interlocuteur in fournisseur.interlocuteurs %}
                                    {% if interlocuteur.interlocuteur.service.id ==  serviceInterlocuteur.id %}
                                        <tr id="row_interlocuteur_{{ key }}">
                                            <td>{{ interlocuteur.interlocuteur.prenom }}</td>
                                            <td>
                                                {% for traduction in  interlocuteur.interlocuteur.fonction.traductions %}
                                                    {% if traduction.langue.code == app.request.locale %}
                                                        {{ traduction.libelle }}
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                <button onclick="afficherModalModificationInterlocuteur( {{ key }} )"
                                                        type='button' class='btn btn-default'> Modifier <span
                                                            class='glyphicon glyphicon-edit' aria-hidden='true'></span>
                                                </button>
                                                <button onclick="supprimerInterlocuteur( {{ key }} )"
                                                        type='button' class='btn btn-default'> Supprimer <span
                                                            class='glyphicon glyphicon-trash' aria-hidden='true'></span>
                                                </button>
                                            </td>
                                        </tr>
                                        {% set countInterlocuteur = countInterlocuteur + 1 %}
                                    {% endif %}
                                {% endfor %}
                            </table>
                            <button type="button" class="btn btn-default"
                                    data-service-libelle="{% for traduction in  serviceInterlocuteur.traductions %}{% if traduction.langue.code == app.request.locale %}{{ traduction.libelle }}{% endif %}{% endfor %}"
                                    data-service-id="{{ serviceInterlocuteur.id }}"
                                    onclick="afficherModalInterlocuteur(this);"
                            >
                                Ajouter
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {{ form_row(form.submit) }}

            {% set interlocuteurs   = form_widget( form.interlocuteurs.vars.prototype.children['interlocuteur'] ) %}

            <div id="values-interlocuteurs" style="display: none">
                {% for interlocuteur in form.interlocuteurs %}
                    {% for element in interlocuteur.children %}
                        {{ form_widget(element) }}
                    {% endfor %}
                {% endfor %}
            </div>
            {{ form_widget(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}

            <div class="modal fade" id="interlocuteurModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel"></h4>
                        </div>
                        <div class="modal-body">
                            <form id="form-interlocuteur" data-interlocuteur-index="{{ countInterlocuteur }}"
                                  data-prototype="{{ interlocuteurs | e }}"
                                  class="form-horizontal">
                                {{ interlocuteurs|raw }}
                                {#{{ prenom|raw }}#}
                                {#{{ service|raw }}#}
                                {#{{ fonction|raw }}#}
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            {#<button onclick="ajouterInterlocuteur();" id="ajout_interlocuteur" type="button" data-dismiss="modal" class="btn btn-primary">#}
                            <button onclick="ajouterInterlocuteur();" id="enregistrer_interlocuteur" type="button"
                                    class="btn btn-primary">
                                {#data-dismiss="modal" class="btn btn-primary">#}
                                Ajouter
                                un interlocuteur
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="remiseClefModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel"></h4>
                        </div>
                        <div class="modal-body" id="contenuAjoutRemiseClef">

                        </div>
                        <div class="modal-body" id="modal-remise-clef-error"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            {#<button onclick="ajouterInterlocuteur();" id="ajout_interlocuteur" type="button" data-dismiss="modal" class="btn btn-primary">#}
                            <button onclick="ajouterRemiseClef();" data-index="" id="ajouterRemiseClef" type="button"
                                    class="btn btn-primary">
                                {{ 'ajouter' | trans }}
                            </button>
                            <button onclick="modifierRemiseClef();" data-index="" id="modifierRemiseClef" type="button"
                                    class="btn btn-primary">
                                {{ 'modifier' | trans }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </section>
    <section>
        {% block actions %}

        {% endblock %}
    </section>
    {#<div id="modal_small" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"#}
    {#aria-labelledby="mySmallModalLabel">#}
    {#<div class="modal-dialog modal-sm">#}
    {#<div class="modal-content">#}
    {#<div class="modal-header">#}
    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
    {#aria-hidden="true">×</span></button>#}
    {#<h4 class="modal-title" id="mySmallModalLabel">Message</h4></div>#}
    {#<div class="modal-body"></div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var _langues = {{ langues | serialize('json') | raw }};
        function supprimerRemiseClef(index) {
            $('#contenuRemiseClef_' + index).remove();
        }
        function modifierRemiseClef() {
            var index = $('#modifierRemiseClef').attr('data-index');
            var $formRemiseClef = $('#formRemiseClef_' + index);
            var $remiseClefModal = $('#remiseClefModal');
            $formRemiseClef.html('');
            $formRemiseClef.append($remiseClefModal.find('#contenuAjoutRemiseClef div:first'));
            $('#remiseClef_' + index + '_libelle').html($('#fournisseur_remiseClefs_' + index + '_libelle').val());
            $remiseClefModal.modal('hide');
        }
        function cloneFormulaire($form) {
            var prefixe = '_deepcloned';
//            copy jquery de l'element
            $dest = $form.clone();
//            duplique les select
            $selects = $form.find('select');
            $selects.each(function () {
                $dest.find('#' + $(this).attr('id')).val($(this).val());
            });
//            duplique les textareas
            $textareas = $form.find('textarea');
            $textareas.each(function () {
                $dest.find('#' + $(this).attr('id')).val($(this).val());
            });
//            gestion des onglets pour ne pas avoir de rédondance d'id et assurer le bon fonctionnement des onglets
            $tabs = $dest.find('.tab-pane');
            $tabs.each(function () {
                $dest.find('li [href="#' + $(this).attr('id') + '"]').attr('href', '#' + $(this).attr('id') + prefixe);
                $(this).attr('id', $(this).attr('id') + prefixe);
            });
//            fin gestion des onglets
            return $dest;
        }
        function afficherModaleModifierRemiseClef(index) {
            var $remiseClefModal = $('#remiseClefModal');
            $form = $('#formRemiseClef_' + index + ' div:first');
            $copy = cloneFormulaire($form);
            $('#modal-remise-clef-error').html('');
            $remiseClefModal.find('#contenuAjoutRemiseClef').html('');
            $('#contenuAjoutRemiseClef').append($copy);
            $('#ajouterRemiseClef').css('display', 'none');
            $('#modifierRemiseClef').attr('data-index', index).css('display', '');
            $remiseClefModal.find('.modal-title').html('{{ 'modifier.remise.clef' | trans }}');
            $remiseClefModal.modal('show');

        }
        function afficherModaleAjouterRemiseClef() {
            var i = 0;
            var active = '';
            var traduction = '';
            var $remiseClefs = $('#remiseClefs');
            var $remiseClefModal = $('#remiseClefModal');
            var index = $remiseClefs.attr('data-nb-remise-clef');
            var prototype = $remiseClefs.attr('data-prototype');
            var prototypeTraduction = $remiseClefs.attr('data-prototype-traduction');
            $('#modal-remise-clef-error').html('');
//            gestion des langues et création du formulaire à partir du prototype
            prototype = prototype.replace(/__name__/g, index);

//            mise en forme de la traduction
            for (i = 0; i < _langues.length; i++) {
                if (i == 0) {
                    active = 'active';
                } else {
                    active = '';
                }
                traduction += prototypeTraduction.replace(/__idRemiseClef__/g, 'fournisseur_remiseClefs_' + index).replace(/__indexLangue__/g, i).replace(/__name__/g, index).replace(/__tradname__/g, i).replace(/__active__/g, active);
            }
            $remiseClefModal.find('#contenuAjoutRemiseClef').html(prototype);
            $('#fournisseur_remiseClefs_' + index + '_fournisseur option[value="{{ form.vars.value.id }}"]').attr('selected', 'selected');
            $('#fournisseur_remiseClefs_' + index + '_traductions').append(traduction);

//            selection de la langue
            for (i = 0; i < _langues.length; i++) {
                $('#fournisseur_remiseClefs_' + index + '_traductions').find('#fournisseur_remiseClefs_' + index + '_traductions_' + i + '_langue option[value="' + _langues[i].id + '"]').attr('selected', 'selected');
            }
            $('#ajouterRemiseClef').attr('data-index', index).css('display', '');
            $('#modifierRemiseClef').css('display', 'none');
            $remiseClefModal.find('.modal-title').html('{{ 'ajouter.remise.clef' | trans }}');
            $remiseClefModal.modal().show();
        }
        function ajouterRemiseClef() {

            if (remiseClefValidation() == true) {
                var index = $('#ajouterRemiseClef').attr('data-index');
//                var $remiseClef = $('#fournisseur_remiseClefs_' + index);
                var $remiseClef = $('#remiseClefs');
                var $remiseClefModal = $('#remiseClefModal');
                var contenuRemiseClef =
                        '<div class="row" id="contenuRemiseClef_' + index + '"><div class="col-sm-12"><div class="col-sm-10" id="remiseClef_' + index + '_libelle" >' + $('#fournisseur_remiseClefs_' + index + '_libelle').val() + '</div><div class="col-sm-1"><button class="btn btn-default" type="button" onclick="afficherModaleModifierRemiseClef(' + index + ');">modifier</button></div><div class="col-sm-1"><button class="btn btn-default" type="button" onclick="supprimerRemiseClef(' + index + ');">supprimer</button></div><div id="formRemiseClef_' + index + '" style="display:none;"></div></div></div>';
                $remiseClef.append($(contenuRemiseClef));
                $('#formRemiseClef_' + index).append($remiseClefModal.find('#contenuAjoutRemiseClef div:first'));
                $remiseClef.attr('data-nb-remise-clef', (parseInt(index) + 1));
                $remiseClefModal.modal('hide');
            } else {
                $('#modal-remise-clef-error').html('<div class="alert alert-danger">renseigner les champs obligatoires</div>');
            }
        }
        function remiseClefValidation() {
            var valide = true;
            $('#remiseClefModal').find('[required="required"]').each(function () {
                if ($(this).val() == '') {
                    $(this).attr('style', 'border: 1px solid red;');
                    valide = false;
                }
            });
            return valide;
        }
        function refuserToucheEntree(event) {
// Compatibilité IE / Firefox
            if (!event && window.event) {
                event = window.event;
            }
// IE
            if (event.keyCode == 13) {
                event.returnValue = false;
                event.cancelBubble = true;
            }
// DOM
            if (event.which == 13) {
                event.preventDefault();
                event.stopPropagation();
            }
        }

        function afficherModalInterlocuteur(element) {
            var formInterlocuteur = $('#form-interlocuteur');
            var formProtoype = formInterlocuteur.data('prototype');
            var interlocuteurIndex = formInterlocuteur.data('interlocuteur-index');
            var newForm = formProtoype.replace(/__name__/g, interlocuteurIndex);
            formInterlocuteur.html(newForm);

            $(formInterlocuteur).find('input').each(function (index, item) {
                $(item).keypress(function (event) {
                    refuserToucheEntree(event);
                });
            });

            var button = $(element); // Button that triggered the modal

            var service = button.data('service-libelle'); // Extract info from data-* attributes
            var service_id = button.data('service-id'); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $('#interlocuteurModal');

            $('#enregistrer_interlocuteur').replaceWith($('<button onclick="ajouterInterlocuteur();" id="enregistrer_interlocuteur" type="button" class="btn btn-primary">Ajouterun interlocuteur</button>'));
//                $('#enregistrer_interlocuteur').replaceWith($('<button onclick="ajouterInterlocuteur();" id="enregistrer_interlocuteur" type="button" data-dismiss="modal" class="btn btn-primary">Ajouterun interlocuteur</button>'));
            modal.find('.modal-title').text('Nouvel intelocuteur pour le service ' + service);
            modal.find('.modal-body [id$="service"]').val(service_id);
            modal.modal().show();
        }

        function ajouterInterlocuteur() {

            if (!testRequired()) {
                return false;
            }

            var interlocuteurModal = $('#interlocuteurModal');
            interlocuteurModal.modal('hide');
            var interlocuteur = {
                prenom: interlocuteurModal.find('.modal-body [id$="prenom"]').val(),
                fonction: interlocuteurModal.find('.modal-body [id$="fonction"]').val(),
                service: interlocuteurModal.find('.modal-body [id$="service"]').val()
            };
            var fonction = '';
            if (interlocuteur.fonction) {
                fonction = interlocuteurModal.find('.modal-body [id$="fonction"] option[value=\'' + interlocuteur.fonction + '\']').text();
            }

            var $formInterlocuteur = $('#form-interlocuteur');
            var $index = $formInterlocuteur.data('interlocuteur-index');

            var buttonModifie = '<button  onclick="afficherModalModificationInterlocuteur(' + $index + ');" type=\'button\' class=\'btn btn-default\'>Modifier <span class=\'glyphicon glyphicon-edit\' aria-hidden=\'true\'></span></button>';

            var $addInterlocuteur = $('<td>' + interlocuteur.prenom + '</td><td>' + fonction + '</td><td>' + buttonModifie + ' ' + getButtonSupprimer($index) + '</td>');
            var $newLigne = $('<tr id="row_interlocuteur_' + $index + '" class="success"></tr>').append($addInterlocuteur);
            $('#service_' + interlocuteur.service).append($newLigne);

            var $valuesInterlocuteur = $('#values-interlocuteurs');

            $valuesInterlocuteur.append($formInterlocuteur.html());
            $valuesInterlocuteur.find('[id$="interlocuteurs_' + $index + '_interlocuteur_prenom"]').val(interlocuteur.prenom);
            $valuesInterlocuteur.find('[id$="interlocuteurs_' + $index + '_interlocuteur_fonction"]').val(interlocuteur.fonction);
            $valuesInterlocuteur.find('[id$="interlocuteurs_' + $index + '_interlocuteur_service"]').val(interlocuteur.service);
            $formInterlocuteur.data('interlocuteur-index', $index + 1);
        }

        function afficherModalModificationInterlocuteur(index) {
            var modal = $('#interlocuteurModal');
            var $divFournisseurInterlocuteur = $('#fournisseur_interlocuteurs_' + index + '_interlocuteur');

            var interlocuteur = {
                prenom: $divFournisseurInterlocuteur.find('[id$="prenom"]').val(),
                fonction: $divFournisseurInterlocuteur.find('[id$="fonction"]').val(),
                service: $divFournisseurInterlocuteur.find('[id$="service"]').val()
            };


            var service = '';
            if (interlocuteur.service) {
                service = $divFournisseurInterlocuteur.find('[id$="service"] option[value=\'' + interlocuteur.service + '\']').text();
            }
            modal.find('.modal-title').text('Modifier intelocuteur pour le service ' + service);

            $divFournisseurInterlocuteurClone = $divFournisseurInterlocuteur.clone();

            $formInterlocuteur = $('#form-interlocuteur');
            $formInterlocuteur.html($divFournisseurInterlocuteurClone);

            $formInterlocuteur.find('input, select').each(function (index, item) {
                $(item).attr('style', 'border: 1px solid #cccccc;');
                $(item).keypress(function (event) {
                    refuserToucheEntree(event);
                });
            });

            $divFournisseurInterlocuteurClone.find('[id$="interlocuteurs_' + index + '_interlocuteur_prenom"]').val(interlocuteur.prenom);
            $divFournisseurInterlocuteurClone.find('[id$="interlocuteurs_' + index + '_interlocuteur_fonction"]').val(interlocuteur.fonction);
            $divFournisseurInterlocuteurClone.find('[id$="interlocuteurs_' + index + '_interlocuteur_service"]').val(interlocuteur.service);

            $('#enregistrer_interlocuteur').replaceWith($('<button id="enregistrer_interlocuteur" type="button" class="btn btn-primary" onclick="modifierInterlocuteur(\'' + index + '\');">Modifer cet interlocuteur</button>'));

            modal.modal('show');
        }

        function modifierInterlocuteur(index) {

            if (!testRequired()) {
                return false;
            }
            var interlocuteurModal = $('#interlocuteurModal');
            interlocuteurModal.modal('hide');


            var interlocuteur = {
                prenom: interlocuteurModal.find('.modal-body [id$="prenom"]').val(),
                fonction: interlocuteurModal.find('.modal-body [id$="fonction"]').val(),
                service: interlocuteurModal.find('.modal-body [id$="service"]').val()
            };
            var fonction = '';
            if (interlocuteur.fonction) {
                fonction = interlocuteurModal.find('.modal-body [id$="fonction"] option[value=\'' + interlocuteur.fonction + '\']').text();
            }

            var buttonModifie = '<button onclick="afficherModalModificationInterlocuteur(' + index + ');" id=\'modifie_interlocuteur_' + index + '\' \' type=\'button\' class=\'btn btn-default\'>Modifier <span class=\'glyphicon glyphicon-edit\' aria-hidden=\'true\'></span></button>';

            var $addInterlocuteur = $('<td>' + interlocuteur.prenom + '</td><td>' + fonction + '</td><td>' + buttonModifie + ' ' + getButtonSupprimer(index) + '</td>');
            var $newLigne = $('<tr id="row_interlocuteur_' + index + '" class="success"></tr>').append($addInterlocuteur);
            $('#row_interlocuteur_' + index).remove();
            $('#service_' + interlocuteur.service).append($newLigne);

            var $valuesInterlocuteur = $('#values-interlocuteurs');

            $valuesInterlocuteur.find('[id$="interlocuteurs_' + index + '_interlocuteur_prenom"]').val(interlocuteur.prenom);
            $valuesInterlocuteur.find('[id$="interlocuteurs_' + index + '_interlocuteur_fonction"]').val(interlocuteur.fonction);
            $valuesInterlocuteur.find('[id$="interlocuteurs_' + index + '_interlocuteur_service"]').val(interlocuteur.service);

            $('#enregistrer_interlocuteur').replaceWith($('<button onclick="ajouterInterlocuteur();" id="enregistrer_interlocuteur" type="button" class="btn btn-primary">Ajouterun interlocuteur</button>'));
        }

        function supprimerInterlocuteur(index) {
            $('#row_interlocuteur_' + index).remove();
            $('#fournisseur_interlocuteurs_' + index + '_interlocuteur').remove();
        }

        function getButtonSupprimer(index) {
            var buttonSupprimer = '<button onclick="supprimerInterlocuteur(' + index + ');" type=\'button\' class=\'btn btn-default\'> Supprimer <span class=\'glyphicon glyphicon-trash\' aria-hidden=\'true\'></span></button>';
            return buttonSupprimer;
        }


        var $fournisseur_fournisseurParent = $('#fournisseur_fournisseurParent');

        $fournisseur_fournisseurParent.on('change', function (event) {
            var optionVal = $(event.target).find(":selected").val();
            fournisseurParentSelect(optionVal);
        });

        function fournisseurParentSelect(optionVal) {

            var $fournisseur_contient = $('#fournisseur_contient');
            var $interlocuteur_panels = $('#interlocuteur_panels');
            if (optionVal) {
                $interlocuteur_panels.hide();
                $fournisseur_contient.val(1);
                $fournisseur_contient.find('option:not(:selected)').prop('disabled', 'disabled');
                var $values_interlocuteurs = $('#values-interlocuteurs');
                $values_interlocuteurs.children().each(function (index, element) {
                    var index = element.id.split('_')[2];
                    $('#row_interlocuteur_' + index).remove();
                });
                $values_interlocuteurs.html("");
            }
            else {
                $interlocuteur_panels.show();
                $fournisseur_contient.find('option:not(:selected)').prop('disabled', false);
            }
        }

        var optionVal = $fournisseur_fournisseurParent.find(":selected").val();
        fournisseurParentSelect(optionVal);

        function testRequired() {
            fail = false;
            fail_tab = [];
            $('#form-interlocuteur').find('select, textarea, input').each(function () {
                if (!$(this).prop('required')) {

                } else {
                    if (!$(this).val()) {
                        fail = true;
                        fail_tab.push($(this));
                    }
                    else {
                        $(this).attr('style', 'border: 1px solid green;');
                    }
                }
            });

            //submit if fail never got set to true
            if (!fail) {
                //process form here.
                return true;
            } else {
                var first = true;
                fail_tab.forEach(function ($item) {
                    if (first) {
                        $item.focus();
                        first = false;
                    }
                    // do something with `item`
//                    console.log($item);
                    $item.attr('style', 'border: 1px solid red;')
                });
                return false;
            }
        }


    </script>
{% endblock %}