{% extends '::base.html.twig' %}

{% block body %}
    <section>
        <h1>
            {% block titre %}
            {% endblock %}
        </h1>
    </section>
    <section>
        {% block formulaire %}
            {% include '::flashbags.html.twig' %}
            {% set countInterlocuteur = 0 %}

            {{ form_start(form) }}
            {{ form_row(form.enseigne) }}
            {{ form_row(form.type) }}
            {{ form_row(form.fournisseurParent) }}
            {{ form_row(form.contient) }}

            <div id="interlocuteur_panels">
                {% for serviceInterlocuteur in serviceInterlocuteurs %}
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h3 class="panel-title">
                                {% for traduction in  serviceInterlocuteur.traductions %}
                                    {% if traduction.langue.code == app.request.locale %}
                                        {{ traduction.libelle }}
                                    {% endif %}
                                {% endfor %}
                            </h3></div>
                        <div class="panel-body">
                            <table class="table table-striped" id="service_{{ serviceInterlocuteur.id }}"
                                   data-service="{{ serviceInterlocuteur.id }}">
                                <tr>
                                    <th>Prénom / Nom</th>
                                    <th>Fonction</th>
                                    <th style="width: 225px;">Action</th>
                                </tr>

                                {% for  key, interlocuteur in fournisseur.interlocuteurs %}
                                    {% if interlocuteur.interlocuteur.service.id ==  serviceInterlocuteur.id %}
                                        <tr id="row_interlocuteur_{{ key }}">
                                            <td>{{ interlocuteur.interlocuteur.prenom }} {{ interlocuteur.interlocuteur.nom }}</td>
                                            <td>
                                                {% for traduction in  interlocuteur.interlocuteur.fonction.traductions %}
                                                    {% if traduction.langue.code == app.request.locale %}
                                                        {{ traduction.libelle }}
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                <button onclick="afficherModalModificationInterlocuteur( {{ key }} )"
                                                        type='button' class='btn btn-default'> Modifier <span
                                                            class='glyphicon glyphicon-edit' aria-hidden='true'></span>
                                                </button>
                                                <button onclick="supprimerInterlocuteur( {{ key }} )"
                                                        type='button' class='btn btn-default'> Supprimer <span
                                                            class='glyphicon glyphicon-trash' aria-hidden='true'></span>
                                                </button>
                                            </td>
                                        </tr>
                                        {% set countInterlocuteur = countInterlocuteur + 1 %}
                                    {% endif %}
                                {% endfor %}
                            </table>
                            <button type="button" class="btn btn-default"
                                    data-service-libelle="{% for traduction in  serviceInterlocuteur.traductions %}{% if traduction.langue.code == app.request.locale %}{{ traduction.libelle }}{% endif %}{% endfor %}"
                                    data-service-id="{{ serviceInterlocuteur.id }}"
                                    onclick="afficherModalInterlocuteur(this);"
                            >
                                Ajouter
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {{ form_row(form.submit) }}

            {% set interlocuteurs   = form_widget( form.interlocuteurs.vars.prototype.children['interlocuteur'] ) %}

            {% set interlocuteurMoyenCommunication = form_widget( form.interlocuteurs.vars.prototype.children['interlocuteur'].children['moyenCommunications'].vars.prototype ) %}
            {{ dump(interlocuteurMoyenCommunication) }}
            <div id="values-interlocuteurs" style="display: none">
                {% for interlocuteur in form.interlocuteurs %}
                    {% for element in interlocuteur.children %}
                        {{ form_widget(element) }}
                    {% endfor %}
                {% endfor %}
            </div>
            {{ form_widget(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}

            <div class="modal fade" id="interlocuteurModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel"></h4>
                        </div>
                        <div class="modal-body">
                            <form id="form-interlocuteur" data-interlocuteur-index="{{ countInterlocuteur }}"
                                  data-prototype="{{ interlocuteurs | e }}"
                                  class="form-horizontal">
                                {{ interlocuteurs|raw }}
                                {#{{ prenom|raw }}#}
                                {#{{ service|raw }}#}
                                {#{{ fonction|raw }}#}
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            {#<button onclick="ajouterInterlocuteur();" id="ajout_interlocuteur" type="button" data-dismiss="modal" class="btn btn-primary">#}
                            <button onclick="ajouterInterlocuteur();" id="enregistrer_interlocuteur" type="button"
                                    class="btn btn-primary">
                                {#data-dismiss="modal" class="btn btn-primary">#}
                                Ajouter
                                un interlocuteur
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}
    </section>
    <section>
        {% block actions %}

        {% endblock %}
    </section>
    {#<div id="modal_small" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"#}
    {#aria-labelledby="mySmallModalLabel">#}
    {#<div class="modal-dialog modal-sm">#}
    {#<div class="modal-content">#}
    {#<div class="modal-header">#}
    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
    {#aria-hidden="true">×</span></button>#}
    {#<h4 class="modal-title" id="mySmallModalLabel">Message</h4></div>#}
    {#<div class="modal-body"></div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        function refuserToucheEntree(event) {
// Compatibilité IE / Firefox
            if (!event && window.event) {
                event = window.event;
            }
// IE
            if (event.keyCode == 13) {
                event.returnValue = false;
                event.cancelBubble = true;
            }
// DOM
            if (event.which == 13) {
                event.preventDefault();
                event.stopPropagation();
            }
        }

        function afficherModalInterlocuteur(element) {
            var formInterlocuteur = $('#form-interlocuteur');
            var formProtoype = formInterlocuteur.data('prototype');
            var interlocuteurIndex = formInterlocuteur.data('interlocuteur-index');
            var newForm = formProtoype.replace(/__name__/g, interlocuteurIndex);
            formInterlocuteur.html(newForm);

            $(formInterlocuteur).find('input').each(function (index, item) {
                $(item).keypress(function (event) {
                    refuserToucheEntree(event);
                });
            });

//            console.log($(formInterlocuteur).find('[id$="_date_naissance"]'));

            var button = $(element); // Button that triggered the modal

            var service = button.data('service-libelle'); // Extract info from data-* attributes
            var service_id = button.data('service-id'); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $('#interlocuteurModal');

            $('#enregistrer_interlocuteur').replaceWith($('<button onclick="ajouterInterlocuteur();" id="enregistrer_interlocuteur" type="button" class="btn btn-primary">Ajouterun interlocuteur</button>'));
//                $('#enregistrer_interlocuteur').replaceWith($('<button onclick="ajouterInterlocuteur();" id="enregistrer_interlocuteur" type="button" data-dismiss="modal" class="btn btn-primary">Ajouterun interlocuteur</button>'));
            modal.find('.modal-title').text('Nouvel intelocuteur pour le service ' + service);
            modal.find('.modal-body [id$="service"]').val(service_id);
            modal.modal().show();
        }

        function ajouterInterlocuteur() {

            if (!testRequired()) {
                return false;
            }

            var interlocuteurModal = $('#interlocuteurModal');
            interlocuteurModal.modal('hide');
            var interlocuteur = {
                prenom: interlocuteurModal.find('.modal-body [id$="_prenom"]').val(),
                nom: interlocuteurModal.find('.modal-body [id$="_nom"]').val(),
                fonction: interlocuteurModal.find('.modal-body [id$="_fonction"]').val(),
                service: interlocuteurModal.find('.modal-body [id$="_service"]').val()
            };
            var fonction = '';
            if (interlocuteur.fonction) {
                fonction = interlocuteurModal.find('.modal-body [id$="fonction"] option[value=\'' + interlocuteur.fonction + '\']').text();
            }

            var $formInterlocuteur = $('#form-interlocuteur');
            var $index = $formInterlocuteur.data('interlocuteur-index');

            var buttonModifie = '<button  onclick="afficherModalModificationInterlocuteur(' + $index + ');" type=\'button\' class=\'btn btn-default\'>Modifier <span class=\'glyphicon glyphicon-edit\' aria-hidden=\'true\'></span></button>';

            var $addInterlocuteur = $('<td>' + interlocuteur.prenom + ' ' + interlocuteur.nom + '</td><td>' + fonction + '</td><td>' + buttonModifie + ' ' + getButtonSupprimer($index) + '</td>');
            var $newLigne = $('<tr id="row_interlocuteur_' + $index + '" class="success"></tr>').append($addInterlocuteur);
            $('#service_' + interlocuteur.service).append($newLigne);

            var $valuesInterlocuteur = $('#values-interlocuteurs');

            $valuesInterlocuteur.append($formInterlocuteur.html());
            $valuesInterlocuteur.find('[id$="interlocuteurs_' + $index + '_interlocuteur_prenom"]').val(interlocuteur.prenom);
            $valuesInterlocuteur.find('[id$="interlocuteurs_' + $index + '_interlocuteur_nom"]').val(interlocuteur.nom);
            $valuesInterlocuteur.find('[id$="interlocuteurs_' + $index + '_interlocuteur_fonction"]').val(interlocuteur.fonction);
            $valuesInterlocuteur.find('[id$="interlocuteurs_' + $index + '_interlocuteur_service"]').val(interlocuteur.service);
            $formInterlocuteur.data('interlocuteur-index', $index + 1);
        }

        function afficherModalModificationInterlocuteur(index) {
            var modal = $('#interlocuteurModal');
            var $divFournisseurInterlocuteur = $('#fournisseur_interlocuteurs_' + index + '_interlocuteur');

            var interlocuteur = {
                prenom: $divFournisseurInterlocuteur.find('[id$="_prenom"]').val(),
                nom: $divFournisseurInterlocuteur.find('[id$="_nom"]').val(),
                fonction: $divFournisseurInterlocuteur.find('[id$="_fonction"]').val(),
                service: $divFournisseurInterlocuteur.find('[id$="_service"]').val()
            };


            var service = '';
            if (interlocuteur.service) {
                service = $divFournisseurInterlocuteur.find('[id$="service"] option[value=\'' + interlocuteur.service + '\']').text();
            }
            modal.find('.modal-title').text('Modifier intelocuteur pour le service ' + service);

            $divFournisseurInterlocuteurClone = $divFournisseurInterlocuteur.clone();

            $formInterlocuteur = $('#form-interlocuteur');
            $formInterlocuteur.html($divFournisseurInterlocuteurClone);

            $formInterlocuteur.find('input, select').each(function (index, item) {
                $(item).attr('style', 'border: 1px solid #cccccc;');
                $(item).keypress(function (event) {
                    refuserToucheEntree(event);
                });
            });

            $divFournisseurInterlocuteurClone.find('[id$="interlocuteurs_' + index + '_interlocuteur_prenom"]').val(interlocuteur.prenom);
            $divFournisseurInterlocuteurClone.find('[id$="interlocuteurs_' + index + '_interlocuteur_nom"]').val(interlocuteur.nom);
            $divFournisseurInterlocuteurClone.find('[id$="interlocuteurs_' + index + '_interlocuteur_fonction"]').val(interlocuteur.fonction);
            $divFournisseurInterlocuteurClone.find('[id$="interlocuteurs_' + index + '_interlocuteur_service"]').val(interlocuteur.service);

            $('#enregistrer_interlocuteur').replaceWith($('<button id="enregistrer_interlocuteur" type="button" class="btn btn-primary" onclick="modifierInterlocuteur(\'' + index + '\');">Modifer cet interlocuteur</button>'));

            modal.modal('show');
        }

        function modifierInterlocuteur(index) {

            if (!testRequired()) {
                return false;
            }
            var interlocuteurModal = $('#interlocuteurModal');
            interlocuteurModal.modal('hide');


            var interlocuteur = {
                prenom: interlocuteurModal.find('.modal-body [id$="_prenom"]').val(),
                nom: interlocuteurModal.find('.modal-body [id$="_nom"]').val(),
                fonction: interlocuteurModal.find('.modal-body [id$="_fonction"]').val(),
                service: interlocuteurModal.find('.modal-body [id$="_service"]').val()
            };
            var fonction = '';
            if (interlocuteur.fonction) {
                fonction = interlocuteurModal.find('.modal-body [id$="fonction"] option[value=\'' + interlocuteur.fonction + '\']').text();
            }

            var buttonModifie = '<button onclick="afficherModalModificationInterlocuteur(' + index + ');" id=\'modifie_interlocuteur_' + index + '\' \' type=\'button\' class=\'btn btn-default\'>Modifier <span class=\'glyphicon glyphicon-edit\' aria-hidden=\'true\'></span></button>';

            var $addInterlocuteur = $('<td>' + interlocuteur.prenom + ' ' + interlocuteur.nom + '</td><td>' + fonction + '</td><td>' + buttonModifie + ' ' + getButtonSupprimer(index) + '</td>');
            var $newLigne = $('<tr id="row_interlocuteur_' + index + '" class="success"></tr>').append($addInterlocuteur);
            $('#row_interlocuteur_' + index).remove();
            $('#service_' + interlocuteur.service).append($newLigne);

            var $valuesInterlocuteur = $('#values-interlocuteurs');

            $valuesInterlocuteur.find('[id$="interlocuteurs_' + index + '_interlocuteur_prenom"]').val(interlocuteur.prenom);
            $valuesInterlocuteur.find('[id$="interlocuteurs_' + index + '_interlocuteur_nom"]').val(interlocuteur.nom);
            $valuesInterlocuteur.find('[id$="interlocuteurs_' + index + '_interlocuteur_fonction"]').val(interlocuteur.fonction);
            $valuesInterlocuteur.find('[id$="interlocuteurs_' + index + '_interlocuteur_service"]').val(interlocuteur.service);

            $('#enregistrer_interlocuteur').replaceWith($('<button onclick="ajouterInterlocuteur();" id="enregistrer_interlocuteur" type="button" class="btn btn-primary">Ajouterun interlocuteur</button>'));
        }

        function supprimerInterlocuteur(index) {
            $('#row_interlocuteur_' + index).remove();
            $('#fournisseur_interlocuteurs_' + index + '_interlocuteur').remove();
        }

        function getButtonSupprimer(index) {
            var buttonSupprimer = '<button onclick="supprimerInterlocuteur(' + index + ');" type=\'button\' class=\'btn btn-default\'> Supprimer <span class=\'glyphicon glyphicon-trash\' aria-hidden=\'true\'></span></button>';
            return buttonSupprimer;
        }


        var $fournisseur_fournisseurParent = $('#fournisseur_fournisseurParent');

        $fournisseur_fournisseurParent.on('change', function (event) {
            var optionVal = $(event.target).find(":selected").val();
            fournisseurParentSelect(optionVal);
        });

        function fournisseurParentSelect(optionVal) {

            var $fournisseur_contient = $('#fournisseur_contient');
            var $interlocuteur_panels = $('#interlocuteur_panels');
            if (optionVal) {
                $interlocuteur_panels.hide();
                $fournisseur_contient.val(1);
                $fournisseur_contient.find('option:not(:selected)').prop('disabled', 'disabled');
                var $values_interlocuteurs = $('#values-interlocuteurs');
                $values_interlocuteurs.children().each(function (index, element) {
                    var index = element.id.split('_')[2];
                    $('#row_interlocuteur_' + index).remove();
                });
                $values_interlocuteurs.html("");
            }
            else {
                $interlocuteur_panels.show();
                $fournisseur_contient.find('option:not(:selected)').prop('disabled', false);
            }
        }

        var optionVal = $fournisseur_fournisseurParent.find(":selected").val();
        fournisseurParentSelect(optionVal);

        function testRequired() {
            fail = false;
            fail_tab = [];
            $('#form-interlocuteur').find('select, textarea, input').each(function () {
                if (!$(this).prop('required')) {

                } else {
                    if (!$(this).val()) {
                        fail = true;
                        fail_tab.push($(this));
                    }
                    else {
                        $(this).attr('style', 'border: 1px solid green;');
                    }
                }
            });

            //submit if fail never got set to true
            if (!fail) {
                //process form here.
                return true;
            } else {
                var first = true;
                fail_tab.forEach(function ($item) {
                    if (first) {
                        $item.focus();
                        first = false;
                    }
                    // do something with `item`
//                    console.log($item);
                    $item.attr('style', 'border: 1px solid red;')
                });
                return false;
            }
        }


    </script>
{% endblock %}