{% if formAjax is defined %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% endif %}
    {#{{ dump(form.prestationAnnexes) }}#}
{% for prestationAnnexe in form.prestationAnnexes %}
    <div id="{{ prestationAnnexe.vars.id }}">
            {{ form_row(prestationAnnexe.type) }}
            {{ form_row(prestationAnnexe.capacite) }}

            {{ form_row(prestationAnnexe.dureeSejour) }}
            {{ form_row(prestationAnnexe.prestationAnnexe) }}
        <div>
            {% include('@MondofuteFournisseur/fournisseur/template-traduction-fournisseur-prestation-annexe.html.twig') with {'traductions': prestationAnnexe.traductions, 'langues': langues, 'name': prestationAnnexe.vars.id, 'entity': 'fournisseur_prestation_annexe'} %}
        </div>
    </div>
{% endfor %}
