{% if formAjax is defined %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% endif %}
{% for prestationAnnexe in form.prestationAnnexes %}
    <div id="{{ prestationAnnexe.vars.id }}" data-id="{{ prestationAnnexe.vars.value.id }}">
        <div>
            {% include('@MondofuteFournisseur/fournisseur/template-traduction-fournisseur-prestation-annexe.html.twig') with {'traductions': prestationAnnexe.traductions, 'langues': langues, 'name': prestationAnnexe.vars.id, 'entity': 'fournisseur_prestation_annexe'} %}
            {{ form_row(prestationAnnexe.freeSale) }}
        </div>
        <div>
            <ul class="params{{ prestationAnnexe.vars.value.prestationAnnexe.id }}" data-prototype="
                    {% filter escape %}
                        {% include ('@MondofuteFournisseurPrestationAnnexe/widget-fournisseur-prestation-annexe-param.html.twig') with { 'param' : prestationAnnexe.params.vars.prototype |e('html_attr') , 'index' : prestationAnnexe.vars.value.prestationAnnexe.id , 'keyParam' : '__name_param__'} %}
                    {% endfilter %}
                        ">
                {# iterate over each existing tag and render its only field: name #}
                {% for keyParam, param in prestationAnnexe.params %}
                    <li class="li_param">
                        {% include ('@MondofuteFournisseurPrestationAnnexe/widget-fournisseur-prestation-annexe-param.html.twig') with { 'index' : prestationAnnexe.vars.value.prestationAnnexe.id } %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        var collectionParam = function () {
            $collectionHolderParam{{ prestationAnnexe.vars.value.prestationAnnexe.id }} = $('ul.params{{ prestationAnnexe.vars.value.prestationAnnexe.id }}');
            $collectionHolderParam{{ prestationAnnexe.vars.value.prestationAnnexe.id }}.find('.li_param').each(function () {
                addTagFormDeleteLink($(this));
            });
            $collectionHolderParam{{ prestationAnnexe.vars.value.prestationAnnexe.id }}.append($newLinkLiParam{{ prestationAnnexe.vars.value.prestationAnnexe.id }});
            $collectionHolderParam{{ prestationAnnexe.vars.value.prestationAnnexe.id }}.data('index', $collectionHolderParam{{ prestationAnnexe.vars.value.prestationAnnexe.id }}.find('.li_param').length);
            $addTagLinkParam{{ prestationAnnexe.vars.value.prestationAnnexe.id }}.on('click', function (e) {
                e.preventDefault();
                addTagForm($collectionHolderParam{{ prestationAnnexe.vars.value.prestationAnnexe.id }}, $newLinkLiParam{{ prestationAnnexe.vars.value.prestationAnnexe.id }} , '__name_param__');
            });
        };
        if (window.jQuery) {
            var $collectionHolderParam{{ prestationAnnexe.vars.value.prestationAnnexe.id }};
            var $addTagLinkParam{{ prestationAnnexe.vars.value.prestationAnnexe.id }} = $('<a href="#" class="add_param_link">Ajouter</a>');
            var $newLinkLiParam{{ prestationAnnexe.vars.value.prestationAnnexe.id }} = $('<li></li>').append($addTagLinkParam{{ prestationAnnexe.vars.value.prestationAnnexe.id }});
            collectionParam();
        }
    </script>
{% endfor %}

