{% extends 'base.html.twig' %}
{% block title %}
    {{ 'Liste des fournisseurs' | capitalize }}
{% endblock %}
{% block body %}
    <h1>{{ 'liste des fournisseurs' | capitalize }}</h1>

    {% include '::flashbags.html.twig' %}
    <table class="table-responsive table-striped table">
        <thead>
        <tr>
            <th>Id</th>
            <th>{{ 'enseigne' | capitalize }}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td>
                    <a href="{{ path('fournisseur_show', { 'id': fournisseur.id }) }}">{{ fournisseur.id }}</a>
                </td>
                <td>
                    {{ fournisseur.enseigne }}
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a class="btn btn-default"
                               href="{{ path('fournisseur_show', { 'id': fournisseur.id }) }}">{{ 'visualiser' | capitalize }}</a>
                        </li>
                        <li>
                            <a class="btn btn-default"
                               href="{{ path('fournisseur_edit', { 'id': fournisseur.id }) }}">{{ 'modifier' | capitalize }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="text-align: right">
        <ul class="list-unstyled">
            <li>
                <a class="btn btn-default" href="{{ path('fournisseur_new') }}">{{ 'ajouter' | capitalize }}</a>
            </li>
        </ul>
    </div>
    {% include '@MondofuteCore/pagination.html.twig' %}
{% endblock %}
