{% for famillePrestationAnnexe in famillePrestationAnnexes %}
    {#{{ dump(famillePrestationAnnexe.prestationAnnexes) }}#}
    <div class="panel panel-primary" id="famillePrestationAnnexe_{{ famillePrestationAnnexe.id }}" style="">
        <div class="panel-heading">
            {% for traduction in famillePrestationAnnexe.traductions %}
                {% if traduction.langue.code == app.request.locale %}
                    {{ traduction.libelle }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="panel-body">
            {% for prestationAnnexe in famillePrestationAnnexe.prestationAnnexes %}
                {% for formPrestationAnnexe in form.prestationAnnexes %}
                    {#{{ dump(prestationAnnexe.id) }}#}
                    {#{{ dump(formPrestationAnnexe.vars.value) }}#}
                    {% if prestationAnnexe.id == formPrestationAnnexe.vars.value %}
                        {#{{ dump(formPrestationAnnexe) }}#}
                        {{ form_widget(formPrestationAnnexe) }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endfor %}