{{ form_row(tarif.prixPublic) }}
<h3>Périodes de validité</h3>
<ul class="periode_validites{{ name }}{{ index }}"
    {#data-prototype="{{ form_widget(tarif.periodeValidites.vars.prototype)|e('html_attr') }}">#}
    data-prototype="
    {% filter escape %}
        {% include('@MondofuteFournisseur/fournisseur/widget-periode-validite.html.twig') with {'periodeValidite': tarif.periodeValidites.vars.prototype} %}
    {% endfilter %}">
    {% for periodeValidite in tarif.periodeValidites %}
        <li class="li_periode_validite">
            {#{{ form_widget(periodeValidite) }}#}
            {% include ('@MondofuteFournisseur/fournisseur/widget-periode-validite.html.twig')  with {'periodeValidite' : periodeValidite  } %}
        </li>
    {% endfor %}
</ul>
<script>

var collectionPeriodeValidite = function() {
    $collectionHolderperiode_validite{{ name }}{{ index }} = $('ul.periode_validites{{ name }}{{ index }}');
    $collectionHolderperiode_validite{{ name }}{{ index }}.find('.li_periode_validite').each(function() {
        addTagFormDeleteLink($(this));
    });
    $collectionHolderperiode_validite{{ name }}{{ index }}.append($newLinkLiperiode_validite{{ name }}{{ index }});
    $collectionHolderperiode_validite{{ name }}{{ index }}.data('index', $collectionHolderperiode_validite{{ name }}{{ index }}.find('.li_periode_validite').length);
    $addTagLinkperiode_validite{{ name }}{{ index }}.on('click', function (e) {
        e.preventDefault();
        addTagForm($collectionHolderperiode_validite{{ name }}{{ index }}, $newLinkLiperiode_validite{{ name }}{{ index }} , '__periode_validite_name__');
    });
}
if (window.jQuery){
    var $collectionHolderperiode_validite{{ name }}{{ index }};
    var $addTagLinkperiode_validite{{ name }}{{ index }} = $('<a href="#" class="add_periode_validite_link">Ajouter</a>');
    var $newLinkLiperiode_validite{{ name }}{{ index }} = $('<li></li>').append($addTagLinkperiode_validite{{ name }}{{ index }});
    collectionPeriodeValidite();
    periodevaliditeDatetimePicker();
}
</script>