<table>
    <thead>
    <tr>
        <th>{{ form_label(tarif.prixCatalogue) }}</th>
        <th>{{ form_label(tarif.prixPublic) }}</th>
        <th>{{ form_label(tarif.comMondofute) }}</th>
        <th>{{ form_label(tarif.prixAchat) }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ form_widget(tarif.prixCatalogue, { 'type' : 'number' , 'attr' :{ 'min' : 0, 'step' : "any"}}) }}</td>
        <td>{{ form_widget(tarif.prixPublic, { 'type' : 'number' , 'attr' :{ 'min' : 0, 'step' : "any"}}) }}</td>
        <td>{{ form_widget(tarif.comMondofute, { 'type' : 'number' , 'attr' :{ 'min' : 0, 'step' : "any"}}) }}</td>
        <td>{{ form_widget(tarif.prixAchat, { 'type' : 'number' , 'attr': { 'min' : 0, 'step' : "any"}}) }}</td>
    </tr>
    </tbody>
</table>
<h3>Périodes de validité</h3>
<ul class="periode_validites_{{ keyParam }}_{{ name }}_{{ index }}"
        {#data-prototype="{{ form_widget(tarif.periodeValidites.vars.prototype)|e('html_attr') }}">#}
    data-prototype="
    {% filter escape %}
        {% include('@MondofuteFournisseur/fournisseur/widget-periode-validite.html.twig') with {'periodeValidite': tarif.periodeValidites.vars.prototype} %}
    {% endfilter %}">
    {% for periodeValidite in tarif.periodeValidites %}
        <li class="li_periode_validite">
            {#{{ form_widget(periodeValidite) }}#}
            {% include ('@MondofuteFournisseur/fournisseur/widget-periode-validite.html.twig')  with {'periodeValidite' : periodeValidite  } %}
        </li>
    {% endfor %}
</ul>
<script>

    var collectionPeriodeValidite = function () {
        $collectionHolderperiode_validite_{{ keyParam }}_{{ name }}_{{ index }} = $('ul.periode_validites_{{ keyParam }}_{{ name }}_{{ index }}');
        $collectionHolderperiode_validite_{{ keyParam }}_{{ name }}_{{ index }}.find('.li_periode_validite').each(function () {
            addTagFormDeleteLink($(this));
        });
        $collectionHolderperiode_validite_{{ keyParam }}_{{ name }}_{{ index }}.append($newLinkLiperiode_validite_{{ keyParam }}_{{ name }}_{{ index }});
        $collectionHolderperiode_validite_{{ keyParam }}_{{ name }}_{{ index }}.data('index', $collectionHolderperiode_validite_{{ keyParam }}_{{ name }}_{{ index }}.find('.li_periode_validite').length);
        $addTagLinkperiode_validite_{{ keyParam }}_{{ name }}_{{ index }}.on('click', function (e) {
            e.preventDefault();
            addTagForm($collectionHolderperiode_validite_{{ keyParam }}_{{ name }}_{{ index }}, $newLinkLiperiode_validite_{{ keyParam }}_{{ name }}_{{ index }} , '__periode_validite_name__');
        });
        $collectionHolderperiode_validite_{{ keyParam }}_{{ name }}_{{ index }}.find('.datetimepicker').datetimepicker({
            format: 'dd/mm/yyyy - hh:ii',
            autoclose: true,
            todayBtn: true,
            startDate: 'today',
            pickerPosition: "top-right",
            language: 'fr',
            minuteStep: 30
        }).on('hide', function (e) {
            return false;
        }).removeClass('datetimepicker');
    };
    if (window.jQuery) {
        var $collectionHolderperiode_validite_{{ keyParam }}_{{ name }}_{{ index }};
        var $addTagLinkperiode_validite_{{ keyParam }}_{{ name }}_{{ index }} = $('<a href="#" class="add_periode_validite_link">Ajouter</a>');
        var $newLinkLiperiode_validite_{{ keyParam }}_{{ name }}_{{ index }} = $('<li></li>').append($addTagLinkperiode_validite_{{ keyParam }}_{{ name }}_{{ index }});
        collectionPeriodeValidite();
//        periodevaliditeDatetimePicker();
    }
</script>