{#{% stylesheets 'css/bootstrap.css' 'css/menu.css' 'css/bootstrap-datepicker.css' 'css/bootstrap-datetimepicker.css' %}#}
{#<link rel="stylesheet" href="{{ asset_url }}"/>#}
{#{% endstylesheets %}#}
{% if formAjax is defined %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% endif %}

{#<div class="panel panel-default">#}
<!-- Default panel contents -->
{% set sitesActifs = [] %}
{% if prestationAnnexeFournisseurs is defined %}
    {% for prestationAnnexeFournisseur in prestationAnnexeFournisseurs %}
        {% if prestationAnnexeFournisseur.vars.value.actif == true and (prestationAnnexeFournisseur.vars.value.site.id not in sitesActifs)
        and prestationAnnexeFournisseur.vars.value.station is null %}
            {% set sitesActifs = sitesActifs|merge([prestationAnnexeFournisseur.vars.value.site.id]) %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if prestationAnnexeHebergements is defined %}
    {% for prestationAnnexeHebergement in prestationAnnexeHebergements %}
        {% if prestationAnnexeHebergement.vars.value.actif == true and (prestationAnnexeHebergement.vars.value.site.id not in sitesActifs) %}
            {% set sitesActifs = sitesActifs|merge([prestationAnnexeHebergement.vars.value.site.id]) %}
        {% endif %}
    {% endfor %}
{% endif %}
<div id="siteAEnregistrer_{{ prestationAnnexeId }}_{{ keyParam }}">
    {% for site in sites %}
        <span style="{% if site.crm == 1 %}display:none; {% endif %}">
            <label>
                <input id="siteAEnregistrer_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}" data-site-id="{{ site.id }}"
                       type="checkbox" name="sites_{{ prestationAnnexeId }}_{{ keyParam }}[]"
                       value="{{ site.id }}"
                        {% if site.crm == 1  or site.id in sitesActifs or sitesActifs is empty %} checked="checked" {% endif %}
                       onclick="return manageSelectionPrestationAnnexeSite('{{ prestationAnnexeId }}' , '{{ site.id }}', '{{ keyParam }}');"
                /> {{ site.libelle }}</label>
        </span>
    {% endfor %}
</div>
<ul class="nav nav-tabs">
    {#{% set personalisable =  true %}#}
    {% set iSite = 0 %}
    {% for site in sites %}
        {#{% if (personalisable == false and site.vars.value.site.crm == true) or (personalisable == true) %}#}
        <li id="onglet_data_site_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}"
            {% if site.id not in sitesActifs  and sitesActifs is not empty and  site.crm != 1 %}style="display: none" {% endif %}
                {% if(iSite==0) %}class="active"{% set iSite = 1 %}{% endif %}>
            <a data-toggle="tab"
               href="#data_site_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}">
                {{ site.libelle }}
            </a>
        </li>
        {#{% endif %}#}
    {% endfor %}
</ul>
<div class="tab-content" style="padding:20px;">
    {% set iSite = 0 %}
    {% for site in sites %}
        <div id="data_site_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}"
             class="{% if(iSite==0) %}active{% set iSite = 1 %}{% endif %} tab-pane fade in"
                {#data-crm="{{ hebergement.vars.value.site.crm | number_format }}"#}
        >
            {% for fournisseurProduit in fournisseurProduits %}
                {% set FournisseurExists = false %}
                {% if prestationAnnexeFournisseurs is defined %}
                    {% for prestationAnnexeFournisseur in prestationAnnexeFournisseurs %}
                        {% if prestationAnnexeFournisseur.vars.value.fournisseur is not null %}
                            {% if prestationAnnexeFournisseur.vars.value.actif == true and prestationAnnexeFournisseur.vars.value.fournisseur.id
                            == fournisseurProduit.id
                            and prestationAnnexeFournisseur.vars.value.site.id == site.id
                            and prestationAnnexeFournisseur.vars.value.station is null
                            %}
                                {% set FournisseurExists = true %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% set hebergementExists = false %}
                {% if hebergements[prestationAnnexeId ~ '_' ~ keyParam ~ '_' ~ site.id ~ '_' ~ fournisseurProduit.id ] is defined %}
                    {% set  hebergement = hebergements[prestationAnnexeId ~ '_' ~ keyParam ~ '_' ~ site.id ~ '_' ~ fournisseurProduit.id ] %}
                    {% set hebergementExists = true %}
                {% endif %}
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab"
                             id="heading_fournisseur_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}_{{ fournisseurProduit.id }}">
                            <h4 class="panel-title">
                                <div class="checkbox">
                                    <label><input type="checkbox"
                                                {% if FournisseurExists == true %}
                                                    checked="checked"
                                                {% endif %}
                                                  name="prestation_annexe_affectation_fournisseur[{{ prestationAnnexeId }}][{{ keyParam }}][{{ fournisseurProduit.id }}][{{ site.id }}]"
                                        >
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           href="#collapse_fournisseur_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}_{{ fournisseurProduit.id }}"
                                           aria-controls="collapse_fournisseur_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}_{{ fournisseurProduit.id }}"
                                           onclick="console.log('{{ keyParam }}');chargerHebergements('{{ prestationAnnexeId }}' , '{{ site.id }}' , {{ fournisseurProduit.id }} , '' ,'{{ keyParam }}' );return true;"
                                           aria-expanded="
                                                {% if hebergementExists == true %}
                                                true
                                                {% else %}
                                                false
                                                {% endif %}
                                           "
                                        >
                                            {{ fournisseurProduit.enseigne }}
                                        </a>
                                    </label>
                                </div>
                            </h4>
                        </div>
                        <div id="collapse_fournisseur_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}_{{ fournisseurProduit.id }}"
                             class="panel-collapse collapse
                                {% if hebergementExists == true %}
                                in
                                {% endif %}
                            " role="tabpanel"
                             aria-labelledby="heading_fournisseur_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}_{{ fournisseurProduit.id }}">
                            {#<div class="panel-body" id="list_hebergements_{{ fournisseur.id }}_{{prestationAnnexeId}}">#}
                            <ul class="list-group"
                                id="list_hebergements_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}_{{ fournisseurProduit.id }}"
                            >
                                {% if hebergementExists == true %}
                                    {#{% set  hebergement = hebergements[prestationAnnexeId ~ '_' ~ site.id ~ '_' ~ fournisseurProduit.id ] %}#}
                                    {% include ('@MondofuteFournisseur/fournisseur/template-fournisseur-prestation-annexe-affectation-hebergement.html.twig') with {'siteId' : site.id , 'hebergements' : hebergement} %}
                                {% endif %}
                                {#{% if prestationAnnexeFournisseurs is defined %}#}
                                {#{% for prestationAnnexeFournisseur in prestationAnnexeFournisseurs %}#}
                                {#{% if prestationAnnexeFournisseur.vars.value.fournisseur is not null %}#}
                                {#{% if prestationAnnexeFournisseur.vars.value.fournisseur.id == fournisseurProduit.id and prestationAnnexeFournisseur.vars.value.site.id == site.id %}#}
                                {#{% include ('@MondofuteFournisseur/fournisseur/template-fournisseur-prestation-annexe-affectation-hebergement.html.twig') with {'siteId' : site.id} %}#}
                                {#{% endif %}#}
                                {#{% endif %}#}
                                {#{% endfor %}#}
                                {#{% endif %}#}

                            </ul>
                            {#</div>#}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    {% endfor %}
</div>
{#</div>#}

{#{% javascripts#}
{#'js/jquery.min.js'#}
{#'js/bootstrap.js'#}
{#'js/bootstrap-datepicker.js'#}
{#'js/bootstrap-datetimepicker.js' %}#}
{#<script src="{{ asset_url }}"></script>#}
{#{% endjavascripts %}#}