{% if formAjax is defined %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% endif %}

{% set sitesActifs = [] %}
{% if prestationAnnexeFournisseurs is defined %}
    {% for prestationAnnexeFournisseur in prestationAnnexeFournisseurs %}
        {% if prestationAnnexeFournisseur.vars.value.actif == true and (prestationAnnexeFournisseur.vars.value.site.id not in sitesActifs)
        and prestationAnnexeFournisseur.vars.value.station is not null
        %}
            {% set sitesActifs = sitesActifs|merge([prestationAnnexeFournisseur.vars.value.site.id]) %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if prestationAnnexeHebergements is defined %}
    {% for prestationAnnexeHebergement in prestationAnnexeHebergements %}
        {% if prestationAnnexeHebergement.vars.value.actif == true and (prestationAnnexeHebergement.vars.value.site.id not in sitesActifs) %}
            {% set sitesActifs = sitesActifs|merge([prestationAnnexeHebergement.vars.value.site.id]) %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if prestationAnnexeStations is defined %}
    {% for prestationAnnexeStation in prestationAnnexeStations %}
        {% if prestationAnnexeStation.vars.value.actif == true and (prestationAnnexeStation.vars.value.site.id not in sitesActifs) %}
            {% set sitesActifs = sitesActifs|merge([prestationAnnexeStation.vars.value.site.id]) %}
        {% endif %}
    {% endfor %}
{% endif %}
<div id="siteAEnregistrer_{{ prestationAnnexeId }}_{{ keyParam }}">
    {% for site in sites %}
        <span style="{% if site.crm == 1 %}display:none; {% endif %}">
            <label>
                <input id="siteAEnregistrer_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}" data-site-id="{{ site.id }}"
                       type="checkbox" name="sites_{{ prestationAnnexeId }}_{{ keyParam }}[]"
                       value="{{ site.id }}"
                        {% if site.crm == 1  or site.id in sitesActifs or sitesActifs is empty %} checked="checked" {% endif %}
                       onclick="return manageSelectionPrestationAnnexeSite('{{ prestationAnnexeId }}' , '{{ site.id }}' , '{{ keyParam }}');"
                /> {{ site.libelle }}</label>
        </span>
    {% endfor %}
</div>
<ul class="nav nav-tabs">
    {% set iSite = 0 %}
    {% for site in sites %}
        <li id="onglet_data_site_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}"
            {% if site.id not in sitesActifs  and sitesActifs is not empty and  site.crm != 1 %}style="display: none" {% endif %}
                {% if(iSite==0) %}class="active"{% set iSite = 1 %}{% endif %}>
            <a data-toggle="tab"
               href="#data_site_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}">
                {{ site.libelle }}
            </a>
        </li>
    {% endfor %}
</ul>
<div class="tab-content" style="padding:20px;">
    {% set iSite = 0 %}
    {% for site in sites %}
        <div id="data_site_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}"
             class="{% if(iSite==0) %}active{% set iSite = 1 %}{% endif %} tab-pane fade in"
                {#data-crm="{{ hebergement.vars.value.site.crm | number_format }}"#}
        >
            {% set stationIdTemp = '' %}
            {% for keyProduit, fournisseurProduit in fournisseurProduits %}
                {% if fournisseurProduit.siteId == site.id %}
                    {% if stationIdTemp !=  fournisseurProduit.stationUnifieId %}
                        {% set FournisseurExists = false %}
                        {#{% if prestationAnnexeFournisseurs is defined %}#}
                            {#{% for prestationAnnexeFournisseur in prestationAnnexeFournisseurs %}#}
                                {#{% if#}
                                {#prestationAnnexeFournisseur.vars.value.actif == true#}
                                {#and prestationAnnexeFournisseur.vars.value.fournisseur.id == fournisseurProduit.fournisseurId#}
                                {#and prestationAnnexeFournisseur.vars.value.site.id == site.id#}
                                {#and prestationAnnexeFournisseur.vars.value.station.stationUnifie is defined#}
                                {#and prestationAnnexeFournisseur.vars.value.station.stationUnifie.id == fournisseurProduit.stationUnifieId#}
                                {#%}#}
                                    {#{% set FournisseurExists = true %}#}
                                {#{% endif %}#}
                            {#{% endfor %}#}
                        {#{% endif %}#}
                        {#{{ dump(FournisseurExists) }}#}

                        {% set openStation = false %}
                        {% if prestationAnnexeFournisseurs is defined %}
                            {% for prestationAnnexeFournisseur in prestationAnnexeFournisseurs %}
                                {% if
                                prestationAnnexeFournisseur.vars.value.actif == true
                                and prestationAnnexeFournisseur.vars.value.station.stationUnifie is defined
                                and prestationAnnexeFournisseur.vars.value.station.stationUnifie.id == fournisseurProduit.stationUnifieId
                                and prestationAnnexeFournisseur.vars.value.site.id == site.id
                                %}
                                    {% set openStation = true %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {#{{ dump(openStation) }}#}

                        {% set hebergementExists = false %}
                        {% for prestationAnnexeHebergement in prestationAnnexeHebergements %}
                            {% for  item in fournisseurProduits %}
                                {% if fournisseurProduit.stationUnifieId == item.stationUnifieId %}
                                    {% if hebergements[prestationAnnexeId ~ '_' ~ keyParam ~ '_' ~ site.id ~ '_' ~ prestationAnnexeHebergement.vars.value.fournisseur.id ] is defined
                                    and prestationAnnexeHebergement.vars.value.hebergement.station.stationUnifie.id == item.stationUnifieId
                                    and prestationAnnexeHebergement.vars.value.fournisseur.id == item.fournisseurId
                                    %}
                                        {% set hebergementExists = true %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}

                        {% set stationExists = false %}
                        {% if prestationAnnexeStations is defined %}
                            {% for prestationAnnexeStation in prestationAnnexeStations %}
                                {% if prestationAnnexeStation.vars.value.station is not null %}
                                    {% if prestationAnnexeStation.vars.value.actif == true and prestationAnnexeStation.vars.value.station.id
                                    == fournisseurProduit.idStation
                                    and prestationAnnexeStation.vars.value.site.id == site.id %}
                                        {% set stationExists = true %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        <fieldset>
                            <legend>
                                <div class="checkbox">
                                    <label><input type="checkbox"
                                                {% if stationExists == true %}
                                                    checked="checked"
                                                {% endif %}
                                                  name="prestation_annexe_affectation_station[{{ prestationAnnexeId }}][{{ keyParam }}][{{ fournisseurProduit.stationUnifieId }}][{{ site.id }}]"
                                        >
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           href="#collapse_station_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}_{{ fournisseurProduit.stationUnifieId }}"
                                           aria-controls="collapse_station_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}_{{ fournisseurProduit.stationUnifieId }}"
                                                onclick="chargerAffectationStationFournisseurs('{{ prestationAnnexeId }}' , '{{ site.id }}' , '{{ fournisseurProduit.stationUnifieId }}' , '{{ keyParam }}');return true;"
                                           aria-expanded="
                                                {#{% if hebergementExists == true or FournisseurExists == true %}#}
                                                {% if FournisseurExists == true or openStation == true or hebergementExists == true %}
                                                true
                                                {% else %}
                                                false
                                                {% endif %}
                                                "
                                        >
                                            {{ fournisseurProduit.stationLibelle }}
                                        </a>
                                    </label>
                                </div>
                            </legend>
                            <div  id="collapse_station_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}_{{ fournisseurProduit.stationUnifieId }}"
                            class="panel-collapse collapse
                                    {#{% if hebergementExists == true or FournisseurExists == true %}#}
                                    {% if FournisseurExists == true or openStation == true or hebergementExists == true %}
                                    in
                                    {% endif %}
                                " role="tabpanel"
                            aria-labelledby="heading_station_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}_{{ fournisseurProduit.stationUnifieId }}">
                    {% endif %}


                    {% if FournisseurExists == true or openStation == true or hebergementExists == true %}
                        {% include ('@MondofuteFournisseur/fournisseur/template-fournisseur-prestation-annexe-affectation-station-fournisseur.html.twig') %}
                    {% endif %}

                    {% if (fournisseurProduits[keyProduit + 1 ] is not defined)  or  (fournisseurProduits[keyProduit + 1 ].siteId != fournisseurProduit.siteId  or fournisseurProduits[keyProduit + 1 ].stationUnifieId != fournisseurProduit.stationUnifieId  ) %}
                        </div>
                        </fieldset>
                    {% endif %}
                    {% set stationIdTemp = fournisseurProduit.stationUnifieId %}
                {% endif %}
            {% endfor %}

        </div>

    {% endfor %}
</div>