{% stylesheets 'css/bootstrap.css' 'css/menu.css' 'css/bootstrap-datepicker.css' 'css/bootstrap-datetimepicker.css' %}
<link rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}
{% if formAjax is defined %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% endif %}

{{ dump(fournisseurs) }}
<div class="panel panel-default">
    <!-- Default panel contents -->
    {% for fournisseur in fournisseurs %}
        <div class="panel-heading">
            <div class="checkbox">
                <label><input type="checkbox" value="">{{ fournisseur.enseigne }}</label>
            </div>
        </div>
        {#<div class="panel-body">#}
        {#<p>...</p>#}
        {#</div>#}
        <!-- List group -->
        <ul class="list-group">
            {% for fournisseurHebergement in fournisseur.hebergements %}
                {% set hebergementUnifie =  fournisseurHebergement.hebergement %}
                {% for hebergement in hebergementUnifie.hebergements %}
                    {% if hebergement.site.crm == 1 %}
                        {% set iTraduc = 0 %}
                        {% for traduction in hebergement.traductions %}
                            {% if traduction.langue.code == app.request.locale %}
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">{{ traduction.nom }}</label>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    {% endfor %}
</div>

{% javascripts
'js/jquery.min.js'
'js/bootstrap.js'
'js/bootstrap-datepicker.js'
'js/bootstrap-datetimepicker.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}