{% set hebergementExists = false %}
{% set hebergement = [] %}
{% if hebergements[prestationAnnexeId ~ '_' ~ keyParam ~ '_' ~ site.id ~ '_' ~ fournisseurProduit.fournisseurId ] is defined %}
    {% for item in hebergements[prestationAnnexeId ~ '_' ~ keyParam ~ '_' ~ site.id ~ '_' ~ fournisseurProduit.fournisseurId ] %}
        {% if item.stationUnifieId == fournisseurProduit.stationUnifieId %}
            {% set hebergement = hebergement|merge([item]) %}
            {#{% set hebergementExists = true %}#}

            {% if prestationAnnexeHebergements is defined %}
                {% for prestationAnnexeHebergement in prestationAnnexeHebergements %}
                    {% if prestationAnnexeHebergement.vars.value.hebergement.id == item.hebergementId %}
                        {% set hebergementExists = true %}
                    {% endif %}
                {% endfor %}
            {% endif %}

        {% endif %}
    {% endfor %}
{% endif %}
{% set hebergements = hebergement %}


{#{% set hebergement = [] %}#}
{#{% for item in hebergements %}#}
    {#{% if item.stationUnifieId == fournisseurProduit.stationUnifieId %}#}
        {#{% set hebergement = hebergement|merge([item]) %}#}
        {#{% set hebergementExists = true %}#}
    {#{% endif %}#}
{#{% endfor %}#}
{#{% set hebergements = hebergement %}#}




{% set FournisseurExists = false %}
{% if prestationAnnexeFournisseurs is defined %}
    {% for prestationAnnexeFournisseur in prestationAnnexeFournisseurs %}
        {% if prestationAnnexeFournisseur.vars.value.fournisseur is not null %}
            {% if prestationAnnexeFournisseur.vars.value.actif == true and prestationAnnexeFournisseur.vars.value.fournisseur.id
            == fournisseurProduit.fournisseurId
            and prestationAnnexeFournisseur.vars.value.site.id == site.id
            and prestationAnnexeFournisseur.vars.value.station.stationUnifie is defined
            and prestationAnnexeFournisseur.vars.value.station.stationUnifie.id == fournisseurProduit.stationUnifieId
            %}
                {% set FournisseurExists = true %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab"
             id="heading_fournisseur_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}_{{ fournisseurProduit.stationUnifieId }}_{{ fournisseurProduit.fournisseurId }}">
            <h4 class="panel-title">
                <div class="checkbox">
                    <label><input type="checkbox"
                                {% if FournisseurExists == true %}
                                    checked="checked"
                                {% endif %}
                                  name="prestation_annexe_affectation_station_fournisseur[{{ prestationAnnexeId }}][{{ keyParam }}][{{ fournisseurProduit.stationUnifieId }}][{{ fournisseurProduit.fournisseurId }}][{{ site.id }}]"
                        >
                        <a class="collapsed" role="button" data-toggle="collapse"
                           href="#collapse_fournisseur_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}_{{ fournisseurProduit.stationUnifieId }}_{{ fournisseurProduit.fournisseurId }}"
                           aria-controls="collapse_fournisseur_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}_{{ fournisseurProduit.stationUnifieId }}_{{ fournisseurProduit.fournisseurId }}"
                           onclick="chargerHebergements('{{ prestationAnnexeId }}' , '{{ site.id }}' , '{{ fournisseurProduit.fournisseurId }}' , '{{ fournisseurProduit.stationUnifieId }}' , '{{ keyParam }}');return true;"
                           aria-expanded="
                                                {% if hebergementExists == true %}
                                                true
                                                {% else %}
                                                false
                                                {% endif %}
                                           "
                        >
                            {{ fournisseurProduit.fournisseurEnseigne }}
                        </a>
                    </label>
                </div>
            </h4>
        </div>
        <div id="collapse_fournisseur_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}_{{ fournisseurProduit.stationUnifieId }}_{{ fournisseurProduit.fournisseurId }}"
             class="panel-collapse collapse
                                {% if hebergementExists == true %}
                                in
                                {% endif %}
                            " role="tabpanel"
             aria-labelledby="heading_fournisseur_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}_{{ fournisseurProduit.stationUnifieId }}_{{ fournisseurProduit.fournisseurId }}">
            <ul class="list-group"
                id="list_hebergements_{{ prestationAnnexeId }}_{{ keyParam }}_{{ site.id }}_{{ fournisseurProduit.stationUnifieId }}_{{ fournisseurProduit.fournisseurId }}"
            >
                {% if hebergementExists == true %}
                    {#{% include ('@MondofuteFournisseur/fournisseur/template-fournisseur-prestation-annexe-affectation-station-fournisseur-hebergement.html.twig') with {'siteId' : site.id , 'hebergements' : hebergement} %}#}
                    {#{{ dump(hebergements) }}#}
                    {% include ('@MondofuteFournisseur/fournisseur/template-fournisseur-prestation-annexe-affectation-station-fournisseur-hebergement.html.twig') with {'siteId' : site.id } %}
                {% endif %}

            </ul>
        </div>
    </div>
</div>