{% extends 'base.html.twig' %}
{% block title %}
    {{ 'Liste des cartes d\identités des stations' | capitalize }}
{% endblock %}
{% block body %}
    <h1>{{ 'liste des cartes d\identités des stations' | capitalize }}</h1>
    {% include '::flashbags.html.twig' %}
    <table class="table-responsive table-striped table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for stationCarteIdentiteUnifie in stationCarteIdentiteUnifies %}
            <tr>
                <td>
                    <a href="{{ path('stationcarteidentite_show', { 'id': stationCarteIdentiteUnifie.id }) }}">{{ stationCarteIdentiteUnifie.id }}</a>
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a class="btn btn-default"
                               href="{{ path('stationcarteidentite_show', { 'id': stationCarteIdentiteUnifie.id }) }}">{{ 'visualiser' | capitalize }}</a>
                        </li>
                        <li>
                            <a class="btn btn-default"
                               href="{{ path('stationcarteidentite_edit', { 'id': stationCarteIdentiteUnifie.id }) }}">{{ 'modifier' | capitalize }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="text-align: right">
        <ul class="list-unstyled">
            <li>
                <a class="btn btn-default"
                   href="{{ path('stationcarteidentite_new') }}">{{ 'ajouter' | capitalize }}</a>
            </li>
        </ul>
    </div>
{% endblock %}
