{% extends '::base.html.twig' %}


{% block body %}
    <section>
        <h1>
            {% block titre %}
            {% endblock %}
        </h1>
    </section>
    <section>
        {#  BLOCK CONTENANT LE FORMULAIRE #}
        {% block formulaire %}
            {% include '::flashbags.html.twig' %}
            {{ form_errors(form) }}
            {{ form_start(form) }}

            <ul class="nav nav-tabs">
                {% set iTraduc = 0 %}
                {% for traduction in form.traductions %}
                    <li {% if(iTraduc==0) %}class="active"{% set iTraduc = 1 %}{% endif %}>
                        <a data-toggle="tab"
                           href="#langue_{{ traduction.vars.value.langue.id }}">
                            {# affiche la langue en fonction de la locale#}
                            {% for traductionLangue in  traduction.vars.value.langue.traductions %}
                                {% if(traductionLangue.langueTraduction.code == app.request.locale) %}
                                    {{ traductionLangue.libelle }}
                                {% endif %}
                            {% endfor %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% set iTraduc = 0 %}
                {% for traduction in form.traductions %}
                    <div id="langue_{{ traduction.vars.value.langue.id }}"
                         class="{% if(iTraduc==0) %}active{% set iTraduc = 1 %}{% endif %} tab-pane fade in">
                        {% for element in traduction.children %}
                            {{ form_row(element) }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            {{ form_end(form) }}
        {% endblock %}
    </section>
    <section>
        {% block actions %}

        {% endblock %}
    </section>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBQ_mK45TpOottmscd15Ijk8HmnUNEZJLM&amp;libraries=places&amp;language=fr"></script>
    <script>
        var options = {
            types: ['(cities)']
        };

        var input = document.getElementById('grande_ville_traductions_0_libelle');
        autocomplete = new google.maps.places.Autocomplete(input, options);
    </script>
{% endblock %}