{% extends 'base.html.twig' %}

{% block body %}
    <h1>CodePromo list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for codePromo in codePromos %}
            <tr>
                <td><a href="{{ path('codepromo_show', { 'id': codePromo.id }) }}">{{ codePromo.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('codepromo_show', { 'id': codePromo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('codepromo_edit', { 'id': codePromo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('codepromo_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
