{% extends 'base.html.twig' %}
{% block title %}
    {{ 'Liste de zones touristiques' | capitalize }}
{% endblock %}
{% block body %}
    <h1>{{ 'liste des zones touristiques' | capitalize }}</h1>

    {% include '::flashbags.html.twig' %}
    <table class="table-responsive table-striped table">
        <thead>
        <tr>
            <th>Id</th>
            <th>{{ 'libelle' | capitalize }}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for zoneTouristiqueUnifie in zoneTouristiqueUnifies %}
            <tr>
                <td>
                    <a href="{{ path('geographie_zonetouristique_show', { 'id': zoneTouristiqueUnifie.id }) }}">{{ zoneTouristiqueUnifie.id }}</a>
                </td>
                <td>
                    {% for zoneTouristique in zoneTouristiqueUnifie.zoneTouristiques %}
                        {% if zoneTouristique.site.crm == 1 %}
                            {% for traduction in zoneTouristique.traductions %}
                                {% if traduction.langue.code == app.request.locale %}
                                    {{ traduction.libelle }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a class="btn btn-default"
                               href="{{ path('geographie_zonetouristique_show', { 'id': zoneTouristiqueUnifie.id }) }}">{{ 'visualiser' | capitalize }}</a>
                        </li>
                        <li>
                            <a class="btn btn-default"
                               href="{{ path('geographie_zonetouristique_edit', { 'id': zoneTouristiqueUnifie.id }) }}">{{ 'modifier' | capitalize }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="text-align: right">
        <ul class="list-unstyled">
            <li>
                <a class="btn btn-default"
                   href="{{ path('geographie_zonetouristique_new') }}">{{ 'ajouter' | capitalize }}</a>
            </li>
        </ul>
    </div>
{% endblock %}
