{#{% for decote in form.decotes %}#}
    {#{{ dump(decote.periodeValidites) }}#}
    {#{{ form_row(decote.periodeValidites) }}#}
{#{% endfor %}#}
<div class="form-group" id="decote_{{ keyDecote }}_{{ fournisseurPrestationAnnexeId }}_periode_validite_values">
    {% for periodeValidite in periodeValidites %}
        {#{{ dump(periodeValidite) }}#}
        <div class="checkbox">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <label>
                    <input name="mondofute_bundle_decotebundle_decoteunifie[decotes][{{ keyDecote }}][periodeValidites][]"
                           id="mondofute_bundle_decotebundle_decoteunifie_decotes_{{ keyDecote }}_periodeValidites_{{ periodeValidite.id }}"
                           class="decote_{{ keyDecote }}_{{ fournisseurPrestationAnnexeId }}_periode_validite_values"
                           value="{{ periodeValidite.id }}"
                            {% for decotePeriodeValidite in  decotePeriodeValidites %}
                                {% if decotePeriodeValidite.id == periodeValidite.id %}
                                    checked="checked"
                                {% endif %}
                            {% endfor %}
                           type="checkbox">
                    {{ periodeValidite }}
                </label>
            </div>
        </div>
    {% endfor %}
</div>