<div class="form-group" id="decote_{{ keyDecote }}_{{ fournisseurId }}_{{ hebergementId }}_logement_values">
    {% for logement in logements %}
        <div class="checkbox">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <label>
                    <input type="checkbox"
                           value="{{ logement.id }}"
                            {% set ok = false %}
                            {% for decoteLogementPeriode in decoteLogementPeriodes %}
                                {% if decoteLogementPeriode.logement.id == logement.id and ok == false %}
                                    checked="checked"
                                    {% set ok = true %}
                                {% endif %}
                            {% endfor %}

                           class="decote_{{ keyDecote }}_{{ fournisseurId }}_{{ hebergementId }}_logement_values"
                           id="checkbox_decote_logement_{{ keyDecote }}_{{ logement.id }}"
                           name="decote_logement_periode[{{ keyDecote }}][logements][]"
                    />
                    {% for traduction in logement.traductions %}
                        {% if traduction.langue.code == app.request.locale %}
                            {{ traduction.nom }}
                        {% endif %}
                    {% endfor %}
                </label>
            </div>
        </div>
    {% endfor %}
</div>