{% extends '@MondofuteDecote/decoteunifie/fiche.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ 'création d\une decote' | capitalize }}
{% endblock %}

{% block titre %}
    Création d'une decote
{% endblock %}

{#  BLOCK DES ACTIONS AUTRES QUE LA MISE A JOUR#}
{% block actions %}
    <div style="text-align: right">
        <ul class="list-unstyled">
            <li><a href="{{ path('decote_index') }}">{{ 'retour à la liste' | capitalize }}</a></li>
        </ul>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

