{{ form_row(entity.variante , {'attr' : {
    'onchange' : 'gestionVariantes(this,"div_'~entity.variante.vars.id~'","decote_unifie_decotes_'~keyDecote~'_decoteAffectations","'~keyDecote~'");',
    'data-unique_block_prefix' : entity.variante.vars['unique_block_prefix']
}}) }}
<div id="div_{{ entity.variante.vars.id }}_{{ constant('Mondofute\\Bundle\\DecoteBundle\\Entity\\Variante::sejour1Semainex2') }}"
        {% if entity.variante.vars.value != constant('Mondofute\\Bundle\\DecoteBundle\\Entity\\Variante::sejour1Semainex2') %}
            style="display: none"
        {% endif %}
>
    {#{{ form_row(entity.choixVariante1, {'attr' : { 'onclick' : 'console.log("ici");'}}) }}#}
    <div class="form-group">
        {{ form_label(entity.choixVariante1) }}
        <div class="col-sm-10">
            <div id="{{ entity.choixVariante1.vars.id }}"
                 data-unique_block_prefix="_decote_unifie_decotes_entry_choixVariante1">
                {% for element in entity.choixVariante1 %}
                    {% if entity.variante.vars.value == constant('Mondofute\\Bundle\\DecoteBundle\\Entity\\Variante::sejour1Semainex2') and element.vars.value != '' %}
                        {{ form_widget(element, {'attr': {'onchange' : 'displayApplicationRemise(this,"div_'~entity.applicationRemise.vars.id~'");', 'required' : 'required'}}) }}
                    {% elseif (element.vars.value != '') %}
                        {{ form_widget(element, {'attr': {'onchange' : 'displayApplicationRemise(this,"div_'~entity.applicationRemise.vars.id~'");'}}) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="div_{{ entity.applicationRemise.vars.id }}"
            {% if entity.choixVariante1.vars.value != constant('Mondofute\\Bundle\\DecoteBundle\\Entity\\ChoixVariante1::appliquerRemise') %}
                style="display: none"
            {% endif %}
    >
        <div class="form-group">
            {{ form_label(entity.applicationRemise) }}
            <div class="col-sm-10">
                <div id="{{ entity.applicationRemise.vars.id }}"
                     data-unique_block_prefix="{{ entity.applicationRemise.vars['unique_block_prefix'] }}">
                    {% for element in entity.applicationRemise %}
                        {% if entity.choixVariante1.vars.value == constant('Mondofute\\Bundle\\DecoteBundle\\Entity\\ChoixVariante1::appliquerRemise') %}
                            {{ form_widget(element, {'attr': { 'required' : 'required'}}) }}
                        {% elseif (element.vars.value != '') %}
                            {{ form_widget(element) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="div_{{ entity.variante.vars.id }}_{{ constant('Mondofute\\Bundle\\DecoteBundle\\Entity\\Variante::venteFlash') }}"
        {% if entity.variante.vars.value != constant('Mondofute\\Bundle\\DecoteBundle\\Entity\\Variante::venteFlash') %}
            style="display: none"
        {% endif %}
>
    {{ form_row(entity.compteARebours, {'attr' : {'data-unique_block_prefix' : entity.compteARebours.vars['unique_block_prefix']}}) }}
</div>
<div id="div_{{ entity.variante.vars.id }}_{{ constant('Mondofute\\Bundle\\DecoteBundle\\Entity\\Variante::stockSpecifique') }}"
        {% if entity.variante.vars.value != constant('Mondofute\\Bundle\\DecoteBundle\\Entity\\Variante::stockSpecifique') %}
            style="display: none"
        {% endif %}
>
    {{ form_row(entity.stock, {'attr' : {'data-unique_block_prefix' : entity.stock.vars['unique_block_prefix']}}) }}
</div>