{% extends '::base.html.twig' %}

{% block body %}
    <section>
        <h1>
            {% block titre %}
            {% endblock %}
        </h1>
    </section>
    <section>
        {#  BLOCK CONTENANT LE FORMULAIRE #}
        {% block formulaire %}
            {% set personalisable =  true %}
            {% include '::flashbags.html.twig' %}
            {{ form_errors(form) }}
            {{ form_start(form) }}
            {% include '::coches_sites.html.twig' %}

            {% set mesSites = form.stations %}
            {% include '::onglets_sites.html.twig' %}
            <div class="tab-content" style="padding:20px;">
                {% set iSite = 0 %}
                {% set index = 0 %}
                {% for station in form.stations %}
                    <div id="data_site_{{ station.vars.value.site.id }}"
                         class="{% if(iSite==0) %}active{% set iSite = 1 %}{% endif %} tab-pane fade in"
                         data-crm="{{ station.vars.value.site.crm | number_format }}">
                        {{ form_row(station.site) }}
                        <ul class="nav nav-tabs">
                            {% if station.vars.value.site.crm == 0 %}
                                <div class="form-group">
                                    {{ form_label(station.dateVisibilite) }}
                                    <div class="col-sm-10">
                                        <div class="input-daterange form-inline input-group">
                                            {{ form_widget(station.dateVisibilite.dateDebut, { 'attr' : {
                                                'style' : 'text-align: left;',
                                                'onblur' : 'testRequired(this,"' ~ station.dateVisibilite.dateFin.vars.id ~ '");'
                                            }}) }}
                                            <span class="input-group-addon">au</span>
                                            {{ form_widget(station.dateVisibilite.dateFin, { 'attr' : {
                                                'style' : 'text-align: left;',
                                                'onblur' : 'testRequired(this,"' ~ station.dateVisibilite.dateDebut.vars.id ~ '");'
                                            }}) }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {{ form_row( station.domaine , { 'attr' : { 'data-unique_block_prefix' : station.domaine.vars['unique_block_prefix']}}) }}
                            {#{% if station.vars.data.stations is not empty %}#}
                            {{ form_row( station.stationMere, { 'attr' : {
                                'data-unique_block_prefix' : station.stationMere.vars['unique_block_prefix'] ,
                                'onchange' : 'displayCheckbox(this ,  "' ~ station.vars.value.site.id ~'");return false;',
                                'onkeyup' : 'displayCheckbox(this ,  "' ~ station.vars.value.site.id ~'");return false;',
                                'data-site' : station.vars.value.site.id
                            }}) }}
                            {#{% endif %}#}
                            {{ form_row( station.zoneTouristiques, { 'attr' : { 'data-unique_block_prefix' : station.zoneTouristiques.vars['unique_block_prefix']}}) }}
                            {{ form_row( station.secteurs , { 'attr' : { 'data-unique_block_prefix' : station.secteurs.vars['unique_block_prefix']}}) }}
                            {{ form_row( station.departement , { 'attr' : { 'data-unique_block_prefix' : station.departement.vars['unique_block_prefix']}}) }}
                            {{ form_row( station.profils , { 'attr' : { 'data-unique_block_prefix' : station.profils.vars['unique_block_prefix']}}) }}
                            {{ form_row( station.typeTaxeSejour , { 'attr' : {
                                'data-unique_block_prefix' : station.typeTaxeSejour.vars['unique_block_prefix'],
                                'onChange' : 'displayStationTypeTaxeSejourPrix(this , '~station.vars.value.site.id~');'
                            }}) }}
                            <div id="station_type_taxe_sejour_prix_{{ station.vars.value.site.id }}"
                                    {% if station.typeTaxeSejour.vars.value != 1 %}
                                        style="display: none"
                                    {% endif %}
                            >
                                {{ form_row( station.taxeSejourPrix , {'type' : 'number', 'attr' : { 'data-unique_block_prefix' : station.taxeSejourPrix.vars['unique_block_prefix']}}) }}
                                {{ form_row( station.taxeSejourAge , { 'attr' : { 'data-unique_block_prefix' : station.taxeSejourAge.vars['unique_block_prefix']}}) }}
                            </div>
                            {{ form_row( station.stationLabels , { 'attr' : { 'data-unique_block_prefix' : station.stationLabels.vars['unique_block_prefix']}}) }}
                            {{ form_row( station.stationDeSki , { 'attr' : { 'data-unique_block_prefix' : station.stationDeSki.vars['unique_block_prefix']}}) }}
                            {% set iTraduc = 0 %}
                            {% for traduction in station.traductions %}
                                <li {% if(iTraduc==0) %}class="active"{% set iTraduc = 1 %}{% endif %}>
                                    <a data-toggle="tab"
                                       href="#{{ station.vars.value.site.id }}_{{ traduction.vars.value.langue.id }}">
                                        {# affiche la langue en fonction de la locale#}
                                        {% for traductionLangue in  traduction.vars.value.langue.traductions %}
                                            {% if(traductionLangue.langueTraduction.code == app.request.locale) %}
                                                {{ traductionLangue.libelle }}
                                            {% endif %}
                                        {% endfor %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% set iTraduc = 0 %}
                            {% for traduction in station.traductions %}
                                <div id="{{ station.vars.value.site.id }}_{{ traduction.vars.value.langue.id }}"
                                     class="{% if(iTraduc==0) %}active{% set iTraduc = 1 %}{% endif %} tab-pane fade in">
                                    {% for element in traduction.children %}
                                        {{ form_row(element , { 'attr' : { 'data-unique_block_prefix' : element.vars['unique_block_prefix'] ~ '_' ~ element.parent.vars['value'].langue.code }}) }}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        {#{{ form_row(station.stationCarteIdentite) }}#}

                        <div id="cbox_medias_parent_{{ station.vars.value.site.id }}">
                            {{ form_widget(station.photosParent) }}
                            {{ form_widget(station.videosParent) }}
                        </div>
                        <br/>

                        {# si le site est le crm on affiche le panel des medias #}
                        {% if station.vars.value.site.crm == 1 %}
                            <div class="panel panel-primary">
                                <div class="panel-heading"><h3 class="panel-title">
                                        Visuels
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    {# liste des photos #}
                                    <ul class="visuels"
                                        data-prototype_photo="
                                        {% filter escape %}
                                        {% include('@MondofuteMedia/Layout/template-media.html.twig') with {'form': station.visuels.vars.prototypes["Mondofute\\Bundle\\StationBundle\\Form\\StationPhotoType"], 'langues': langues, 'name': '__name__', 'entity': 'visuel'} %}
                                        {% endfilter %}
                                        "
                                        data-prototype_video="
                                        {% filter escape %}
                                        {% include('@MondofuteMedia/Layout/template-media.html.twig') with {'form': station.visuels.vars.prototypes["Mondofute\\Bundle\\StationBundle\\Form\\StationVideoType"], 'langues': langues, 'name': '__name__', 'entity': 'visuel'} %}
                                        {% endfilter %}
                                        "
                                    >
                                        {% set i = 0 %}
                                        {% for visuel in station.visuels %}
                                            <li class="element">
                                                {% include('@MondofuteMedia/Layout/template-media.html.twig') with {'form': visuel,'langues': langues, 'name': i, 'entity': 'visuel'} %}
                                            </li>
                                            {% set i = i + 1 %}
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                        {% endif %}

                        {#{% if station.vars.data.stations is not empty %}#}
                        <label id="cboxStationCI_{{ station.vars.value.site.id }}">
                            <input type="checkbox" id="inputcboxStationCI_{{ station.vars.value.site.id }}"
                                   name="cboxStationCI_{{ station.vars.value.site.id }}"
                                    {% if  station.vars.value.stationMere is not empty %}
                                        {% if station.vars.value.stationMere.stationCarteIdentite.id == station.vars.value.stationCarteIdentite.id %}
                                            checked
                                        {% endif %}
                                    {% endif %}
                                   onclick="displayChild(this , 'stationCarteIdentite_{{ station.vars.value.site.id }}')">
                            Utiliser la carte d'identité de la
                            station mère
                        </label>
                        <br>
                        {#{% endif %}#}
                        <div id="stationCarteIdentite_{{ station.vars.value.site.id }}"
                                {% if  station.vars.value.stationMere is not empty %}
                                    {% if station.vars.value.stationMere.stationCarteIdentite.id == station.vars.value.stationCarteIdentite.id %}
                                        style="display: none"
                                    {% endif %}
                                {% endif %}
                        >
                            <div class="panel panel-default">
                                <div class="panel-heading"><h3 class="panel-title">
                                        Carte d'identité
                                    </h3></div>
                                <div class="panel-body">
                                    {{ form_row( station.stationCarteIdentite.adresse.code_postal , { 'attr' : { 'data-unique_block_prefix' : station.stationCarteIdentite.adresse.code_postal.vars['unique_block_prefix']}}) }}
                                    {{ form_row( station.stationCarteIdentite.adresse.ville , { 'attr' : { 'data-unique_block_prefix' : station.stationCarteIdentite.adresse.ville.vars['unique_block_prefix']}}) }}
                                    {{ form_row( station.stationCarteIdentite.jourOuverture , { 'attr' : { 'data-unique_block_prefix' : station.stationCarteIdentite.jourOuverture.vars['unique_block_prefix']}}) }}
                                    {{ form_row( station.stationCarteIdentite.moisOuverture , { 'attr' : { 'data-unique_block_prefix' : station.stationCarteIdentite.moisOuverture.vars['unique_block_prefix']}}) }}
                                    {{ form_row( station.stationCarteIdentite.jourFermeture , { 'attr' : { 'data-unique_block_prefix' : station.stationCarteIdentite.jourFermeture.vars['unique_block_prefix']}}) }}
                                    {{ form_row( station.stationCarteIdentite.moisFermeture , { 'attr' : { 'data-unique_block_prefix' : station.stationCarteIdentite.moisFermeture.vars['unique_block_prefix']}}) }}
                                    {{ form_row( station.stationCarteIdentite.altitudeVillage , { 'attr' : { 'class' : 'form-inline'}}) }}
                                    {{ form_row( station.stationCarteIdentite.site ) }}

                                </div>
                            </div>
                        </div>
                        <label id="cboxStationCommentVenir_{{ station.vars.value.site.id }}">
                            <input type="checkbox" id="inputcboxStationCommentVenir_{{ station.vars.value.site.id }}"
                                   name="cboxStationCommentVenir_{{ station.vars.value.site.id }}"
                                    {% if  station.vars.value.stationMere is not empty %}
                                        {% if station.vars.value.stationMere.stationCommentVenir.id == station.vars.value.stationCommentVenir.id %}
                                            checked
                                        {% endif %}
                                    {% endif %}
                                   onclick="displayChild(this , 'stationCommentVenir_{{ station.vars.value.site.id }}')">
                            Utiliser le Comment venir de la
                            station mère
                        </label>
                        <br>
                        {#{% endif %}#}
                        <div id="stationCommentVenir_{{ station.vars.value.site.id }}"
                                {% if  station.vars.value.stationMere is not empty %}
                                    {% if station.vars.value.stationMere.stationCommentVenir.id == station.vars.value.stationCommentVenir.id %}
                                        style="display: none"
                                    {% endif %}
                                {% endif %}
                        >
                            <div class="panel panel-default">
                                <div class="panel-heading"><h3 class="panel-title">
                                        Comment venir
                                    </h3></div>
                                <div class="panel-body">

                                    <ul class="nav nav-tabs">
                                        {{ form_row( station.stationCommentVenir.grandeVilles, { 'attr' : { 'data-unique_block_prefix' : station.stationCommentVenir.grandeVilles.vars['unique_block_prefix']}}) }}
                                        {% set iTraduc = 0 %}
                                        {% for traduction in station.stationCommentVenir.traductions %}
                                            <li {% if(iTraduc==0) %}class="active"{% set iTraduc = 1 %}{% endif %}>
                                                <a data-toggle="tab"
                                                   href="#comment_venir_{{ station.stationCommentVenir.vars.value.site.id }}_{{ traduction.vars.value.langue.id }}">
                                                    {# affiche la langue en fonction de la locale#}
                                                    {% for traductionLangue in  traduction.vars.value.langue.traductions %}
                                                        {% if(traductionLangue.langueTraduction.code == app.request.locale) %}
                                                            {{ traductionLangue.libelle }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="tab-content">
                                        {% set iTraduc = 0 %}
                                        {% for traduction in station.stationCommentVenir.traductions %}
                                            <div id="comment_venir_{{ station.stationCommentVenir.vars.value.site.id }}_{{ traduction.vars.value.langue.id }}"
                                                 class="{% if(iTraduc==0) %}active{% set iTraduc = 1 %}{% endif %} tab-pane fade in">
                                                {% for element in traduction.children %}
                                                    {{ form_row(element , { 'attr' : { 'data-unique_block_prefix' : element.vars['unique_block_prefix'] ~ '_' ~ element.parent.vars['value'].langue.code }}) }}
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {{ form_row( station.stationCommentVenir.site ) }}

                                </div>
                            </div>
                        </div>
                        <label id="cboxStationDescription_{{ station.vars.value.site.id }}">
                            <input type="checkbox" id="inputcboxStationDescription_{{ station.vars.value.site.id }}"
                                   name="cboxStationDescription_{{ station.vars.value.site.id }}"
                                    {% if  station.vars.value.stationMere is not empty %}
                                        {% if station.vars.value.stationMere.stationDescription.id == station.vars.value.stationDescription.id %}
                                            checked
                                        {% endif %}
                                    {% endif %}
                                   onclick="displayChild(this , 'stationDescription_{{ station.vars.value.site.id }}')">
                            Utiliser la description de la
                            station mère
                        </label>
                        <br>
                        <div id="stationDescription_{{ station.vars.value.site.id }}"
                                {% if  station.vars.value.stationMere is not empty %}
                                    {% if station.vars.value.stationMere.stationDescription.id == station.vars.value.stationDescription.id %}
                                        style="display: none"
                                    {% endif %}
                                {% endif %}
                        >
                            <div class="panel panel-default">
                                <div class="panel-heading"><h3 class="panel-title">
                                        Description
                                    </h3></div>
                                <div class="panel-body">

                                    <ul class="nav nav-tabs">
                                        {% set iTraduc = 0 %}
                                        {% for traduction in station.stationDescription.traductions %}
                                            <li {% if(iTraduc==0) %}class="active"{% set iTraduc = 1 %}{% endif %}>
                                                <a data-toggle="tab"
                                                   href="#description_{{ station.stationDescription.vars.value.site.id }}_{{ traduction.vars.value.langue.id }}">
                                                    {# affiche la langue en fonction de la locale#}
                                                    {% for traductionLangue in  traduction.vars.value.langue.traductions %}
                                                        {% if(traductionLangue.langueTraduction.code == app.request.locale) %}
                                                            {{ traductionLangue.libelle }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="tab-content">
                                        {% set iTraduc = 0 %}
                                        {% for traduction in station.stationDescription.traductions %}
                                            <div id="description_{{ station.stationDescription.vars.value.site.id }}_{{ traduction.vars.value.langue.id }}"
                                                 class="{% if(iTraduc==0) %}active{% set iTraduc = 1 %}{% endif %} tab-pane fade in">
                                                {% for element in traduction.children %}
                                                    {{ form_row(element , { 'attr' : { 'data-unique_block_prefix' : element.vars['unique_block_prefix'] ~ '_' ~ element.parent.vars['value'].langue.code }}) }}
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {{ form_row( station.stationDescription.site ) }}

                                </div>
                            </div>
                        </div>
                    </div>

                    {% set index = (index + 1) %}
                {% endfor %}
            </div>
            {{ form_row(form.submit) }}
            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        {% endblock %}
    </section>
    <section>
        {% block actions %}

        {% endblock %}
    </section>

    <div id="modal_small" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="mySmallModalLabel">Message</h4></div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        var itemNonPersonalisable = [];
        {#itemNonPersonalisable.push("_station_unifie_stations_entry_stationMere");#}
        {#itemNonPersonalisable.push("_station_unifie_stations_entry_zoneTouristique");#}
        {#itemNonPersonalisable.push("_station_unifie_stations_entry_secteur");#}
        {#itemNonPersonalisable.push("_station_unifie_stations_entry_departement");#}
        {#itemNonPersonalisable.push("_station_unifie_stations_entry_domaine");#}
        {#{% for langue in langues %}#}
        {#itemNonPersonalisable.push("_station_unifie_stations_entry_traductions_entry_libelle_{{ langue.code }}");#}
        {#itemNonPersonalisable.push("_station_unifie_stations_entry_traductions_entry_parking_{{ langue.code }}");#}
        {#{% endfor %}#}
        {#itemNonPersonalisable.push("_station_unifie_stations_entry_stationCarteIdentite_moyenComs_entry_ville");#}

        var items = [];
        items.push("_station_unifie_stations_entry_stationMere");
        items.push("_station_unifie_stations_entry_zoneTouristiques");
        items.push("_station_unifie_stations_entry_profils");
        items.push("_station_unifie_stations_entry_secteurs");
        items.push("_station_unifie_stations_entry_departement");
        items.push("_station_unifie_stations_entry_domaine");
        {% for langue in langues %}
        items.push("_station_unifie_stations_entry_traductions_entry_libelle_{{ langue.code }}");
        items.push("_station_unifie_stations_entry_traductions_entry_parking_{{ langue.code }}");
        //        commentVenir
        items.push("_station_unifie_stations_entry_stationCommentVenir_traductions_entry_enVoiture_{{ langue.code }}");
        items.push("_station_unifie_stations_entry_stationCommentVenir_traductions_entry_enTrain_{{ langue.code }}");
        items.push("_station_unifie_stations_entry_stationCommentVenir_traductions_entry_enAvion_{{ langue.code }}");
        items.push("_station_unifie_stations_entry_stationCommentVenir_traductions_entry_distancesGrandesVilles_{{ langue.code }}");

        //description

        items.push("_station_unifie_stations_entry_stationDescription_traductions_entry_accroche_{{ langue.code }}");
        items.push("_station_unifie_stations_entry_stationDescription_traductions_entry_generalite_{{ langue.code }}");


        {% endfor %}
        items.push("_station_unifie_stations_entry_stationCarteIdentite_adresse_code_postal");
        items.push("_station_unifie_stations_entry_stationCarteIdentite_adresse_ville");
        items.push("_station_unifie_stations_entry_stationCarteIdentite_jourOuverture");
        items.push("_station_unifie_stations_entry_stationCarteIdentite_moisOuverture");
        items.push("_station_unifie_stations_entry_stationCarteIdentite_jourFermeture");
        items.push("_station_unifie_stations_entry_stationCarteIdentite_moisFermeture");
        items.push("_station_unifie_stations_entry_stationCarteIdentite_altitudeVillage_valeur");
        items.push("_station_unifie_stations_entry_stationCarteIdentite_altitudeVillage_unite");

    </script>
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if sitesAEnregistrer is not empty %}

            {% for siteAEnregistrer in sitesAEnregistrer %}
            $("#siteAEnregistrer_{{ siteAEnregistrer }}").prop("checked", true);
            {% endfor %}

            {% else %}

            $("[id^='siteAEnregistrer']").each(function () {
                $(this).prop('checked', true);
            });

            {% endif %}

            {% for site in sites %}
            var contenuOngletSite = $("[id='data_site_" + {{ site.id }} +"']");
            if (!$("#siteAEnregistrer_{{ site.id }}").is(':checked')) {
                $("#onglet_data_site_{{ site.id }}").hide();
                contenuOngletSite.find(':required').each(function () {
                    $(this).attr('required', false);
                    $(this).attr("data-required", "true");
                });
            }

            $("#siteAEnregistrer_{{ site.id }}").change(function () {
                var checked = false;
                $("[id^='siteAEnregistrer_']").each(function () {

                    if ($(this).is(':checked') && $(this).is(':visible')) {
                        checked = true;
                    }
                });

                if (!checked) {
                    var modal = $("#modal_small");
                    modal.find('.modal-title').text("Attention !!!");
                    modal.find('.modal-body').text("attention vous devez selectionner au moins 1 site");
                    modal.modal().show();
                    $(this).prop('checked', true);
                    return false;
                }

                contenuOngletSite = $("[id='data_site_" + $(this).attr('data-site-id') + "']");
                if (!$(this).is(':checked')) {
//                    supprime le required des champs libelle des traductions
                    contenuOngletSite.find(':required').each(function () {
                        $(this).attr('required', false);
                        $(this).attr("data-required", "true");
                    });
                    if ($("#onglet_data_site_{{ site.id }}").hasClass('active')) {

                        $("[id^='data_site_']").each(function (value, element) {

                            if (!$(element).hasClass('active')) {
                                $("#onglet_" + element.id + " a").tab('show');
                                return false;
                            }

                        });
                    }
                    $("#onglet_data_site_" + $(this).attr('data-site-id')).hide();

                } else {
//                    rend les champs libelle des traductions required
                    contenuOngletSite.find('[data-required=\'true\']').each(function () {
                        $(this).attr('required', true);
                    });
                    $("#onglet_data_site_" + $(this).attr('data-site-id')).show();
                }

            });
            {% endfor %}
//            selectionne le premier onglet coché
            var siteIdFirst = $('[id^="siteAEnregistrer_"]:checked').first().attr('data-site-id');
            $("#onglet_data_site_" + siteIdFirst + " a").tab('show');
        });

        function sortStationByDomaine(element) {
            $element = $(element);
            var domaineId = $element.val();
            $('[data-unique_block_prefix="_station_unifie_stations_entry_stationMere"]').each(function (index, select) {
                if ($(select).is(":visible")) {
                    $select = $(select);
                    $select.val('');
                    $select.find('option').each(function (index, option) {
                        $option = $(option);
                        if ($option.data('domaine_id')) {
                            if ($option.data('domaine_id') != domaineId) {
                                $option.hide();
                            }
                            else {
                                $option.show();
                            }
                        }
                    });
                }
            });
        }

        function displayStationChild(element, div) {
            $element = $(element);
            $stationChild = $('#' + div);
//            console.log(element);
//            console.log(div);
//            console.log($element.is(':checked'));
            if ($element.is(':checked')) {
//                $('div [id^="' + div + '"]').each(function (index, element) {
//                    $(element).hide();
//                });
                $stationChild.hide();
                $stationChild.find(':required').each(function (index, element) {
//                    console.log(element);
                    $(this).attr('required', false);
                    $(this).attr("data-required", "true");
//                    console.log(element);
                });
            }
            else {
//                $('div [id^="' + div + '"]').each(function (index, element) {
//                    $(element).show();
//                });
                $stationChild.show();
                $stationChild.find('[data-required=\'true\']').each(function () {
                    $(this).attr('required', true);
//                    console.log(this);
                });
            }
        }

        //        $('div [id^="' + div + '"]').each(function (index, element) {
        //            $(element).hide();
        //        });
        //        displayStationChild($('#cboxStationCI').find('input')[0], "stationCarteIdentite_");
        //            console.log($('#cboxStationCI').find('input')[0]);
        function displayCheckbox(element, checkbox) {
            $checkboxCI = $('#cboxStationCI_' + checkbox);
            $checkboxCV = $('#cboxStationCommentVenir_' + checkbox);
            $checkboxDescription = $('#cboxStationDescription_' + checkbox);
            $cboxMediasParent = $('#cbox_medias_parent_' + checkbox);
//            console.log(checkbox);
            $element = $(element);
//            console.log($element.val());
            if ($element.val()) {
                // carte identite
                $cboxMediasParent.show();
                $checkboxCI.show();
                $($checkboxCI.find('input')[0]).prop('checked', true);
                displayStationChild($checkboxCI.find('input')[0], "stationCarteIdentite_" + checkbox);
//                $('#stationCarteIdentite_' + checkbox).hide();
                // comment venir
                $checkboxCV.show();
                $($checkboxCV.find('input')[0]).prop('checked', true);
                displayStationChild($checkboxCV.find('input')[0], "stationCommentVenir_" + checkbox);
//                $('#stationCommentVenir_' + checkbox).hide();
                $checkboxDescription.show();
                $($checkboxDescription.find('input')[0]).prop('checked', true);
                displayStationChild($checkboxDescription.find('input')[0], "stationDescription_" + checkbox);
            }
            else {
                // carte identite
                $cboxMediasParent.hide();
                $checkboxCI.hide();
                $($checkboxCI.find('input')[0]).prop('checked', false);
                $('#stationCarteIdentite_' + checkbox).show();
                // comment venir
                $checkboxCV.hide();
                $($checkboxCV.find('input')[0]).prop('checked', false);
                $('#stationCommentVenir_' + checkbox).show();
                $checkboxDescription.hide();
                $($checkboxDescription.find('input')[0]).prop('checked', false);
                $('#stationDescription_' + checkbox).show();
            }
        }
        //        function selectOption($select, option) {
        //            if ($select.val() != option) {
        //                $select.val(option).trigger('change');
        //            }
        //        }

        //        $(document).ready(function() {
        //            console.log('ready');

        $('[data-unique_block_prefix="_station_unifie_stations_entry_stationMere"]').each(function (index, element) {
            if (!$(element).val()) {
                $('#cboxStationCI_' + $(element).data('site')).hide();
                $('#cbox_medias_parent_' + $(element).data('site')).hide();
                $('#cboxStationCommentVenir_' + $(element).data('site')).hide();
                $('#cboxStationDescription_' + $(element).data('site')).hide();
            }
            else {
                var $inputcboxStationCI = $('#inputcboxStationCI_' + $(element).data('site'));
                var $inputcboxStationCommentVenir = $('#inputcboxStationCommentVenir_' + $(element).data('site'));
                var $inputcboxStationDescription = $('#inputcboxStationDescription_' + $(element).data('site'));
                if ($inputcboxStationCI.is(':checked')) {
                    $('#stationCarteIdentite_' + $(element).data('site')).hide();
                    $('#cboxStationCI_' + $(element).data('site')).show();
                    displayStationChild($inputcboxStationCI, 'stationCarteIdentite_' + $(element).data('site'));
                }
                if ($inputcboxStationCommentVenir.is(':checked')) {
                    $('#stationCommentVenir_' + $(element).data('site')).hide();
                    $('#cboxStationCommentVenir_' + $(element).data('site')).show();
                    displayStationChild($inputcboxStationCommentVenir, 'stationCommentVenir_' + $(element).data('site'));
                }
                if ($inputcboxStationDescription.is(':checked')) {
                    $('#stationDescription_' + $(element).data('site')).hide();
                    $('#cboxStationDescription_' + $(element).data('site')).show();
                    displayStationChild($inputcboxStationDescription, 'stationDescription_' + $(element).data('site'));
                }
            }
        });

        //        });

    </script>



    <script type="text/javascript">
        var $visuelsCollectionHolder;

        var $visuelsAddLinkPhoto = $('<a href="#" class="add_visuel_link_photo">Ajouter photo</a>');
        var $visuelsAddLinkVideo = $('<a href="#" class="add_visuel_link_video">Ajouter video</a>');

        var $newLinkLiVisuel = $('<li></li>').append($visuelsAddLinkPhoto);
        $newLinkLiVisuel = $newLinkLiVisuel.append($('<br/>'));
        $newLinkLiVisuel = $newLinkLiVisuel.append($visuelsAddLinkVideo);


        var link = {
            visuels: $newLinkLiVisuel
        };

        var elements = [
            'visuels'
        ];

        jQuery(document).ready(function () {
            elements.forEach(function (element) {
                // Get the ul that holds the collection of diaporamas
                window['$' + element + 'CollectionHolder'] = $('ul.' + element);

                // add a delete link to all of the existing diaporama form li elements
                window['$' + element + 'CollectionHolder'].find('li.element').each(function () {
                    addFormDeleteLink($(this));
                });

                // add the "add a diaporama" anchor and li to the diaporamas ul
//                $.each(link[element] , function(index , $link){
//                    window['$'+element+'CollectionHolder'].append($link);
//                });
                window['$' + element + 'CollectionHolder'].append(link[element]);

                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)
                window['$' + element + 'CollectionHolder'].data('index', window['$' + element + 'CollectionHolder'].find(':input[id$=_binaryContent]').length);

                window['$' + element + 'AddLinkPhoto'].on('click', function (e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // add a new diaporama form (see next code block)
                    addForm(window['$' + element + 'CollectionHolder'], link[element], 'photo');
                });

                if (window['$' + element + 'AddLinkVideo']) {
                    window['$' + element + 'AddLinkVideo'].on('click', function (e) {
                        // prevent the link from creating a "#" on the URL
                        e.preventDefault();

                        // add a new diaporama form (see next code block)
                        addForm(window['$' + element + 'CollectionHolder'], link[element], 'video');
                    });
                }

            });
        });

        function addForm($collectionHolder, $newLinkLi, type) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype_' + type);

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a diaporama" link li
            var $newFormLi = $('<li class="element"></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            addFormDeleteLink($newFormLi);
        }

        function addFormDeleteLink($FormLi) {
            var $removeFormA = $('<a href="#">Supprimer</a>');
            $FormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the diaporama form
                $FormLi.remove();
            });
        }

        // StationTaxeSejour
        function displayStationTypeTaxeSejourPrix(element, siteId) {
            $station_type_taxe_sejour_prix = $("#station_type_taxe_sejour_prix_" + siteId);
            if ($(element).val() == 1) {
                $station_type_taxe_sejour_prix.show();
            } else {
                $station_type_taxe_sejour_prix.hide();
            }
        }
        $('form[name="station_unifie"]').find("select[id$='_typeTaxeSejour']").each(function (index, element) {
            $(element).trigger('onchange');
        })

    </script>

    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBQ_mK45TpOottmscd15Ijk8HmnUNEZJLM&amp;libraries=places&amp;language=fr"></script>
    <script>
        var options = {
            types: ['(cities)']
        };

        var input = document.getElementById('station_unifie_stations_0_stationCarteIdentite_adresse_ville');
        autocomplete = new google.maps.places.Autocomplete(input, options);
    </script>

    <script>
        $('.input-daterange').datepicker({
            todayBtn: "linked",
            format: "dd/mm/yyyy",
            autoclose: "true",
            pickerPosition: "bottom-left",
            startView: "day",
            minView: "month",
            daysOfWeekHighlighted: [0, 6],
            language: "fr",
            todayHighlight: true
        });

        function testRequired(element, inputId) {
            if ($(element).val() != '') {
                $('#' + inputId).prop('required', 'required');
            } else {
                $('#' + inputId).prop('required', '');
            }
            if ($('#' + inputId).val() != '') {
                $(element).prop('required', 'required');
            } else {
                $(element).prop('required', '');
            }
        }
    </script>

{% endblock %}