{% extends 'base.html.twig' %}

{% form_theme delete_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block title %}
    {{ 'visualisation de la station' | capitalize }}
{% endblock %}
{% block body %}
    <h1>{{ 'Visualisation de la station' | capitalize }}</h1>
    {% include '::flashbags.html.twig' %}
    <table class="table table-responsive table-striped">
        <tbody>
        <tr class="row">
            <th class="col-sm-1">Id</th>
            <td>{{ stationUnifie.id }}</td>
        </tr>
        {% for station in stationUnifie.stations %}
            {% if station.site.crm == 1 %}
                {% for traduction in station.traductions %}
                    {% if traduction.langue.code == app.request.locale %}
                        <tr class="row">
                            <th class="col-sm-1">{{ 'libelle' | capitalize }}</th>
                            <td>
                                {{ traduction.libelle }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        <tr class="row">
            <th class="col-sm-1">Ville</th>
            <td>
                {% for station in stationUnifie.stations %}
                    {% if station.site.crm == 1 %}
                        {{ station.stationCarteIdentite.adresse.ville }}
                        {% if station.stationCarteIdentite.adresse.codePostal is not null %}
                            &nbsp;({{ station.stationCarteIdentite.adresse.codePostal }})
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr class="row">
            <th class="col-sm-1">Distances</th>
            <td>
                <lu>
                    {% for station in stationUnifie.stations %}
                        {% if station.site.crm == 1 %}
                            {% for grandeVille in station.stationCommentVenir.grandeVilles %}
                                {% for traduction in grandeVille.traductions %}
                                    {% if traduction.langue.code == app.request.locale %}
                                        <li>
                                            {{ traduction.libelle }}&nbsp;=>&nbsp;
                                            {{ distances[grandeVille.id][0].elements[0].distance.text }}&nbsp;-&nbsp;
                                            {{ distances[grandeVille.id][0].elements[0].duration.text }}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </lu>
            </td>
        </tr>
        </tbody>
    </table>
    <div style="text-align: right">

        <ul class="list-unstyled">
            <li>
                <a href="{{ path('station_station_index') }}">Back to the list</a>
            </li>
            <li>
                <a class="btn btn-default"
                   href="{{ path('station_station_edit', { 'id': stationUnifie.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                {#<input type="submit" value="Delete">#}
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
