<div class="form-group" id="promotion_{{ keyPromotion }}_{{ fournisseurId }}_{{ hebergementId }}_logement_values">
    {% for logement in logements %}
        <div class="checkbox">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <label>
                    <input type="checkbox"
                           value="{{ logement.id }}"
                            {% set ok = false %}
                            {% for promotionLogementPeriode in promotionLogementPeriodes %}
                                {% if promotionLogementPeriode.logement.id == logement.id and ok == false %}
                                    checked="checked"
                                    {% set ok = true %}
                                {% endif %}
                            {% endfor %}

                           class="promotion_{{ keyPromotion }}_{{ fournisseurId }}_{{ hebergementId }}_logement_values"
                           id="checkbox_promotion_logement_{{ keyPromotion }}_{{ logement.id }}"
                           name="promotion_logement_periode[{{ keyPromotion }}][logements][]"
                    />
                    {% for traduction in logement.traductions %}
                        {% if traduction.langue.code == app.request.locale %}
                            {{ traduction.nom }}
                        {% endif %}
                    {% endfor %}
                </label>
            </div>
        </div>
    {% endfor %}
</div>