{% extends '@MondofuteGeographie/departementunifie/fiche.html.twig' %}


{% block title %}
    {{ 'modification du département ' | capitalize }}
{% endblock %}

{#  GESTION DU TITRE A AFFICHER DANS LA PAGE #}
{% block titre %}
    Modification du département
{% endblock %}


{#  BLOCK DES ACTIONS AUTRES QUE LA MISE A JOUR#}
{% block actions %}
    <div style="text-align: right">
        <ul class="list-unstyled">
            <li><a href="{{ path('geographie_departement_index') }}">{{ 'retour à la liste' | capitalize }}</a></li>
            <li>{{ form(delete_form) }}</li>
        </ul>

    </div>

{% endblock %}

{#  GESTION DU BLOCK CONTENANT LE JAVASCRIPT#}
{% block javascript_page %}
    {{ parent() }}
{% endblock %}
