{% extends '@MondofuteGeographie/departementunifie/fiche.html.twig' %}

{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% form_theme delete_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
    {{ 'modification du département ' | capitalize }}
{% endblock %}

{#  GESTION DU TITRE A AFFICHER DANS LA PAGE #}
{% block titre %}
    Modification du département
{% endblock %}

{#  BLOCK CONTENANT LE FORMULAIRE #}
{% block formulaire %}
    {% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
    {% form_theme delete_form  'bootstrap_3_horizontal_layout.html.twig' %}

    {{ form_errors(edit_form) }}
    {{ form_start(edit_form) }}
    {% include '::coches_sites.html.twig' %}

    {% set departement = edit_form.departements | first %}
    {# ajout des attributs "communs" #}
    <div>
        {{ form_row( departement.region ) }}
    {#{{ form_row( departement.nbHabitant ) }}#}
    </div>
    {% set mesSites = edit_form.departements %}
    {% include '::onglets_sites.html.twig' %}

    <div class="tab-content" style="padding:20px;">

        {% set iSite = 0 %}
        {% for departement in edit_form.departements %}
            <div id="data_site_{{ departement.vars.value.site.id }}"
                 class="{% if(iSite==0) %}active{% set iSite = 1 %}{% endif %} tab-pane fade in">
                {{ form_row(departement.site) }}
                <ul class="nav nav-tabs">
                    {% set iTraduc = 0 %}
                    {% for traduction in departement.traductions %}
                        <li {% if(iTraduc==0) %}class="active"{% set iTraduc = 1 %}{% endif %}>
                            <a data-toggle="tab"
                               href="#{{ departement.vars.value.site.id }}_{{ traduction.vars.value.langue.id }}">
                                {# affiche la langue en fonction de la locale#}
                                {% for traductionLangue in  traduction.vars.value.langue.traductions %}
                                    {% if(traductionLangue.langueTraduction.code == app.request.locale) %}
                                        {{ traductionLangue.libelle }}
                                    {% endif %}
                                {% endfor %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% set iTraduc = 0 %}
                    {% for traduction in departement.traductions %}
                        <div id="{{ departement.vars.value.site.id }}_{{ traduction.vars.value.langue.id }}"
                             class="{% if(iTraduc==0) %}active{% set iTraduc = 1 %}{% endif %} tab-pane fade in">
                            {#{{ form_row(traduction) }}#}
                            {{ form_widget(traduction) }}
                            {{ form_errors(traduction) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    {{ form_row(edit_form.submit) }}
    {{ form_row(edit_form._token) }}
    {{ form_end(edit_form, {'render_rest': false}) }}
{% endblock %}

{#  BLOCK DES ACTIONS AUTRES QUE LA MISE A JOUR#}
{% block actions %}
    <div style="text-align: right">
        <ul class="list-unstyled">
            <li><a href="{{ path('geographie_departement_index') }}">{{ 'retour à la liste' | capitalize }}</a></li>
            <li>{{ form(delete_form) }}</li>
        </ul>

    </div>

{% endblock %}

{#  GESTION DU BLOCK CONTENANT LE JAVASCRIPT#}
{% block javascript_page %}
    {{ parent() }}
{% endblock %}
