{% extends '@MondofuteGeographie/departementunifie/fiche.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block title %}
    {{ 'création d\'un département' | capitalize }}
{% endblock %}

{% block titre %}
    Création d'un département
{% endblock %}



{#  BLOCK DES ACTIONS AUTRES QUE LA MISE A JOUR#}
{% block actions %}
    <div style="text-align: right">
        <ul class="list-unstyled">
            <li><a href="{{ path('geographie_departement_index') }}">{{ 'retour à la liste' | capitalize }}</a></li>
            {#<li>{{ form(delete_form) }}</li>#}
        </ul>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}