{% extends 'base.html.twig' %}

{% block body %}
    <h1>CodePromo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ codePromo.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ codePromo.libelle }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ codePromo.code }}</td>
            </tr>
            <tr>
                <th>Clientaffectation</th>
                <td>{{ codePromo.clientAffectation }}</td>
            </tr>
            <tr>
                <th>Typeremise</th>
                <td>{{ codePromo.typeRemise }}</td>
            </tr>
            <tr>
                <th>Valeurremise</th>
                <td>{{ codePromo.valeurRemise }}</td>
            </tr>
            <tr>
                <th>Prixmini</th>
                <td>{{ codePromo.prixMini }}</td>
            </tr>
            <tr>
                <th>Usage</th>
                <td>{{ codePromo.usage }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{% if codePromo.actif %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('codepromo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('codepromo_edit', { 'id': codePromo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
