{% extends '@MondofuteLogement/logementunifie/fiche_popup.html.twig' %}


{% block title %}
    {{ 'logement.modification' | trans | capitalize }}
{% endblock %}

{#  GESTION DU TITRE A AFFICHER DANS LA PAGE #}
{% block titre %}
    {{ 'logement.modification' | trans | capitalize }}
{% endblock %}

{% block formulaire %}
    <ul class="list-unstyled">
        <li><a class="btn btn-default"
               href="{{ path('popup_logement_logement_clone',{'id': form.vars.value.id}) }}">{{ 'dupliquer' | trans }}</a>
        </li>
    </ul>

    {{ parent() }}
{% endblock %}
{#  BLOCK DES ACTIONS AUTRES QUE LA MISE A JOUR#}
{% block actions %}
    <div style="text-align: right">
        <ul class="list-unstyled">
            <li>
                <a href="{{ path('popup_logement_logement_index', {'idFournisseurHebergement':fournisseurHebergement.id}) }}">{{ ('retour.liste' | trans) | capitalize }}</a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>

    </div>

{% endblock %}

{#  GESTION DU BLOCK CONTENANT LE JAVASCRIPT#}
{% block javascript_page %}
    {{ parent() }}
{% endblock %}
