{% extends '@MondofuteGeographie/departementunifie/fiche.html.twig' %}


{% block title %}
    {{ 'logement.modification' | trans | capitalize }}
{% endblock %}

{#  GESTION DU TITRE A AFFICHER DANS LA PAGE #}
{% block titre %}
    {{ 'logement.modification' | trans | capitalize }}
{% endblock %}


{#  BLOCK DES ACTIONS AUTRES QUE LA MISE A JOUR#}
{% block actions %}
    <div style="text-align: right">
        <ul class="list-unstyled">
            <li><a href="{{ path('logement_logement_index') }}">{{ 'retour.liste' | capitalize }}</a></li>
            <li>{{ form(delete_form) }}</li>
        </ul>

    </div>

{% endblock %}

{#  GESTION DU BLOCK CONTENANT LE JAVASCRIPT#}
{% block javascript_page %}
    {{ parent() }}
{% endblock %}
