{% extends '::base.html.twig' %}
{% block body %}
    <section>
        <h1>
            {% block titre %}
            {% endblock %}
        </h1>
    </section>
    <section>
        {% block formulaire %}
            {% set personalisable =  true %}
            {% include '::flashbags.html.twig' %}
            {{ form_errors(form) }}
            {{ form_start(form) }}
            {% include '::coches_sites.html.twig' %}
            {% set mesSites = form.logements %}

            {% include '::onglets_sites.html.twig' %}
            <div class="tab-content" style="padding:20px;">
                {% set iSite = 0 %}
                {% for logement in form.logements %}
                    <div id="data_site_{{ logement.vars.value.site.id }}"
                         class="{% if(iSite==0) %}active{% set iSite = 1 %}{% endif %} tab-pane fade in"
                         data-crm="{{ logement.vars.value.site.crm | number_format }}">

                        {#{{ form_row(departement.region, { 'attr' : { 'data-unique_block_prefix' : departement.region.vars['unique_block_prefix']  }}) }}#}

                        {#{% for choix in departement.region %}#}
                        {#{{ dump(choix) }}#}
                        {#{{ form_widget(choix) }}#}
                        {#{{ form_label(choix) }}#}
                        {#{% endfor %}#}
                        {{ form_row(logement.actif) }}
                        {#{{ form_row(logement.hebergement) }}#}
                        {#{{ form_row(logement.hebergements) }}#}
                        {#{{ form_row(logement.fournisseur) }}#}
                        {{ form_row(logement.nbChambre) }}
                        {{ form_row(logement.capacite) }}
                        {{ form_row(logement.superficieMin) }}
                        {{ form_row(logement.superficieMax) }}
                        {{ form_row(logement.accesPMR) }}
                        {{ form_row(logement.site) }}
                        <ul class="nav nav-tabs">
                            {% set iTraduc = 0 %}
                            {% for traduction in logement.traductions %}
                                <li {% if(iTraduc==0) %}class="active"{% set iTraduc = 1 %}{% endif %}>
                                    <a data-toggle="tab"
                                       href="#{{ logement.vars.value.site.id }}_{{ traduction.vars.value.langue.id }}">
                                        {# affiche la langue en fonction de la locale#}
                                        {% for traductionLangue in  traduction.vars.value.langue.traductions %}
                                            {% if(traductionLangue.langueTraduction.code == app.request.locale) %}
                                                {{ traductionLangue.libelle }}
                                            {% endif %}
                                        {% endfor %}
                                    </a>
                                </li>
                                {#{{ form_row(traduction) }}#}
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% set iTraduc = 0 %}
                            {% for traduction in logement.traductions %}
                                <div id="{{ logement.vars.value.site.id }}_{{ traduction.vars.value.langue.id }}"
                                     class="{% if(iTraduc==0) %}active{% set iTraduc = 1 %}{% endif %} tab-pane fade in">
                                    {% for element in traduction.children %}
                                        {{ form_row(element , { 'attr' : { 'data-unique_block_prefix' : element.vars['unique_block_prefix'] ~ '_' ~ element.parent.vars['value'].langue.code }}) }}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>


                        {# si le site est le crm on affiche le panel des medias #}
                        {% if logement.vars.value.site.crm == 1 %}
                            <div class="panel panel-primary">
                                <div class="panel-heading"><h3 class="panel-title">
                                        Photos
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    {#liste des photos#}
                                    <ul class="photo" data-prototype_photo="
                                            {% filter escape %}
                                            {% include('@MondofuteMedia/Layout/template-media.html.twig') with {'form': logement.photos.vars.prototype, 'langues': langues, 'name': '__name__', 'entity': 'photo'} %}
                                            {% endfilter %}
                                            ">
                                        {% set i = 0 %}
                                        {% for photo in logement.photos %}
                                            <li class="element">
                                                {% include('@MondofuteMedia/Layout/template-media.html.twig') with {'form': photo,'langues': langues, 'name': i, 'entity': 'photo'} %}
                                            </li>
                                            {% set i = i + 1 %}
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                        {% endif %}
                        
                    </div>
                {% endfor %}
            </div>
            {{ form_row(form.submit) }}
            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        {% endblock %}
    </section>
    <section>
        {% block actions %}

        {% endblock %}
    </section>
    <div id="modal_small" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="mySmallModalLabel">Message</h4></div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        var itemNonPersonalisable = [];
        //        itemNonPersonalisable.push("_departement_unifie_departements_entry_region");
        {% for langue in langues %}
        {#itemNonPersonalisable.push("_logement_unifie_departements_entry_traductions_entry_libelle_{{ langue.code }}");#}
        {#itemNonPersonalisable.push("_departement_unifie_departements_entry_traductions_entry_description_{{ langue.code }}");#}
        {% endfor %}
        var items = [];
        //        items.push("_departement_unifie_departements_entry_region");
        {% for langue in langues %}
        {#items.push("_departement_unifie_departements_entry_traductions_entry_libelle_{{ langue.code }}");#}
        {#items.push("_departement_unifie_departements_entry_traductions_entry_affichageTexte_{{ langue.code }}");#}
        {#items.push("_departement_unifie_departements_entry_traductions_entry_description_{{ langue.code }}");#}
        {% endfor %}
    </script>
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if sitesAEnregistrer is not empty %}

            {% for siteAEnregistrer in sitesAEnregistrer %}
            $("#siteAEnregistrer_{{ siteAEnregistrer }}").prop("checked", true);
            {% endfor %}

            {% else %}

            $("[id^='siteAEnregistrer']").each(function () {
                $(this).prop('checked', true);
            });

            {% endif %}

            {% for site in sites %}
            var contenuOngletSite = $("[id='data_site_" + {{ site.id }} +"']");
            if (!$("#siteAEnregistrer_{{ site.id }}").is(':checked')) {
                $("#onglet_data_site_{{ site.id }}").hide();
                contenuOngletSite.find(':required').each(function () {
                    $(this).attr('required', false);
                    $(this).attr("data-required", "true");
                });
            }

            $("#siteAEnregistrer_{{ site.id }}").change(function () {
                var checked = false;
                $("[id^='siteAEnregistrer_']").each(function () {

                    if ($(this).is(':checked') && $(this).is(':visible')) {
                        checked = true;
                    }
                });

                if (!checked) {
                    var modal = $("#modal_small");
                    modal.find('.modal-title').text("Attention !!!");
                    modal.find('.modal-body').text("attention vous devez selectionner au moins 1 site");
                    modal.modal().show();
                    $(this).prop('checked', true);
                    return false;
                }

                contenuOngletSite = $("[id='data_site_" + $(this).attr('data-site-id') + "']");
                if (!$(this).is(':checked')) {
//                    supprime le required des champs libelle des traductions
                    contenuOngletSite.find(':required').each(function () {
                        $(this).attr('required', false);
                        $(this).attr("data-required", "true");
                    });
                    if ($("#onglet_data_site_{{ site.id }}").hasClass('active')) {

                        $("[id^='data_site_']").each(function (value, element) {

                            if (!$(element).hasClass('active')) {
                                $("#onglet_" + element.id + " a").tab('show');
                                return false;
                            }

                        });
                    }
                    $("#onglet_data_site_" + $(this).attr('data-site-id')).hide();

                } else {
//                    rend les champs libelle des traductions required
                    contenuOngletSite.find('[data-required=\'true\']').each(function () {
                        $(this).attr('required', true);
                    });
                    $("#onglet_data_site_" + $(this).attr('data-site-id')).show();
                }

            });
            {% endfor %}
//            selectionne le premier onglet coché
            var siteIdFirst = $('[id^="siteAEnregistrer_"]:checked').first().attr('data-site-id');
            $("#onglet_data_site_" + siteIdFirst + " a").tab('show');
        });
    </script>
{% endblock %}