{% extends '::base_popup.html.twig' %}

{% block body %}
    <h1>{{ 'logements.liste' | trans }}</h1>

    <div id="logement_list">
        {% include '@MondofuteLogement/logementunifie/logement.html.twig' %}
    </div>




    <ul class="list-unstyled">
        <li>
            <a class="btn btn-default"
               href="{{ path('popup_logement_logement_new',{'idFournisseurHebergement': fournisseurHebergement.id}) }}">{{ 'ajouter' | trans }}</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        function refreshList(idFournisseurHebergement, page, maxPerPage) {
            var path = "{{ path('popup_logement_logement_list' ,{'idFournisseurHebergement': '_idFournisseurHebergement_' , 'page' : '_page_' , 'maxPerPage' : '_maxPerPage_' }) }}";
            path = path.replace(/_idFournisseurHebergement_/g, idFournisseurHebergement);
            path = path.replace(/_page_/g, page);
            path = path.replace(/_maxPerPage_/g, maxPerPage);

            $.ajax(path,
                    {
                        method: 'GET'
                    }
            ).done(function (data) {
                $("#logement_list").html(data);
            })

        }

    </script>
{% endblock %}

