<table class="table-responsive table-striped table">
    <thead>
    <tr>
        <th>Id</th>
        <th>{{ 'nom' | trans | capitalize }}</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for logementUnifie in logementUnifies %}
        <tr>
            <td>
                <a href="{{ path('logement_logement_show', { 'id': logementUnifie.id }) }}">{{ logementUnifie.id }}</a>
            </td>
            <td>
                {% for logement in logementUnifie.logements %}
                    {% if logement.site.crm == 1 %}
                        {% for traduction in logement.traductions %}
                            {% if traduction.langue.code == app.request.locale %}
                                {{ traduction.nom }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                <ul class="list-unstyled">
                    <li>
                        <a class="btn btn-default"
                           href="{{ path('popup_logement_logement_show', { 'id': logementUnifie.id }) }}">{{ 'voir' | trans }}</a>
                    </li>
                    <li>
                        <a class="btn btn-default"
                           href="{{ path('popup_logement_logement_edit', { 'id': logementUnifie.id }) }}">{{ 'modifier' | trans }}</a>
                    </li>
                    <li>
                        <a id="lien_logement_active_{{ logementUnifie.id }}" class="btn btn-default"
                                {% if  logementUnifie.desactive == false %}
                                    style="display: none"
                                {% endif %}
                           href="#"
                           onclick="logementActiver('{{ logementUnifie.id }}',false)">{{ 'Activer' | trans }}</a>
                        <a id="lien_logement_desactive_{{ logementUnifie.id }}" class="btn btn-default"
                                {% if  logementUnifie.desactive == true %}
                                    style="display: none"
                                {% endif %}
                           href="#"
                           onclick="logementActiver('{{ logementUnifie.id }}',true)">{{ 'Désactiver' | trans }}</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if  logementUnifies is not empty %}
    {% include '@MondofuteCore/pagination-ajax.html.twig' with {'enityId': fournisseurHebergement.id , 'pagination' : pagination} %}
{% endif %}