{% extends 'base.html.twig' %}

{% block body %}
    <h1>LogementUnifie</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ logementUnifie.id }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('logement_logement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('logement_logement_edit', { 'id': logementUnifie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
