{% extends '@MondofuteDomaine/domainecarteidentiteunifie/fiche.html.twig' %}

{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% form_theme delete_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
    {{ 'modification d\'une carte d\'identité ' | capitalize }}
{% endblock %}

{#  GESTION DU TITRE A AFFICHER DANS LA PAGE #}
{% block titre %}
    Modification d'une carte d'identité
{% endblock %}

{#  BLOCK CONTENANT LE FORMULAIRE #}
{% block formulaire %}
    {% include '::flashbags.html.twig' %}
    {% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
    {% form_theme delete_form  'bootstrap_3_horizontal_layout.html.twig' %}

    {{ form_errors(edit_form) }}
    {{ form_start(edit_form) }}
    {% include '::coches_sites.html.twig' %}

    {% set domaineCarteIdentite = edit_form.domaineCarteIdentites | first %}
    {# ajout des attributs "communs" #}
    {#<div>#}
    {#{{ form_row( domaineCarteIdentite.nbVache ) }}#}
    {#{{ form_row( domaineCarteIdentite.nbHabitant ) }}#}
    {#</div>#}
    {% set mesSites = edit_form.domaineCarteIdentites %}
    {% include '::onglets_sites.html.twig' %}

    <div class="tab-content" style="padding:20px;">

        {% set iSite = 0 %}
        {% for domaineCarteIdentite in edit_form.domaineCarteIdentites %}
            <div id="data_site_{{ domaineCarteIdentite.vars.value.site.id }}"
                 class="{% if(iSite==0) %}active{% set iSite = 1 %}{% endif %} tab-pane fade in">
                {{ form_row(domaineCarteIdentite.site) }}
                <div>
                    {{ form_row( domaineCarteIdentite.altitudeMini ) }}
                    {{ form_row( domaineCarteIdentite.altitudeMaxi ) }}
                    {{ form_row( domaineCarteIdentite.kmPistesSkiAlpin ) }}
                    {{ form_row( domaineCarteIdentite.kmPistesSkiNordique ) }}
                    {{ form_row( domaineCarteIdentite.remonteeMecanique ) }}
                </div>
                <ul class="nav nav-tabs">
                    {% set iTraduc = 0 %}
                    {% for traduction in domaineCarteIdentite.traductions %}
                        <li {% if(iTraduc==0) %}class="active"{% set iTraduc = 1 %}{% endif %}>
                            <a data-toggle="tab"
                               href="#{{ domaineCarteIdentite.vars.value.site.id }}_{{ traduction.vars.value.langue.id }}">
                                {# affiche la langue en fonction de la locale#}
                                {% for traductionLangue in  traduction.vars.value.langue.traductions %}
                                    {% if(traductionLangue.langueTraduction.code == app.request.locale) %}
                                        {{ traductionLangue.libelle }}
                                    {% endif %}
                                {% endfor %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% set iTraduc = 0 %}
                    {% for traduction in domaineCarteIdentite.traductions %}
                        <div id="{{ domaineCarteIdentite.vars.value.site.id }}_{{ traduction.vars.value.langue.id }}"
                             class="{% if(iTraduc==0) %}active{% set iTraduc = 1 %}{% endif %} tab-pane fade in">
                            {#{{ form_row(traduction) }}#}
                            {{ form_widget(traduction) }}
                            {{ form_errors(traduction) }}
                            {% set break = false %}
                            {% for snowparkTraduction in domaineCarteIdentite.snowpark.traductions if not break %}
                                {% if traduction.vars.value.langue.id == snowparkTraduction.vars.value.langue.id %}
                                    {{ form_row(snowparkTraduction , { 'label' : domaineCarteIdentite.snowpark.vars.name | title }  ) }}
                                    {{ form_errors(snowparkTraduction) }}
                                    {% set break = true %}
                                {% endif %}
                            {% endfor %}
                            {% set break = false %}
                            {% for handiskiTraduction in domaineCarteIdentite.handiski.traductions if not break %}
                                {% if traduction.vars.value.langue.id == handiskiTraduction.vars.value.langue.id %}
                                    {{ form_row(handiskiTraduction , { 'label' : domaineCarteIdentite.handiski.vars.name | title }  ) }}
                                    {{ form_errors(handiskiTraduction) }}
                                    {% set break = true %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    {{ form_row(edit_form.submit) }}
    {{ form_row(edit_form._token) }}
    {{ form_end(edit_form, {'render_rest': false}) }}
{% endblock %}

{#  BLOCK DES ACTIONS AUTRES QUE LA MISE A JOUR#}
{% block actions %}
    <div style="text-align: right">
        <ul class="list-unstyled">
            <li><a href="{{ path('domaine_domaineCarteIdentite_index') }}">{{ 'retour à la liste' | capitalize }}</a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>

    </div>

{% endblock %}

{#  GESTION DU BLOCK CONTENANT LE JAVASCRIPT#}
{% block javascripts %}
    {{ parent() }}

{% endblock %}
