{% extends '@MondofuteDomaine/domainecarteidentiteunifie/fiche.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block title %}
    {{ 'création d\une carte d\'identité' | capitalize }}
{% endblock %}

{% block titre %}
    Création d'une carte d'identité
{% endblock %}


{#  BLOCK DES ACTIONS AUTRES QUE LA MISE A JOUR#}
{% block actions %}
    <div style="text-align: right">
        <ul class="list-unstyled">
            <li><a href="{{ path('domaine_domaineCarteIdentite_index') }}">{{ 'retour à la liste' | capitalize }}</a>
            </li>
            {#<li>{{ form(delete_form) }}</li>#}
        </ul>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}