{% block block_participant %}
    {#{% set type = form._type %}#}
    <div class="row">
        <div class="collection">
            <div class="clearfix">
                {#{% set formCommandeLigneParticipant = form.participants.vars.prototype %}#}
                <a href="#"
                   data-prototype="{{ block('item_participant') | e }}"
                   class="btn btn-success add_item"
                   onclick="addTagForm(this,event,'__name_commande_ligne_participant__' , '{{ idCollectionParticipant }}');"
                >
                    <i class="glyphicon glyphicon-plus"></i> participants
                </a>
            </div>
            <div class="items">
                <table class="panel table table-striped">
                    <thead>
                    <tr>
                        <th>
                            Civilité
                        </th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Date de naissance</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody class="panel-body" id="{{ idCollectionParticipant }}">
                    {% if collectionForm is defined %}
                        {% for formCommandeLigneParticipant in collectionForm %}
                            {{ block('item_participant') }}
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block item_participant %}
    {% if formCommandeLigneParticipant is not null %}
        <tr class="item">
            <td>{{ form_widget(formCommandeLigneParticipant.civilite) }}</td>
            <td>{{ form_widget(formCommandeLigneParticipant.prenom) }}</td>
            <td>{{ form_widget(formCommandeLigneParticipant.nom) }}</td>
            <td>{{ form_widget(formCommandeLigneParticipant.dateNaissance) }}</td>
            <td>{{ block('bouton_supprimer', '@MondofuteCommande/commande/fiche.html.twig') }}</td>
        </tr>
    {% endif %}
{% endblock %}