{% extends '::base.html.twig' %}


{% block infinite_form_polycollection_row %}
    {% set collectionForm = form.commandeLignes %}
    {% set prototypes = form.commandeLignes.vars.prototypes %}
    <hr>
    <div class="collection">
        <div class="clearfix">
            <div class="pull-left">
                {{ form_label(collectionForm, 'Lignes de Commande') }}
            </div>
            <div class="pull-right">
                {% set form = prototypes.sejourNuite %}
                <a href="#" data-prototype="{{ block('commande_ligne_sejour_nuite_widget') | escape }}"
                   class="btn btn-success add_item"
                   onclick="addTagForm(this,event,'__name__','sejour_nuite');">
                    <i class="glyphicon glyphicon-plus"></i> séjour nuite
                </a>
                {% set form = prototypes.sejourPeriode %}
                {% set name = '__name__' %}
                <a href="#" data-prototype="{{ block('commande_ligne_sejour_periode_widget') | escape }}"
                   class="btn btn-success add_item"
                   onclick="addTagForm(this,event,'__name__','sejour_periode');">
                    <i class="glyphicon glyphicon-plus"></i> séjour periode
                </a>
                {% set form = prototypes.prestationAnnexe %}
                <a href="#"
                        {#data-prototype="{{ block('commande_ligne_prestation_annexe_widget') | escape }}"#}
                   data-prototype="{{ block('commande_ligne_prestation_annexe_widget_modal') | escape }}"
                   class="btn btn-success add_item"
                        {#onclick="addTagForm(this,event,'__name__','prestation_annexe');"#}
                   onclick="addCommandePrestationAnnexeExterne(this,event,'__name__','prestation_annexe');"
                   data-toggle="modal" data-target="#modal_commande_prestation_annexe_externe"
                >
                    <i class="glyphicon glyphicon-plus"></i> prestation annexe
                </a>
                {% set form = prototypes.fraisDossier %}
                <a href="#" data-prototype="{{ block('commande_ligne_frais_dossier_widget') | escape }}"
                   class="btn btn-success add_item"
                   onclick="addTagForm(this,event,'__name__','frais_dossier');">
                    <i class="glyphicon glyphicon-plus"></i> frais de dossier
                </a>
                {% set form = prototypes.remise %}
                <a href="#" data-prototype="{{ block('commande_ligne_remise_widget') | escape }}"
                   class="btn btn-success add_item"
                   onclick="addTagForm(this,event,'__name__','remise');">
                    <i class="glyphicon glyphicon-plus"></i> remise
                </a>
            </div>
        </div>
        <div class="items">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Séjour nuite</h3>
                </div>
                <div class="panel-body" id="sejour_nuite">
                    {% for form in collectionForm %}
                        {{ block('commande_ligne_sejour_nuite_widget') }}
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Séjour période</h3>
                </div>
                <div class="panel-body" id="sejour_periode">
                    {% for name, form in collectionForm %}
                        {{ block('commande_ligne_sejour_periode_widget') }}
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Prestation annexe</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th>Prestation annexe</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody id="prestation_annexe">
                        {% for form in collectionForm %}
                            {{ block('commande_ligne_prestation_annexe_widget') }}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Frais de dossier</h3>
                </div>
                <div class="panel-body" id="frais_dossier">
                    {% for form in collectionForm %}
                        {{ block('commande_ligne_frais_dossier_widget') }}
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Remise</h3>
                </div>
                <div class="panel-body" id="remise">
                    {% for form in collectionForm %}
                        {{ block('commande_ligne_remise_widget') }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block entry_row %}
    {% set type = form._type.vars.value %}
    <div class="item"
    >
        {#<hr>#}
        {% if type == 'sejourNuite' %}
            {{ block('commande_ligne_sejour_nuite_widget') }}
        {% elseif type == 'prestationAnnexe' %}
            {{ block('commande_ligne_prestation_annexe_widget') }}
        {% elseif type == 'sejourPeriode' %}
            {{ block('commande_ligne_sejour_periode_widget') }}
        {% else %}
            <div class="row">
                {#<div class="col-md-6">{{ form_row(form.montant , {'type' : 'number' , 'attr' : {'step' : 'any' } }) }}</div>#}
                <div class="col-md-2 text-right">
                    {{ block('bouton_supprimer') }}
                </div>
            </div>
            {{ form_rest(form) }}
        {% endif %}
    </div>
{% endblock %}

{% block bouton_supprimer %}
    <a href="#" class="btn btn-danger remove_item" onclick="removeTagForm(this,event);"><i
                class="glyphicon glyphicon-minus"></i></a>
{% endblock %}

{% block commande_ligne_sejour_nuite_widget %}
    {% set type = form._type.vars.value %}
    {% if type == 'sejourNuite' %}
        <div class="item">
            {% set collectionForm = form.commandeLignePrestationAnnexes %}
            {% set type = form._type %}
            <div class="row">
                {#<div class="col-md-2">{{ form_row(form.montant , {'type' : 'number' , 'attr' : {'step' : 'any' } }) }}</div>#}
                <div class="col-md-6">{{ form_row(form.logement) }}</div>
                <div class="col-md-2 text-right">
                    {{ block('bouton_supprimer') }}
                </div>
                <div class="collection">
                    <div class="clearfix">
                        {% set form = form.commandeLignePrestationAnnexes.vars.prototype %}
                        <a href="#"
                           data-prototype="{{ block('entry_row_commande_ligne_prestation_annexe_sejour') | escape }}"
                           class="btn btn-success add_item"
                           onclick="addTagForm(this,event,'__name_commande_ligne_prestation_annexe__');">
                            <i class="glyphicon glyphicon-plus"></i> prestation annexe
                        </a>
                    </div>
                    <div class="items">
                        {% for form in collectionForm %}
                            {{ block('entry_row_commande_ligne_prestation_annexe_sejour') }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {{ form_widget(type) }}
        </div>
    {% endif %}
{% endblock %}


{% block commande_ligne_sejour_periode_widget %}
    {% set type = form._type.vars.value %}
    {% if type == 'sejourPeriode' %}
        <div class="item">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Date achat</th>
                    <th>Logement</th>
                    <th>Prix catalogue unitaire</th>
                    <th>PV unitaire</th>
                    <th>Total PV</th>
                    <th>Fournisseur</th>
                    <th>PA unitaire</th>
                    <th>Total PA</th>
                    <th>Marge TTC</th>
                    <th>Marge TTC %</th>
                    <th>TVA</th>
                    <th>Marge HT</th>
                    <th>Marge HT %</th>
                    <th>Facture n°</th>
                    <th>Date exigible paiement</th>
                    <th>Paiement effectué le</th>
                    <th>Actions</th>
                </tr>
                </thead>
                {% set collectionForm = form.commandeLignePrestationAnnexes %}
                {% set type = form._type %}
                <tbody>
                <tr>
                    <td>
                        {% if  form.vars.value is not null %}
                            {{ form.vars.value.dateAchat |date("d/m/Y H:i") }}
                        {% endif %}
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-12">
                                {{ form_widget(form.logement, {'attr': {'onchange' : 'changePeriode(this,"'~form.periode.vars.id~'");'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-7 control-label" for="{{ form.nbParticipants.vars.id }}">Nb
                                participants
                            </label>
                            <div class="col-sm-5">
                                {{ form_widget(form.nbParticipants , {'attr' : {'min' : 1}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                {{ block('widget_periode') }}
                            </div>
                        </div>
                    </td>
                    <td>{{ form_widget(form.prixCatalogue , {'type' : 'number' , 'attr' : {'step' : 'any', 'min' : 0 } }) }}</td>
                    <td>{{ form_widget(form.prixPublic , {'type' : 'number' , 'attr' : {'step' : 'any', 'min' : 0 } }) }}</td>
                    <td></td>
                    <td>{% if form.vars.value is not null %}
                            {{ form.vars.value.logement.fournisseurHebergement.fournisseur }}
                        {% endif %}
                    </td>
                    <td>{{ form_widget(form.prixAchat , {'type' : 'number' , 'attr' : {'step' : 'any', 'min' : 0 } }) }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        {{ block('bouton_supprimer') }}
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="collection">
                    <div class="clearfix">
                        {% set form = form.commandeLignePrestationAnnexes.vars.prototype %}
                        <a href="#"
                           data-prototype="{{ block('entry_row_commande_ligne_prestation_annexe_sejour') | escape }}"
                           class="btn btn-success add_item"
                           onclick="addTagForm(this,event,'__name_commande_ligne_prestation_annexe__' , 'prestation_annexe_sejour_{{ name }}');">
                            <i class="glyphicon glyphicon-plus"></i> prestation annexe
                        </a>
                    </div>
                    <div class="items">
                        <table class="panel table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    Prestation annexe
                                </th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody class="panel-body" id="prestation_annexe_sejour_{{ name }}">
                            {% for form in collectionForm %}
                                {{ block('entry_row_commande_ligne_prestation_annexe_sejour') }}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{ form_widget(type) }}
        </div>
    {% endif %}
{% endblock %}

{% block widget_periode %}
    {% set choicesKey = form.periode.vars.choices|keys %}
    <select id="{{ form.periode.vars.id }}"
            name="{{ form.periode.vars.full_name }}"
            class="form-control" required="required">
        <option value=""> --- Choisir une période ---</option>
        {% set type = '' %}
        {% for key, element in choicesKey %}
            {% if form.periode.vars.choices[element].data.type != type %}
                {% set type = form.periode.vars.choices[element].data.type %}
                <optgroup label="{{ ('type_periode.'~form.periode.vars.choices[element].data.type.id)|trans }}">
            {% endif %}
            <option value="{{ form.periode.vars.choices[element].value }}"
                    {% if form.periode.vars.value == form.periode.vars.choices[element].value %}
                        selected="selected"
                    {% endif %}
            >{{ form.periode.vars.choices[element].label }} | Stock théorique :
                {% if form.vars.value is not null and form.vars.value.logement.LogementPeriodeLocatifsStockNotEmpty[element] is defined %}
                    {{ form.vars.value.logement.LogementPeriodeLocatifsStockNotEmpty[element].stock }}
                {% else %}
                    0
                {% endif %}
            </option>
            {% if loop.last or (loop.last == false and form.periode.vars.choices[choicesKey[key + 1]].data.type != type) %}
                </optgroup>
            {% endif %}
        {% endfor %}
    </select>
    {{ form_errors(form.periode) }}
{% endblock %}

{% block entry_row_commande_ligne_prestation_annexe_sejour %}
    {% set type = form._type.vars.value %}
    {% if type == 'prestationAnnexe' %}
        <tr class="item">
            <td>
                {{ form_widget(form.fournisseurPrestationAnnexeParam) }}
            </td>
            <td>{{ block('bouton_supprimer') }}</td>
            {{ form_row(form._type) }}
        </tr>
    {% endif %}
{% endblock %}


{% block commande_ligne_prestation_annexe_widget %}
    {% set type = form._type.vars.value %}
    {% if type == 'prestationAnnexe' %}
        <tr class="item">
            <td>{{ form_widget(form.dateDebut, {'attr' : {'style' : 'display:none'}}) }}{{ form.dateDebut.vars.value }}</td>
            <td>{{ form_widget(form.dateFin, {'attr' : {'style' : 'display:none'}}) }}{{ form.dateFin.vars.value }}</td>
            <td>{{ form_widget(form.fournisseurPrestationAnnexeParam) }}</td>
            <td>{{ block('bouton_supprimer') }}</td>
            {{ form_row(form._type) }}
        </tr>
    {% endif %}
{% endblock %}

{% block commande_ligne_prestation_annexe_widget_modal %}
    {% set type = form._type.vars.value %}
    {% if type == 'prestationAnnexe' %}
        <form class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div id="rechercherParam">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-daterange form-inline input-group">
                                    {{ form_widget(form.dateDebut, { 'attr' : {
                                        'style' : 'text-align: left;',
                                        'data-field' : 'dateDebut'
                                    }}) }}
                                    <span class="input-group-addon">au</span>
                                    {{ form_widget(form.dateFin, { 'attr' : {
                                        'style' : 'text-align: left;',
                                        'data-field' : 'dateFin'
                                    }}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                {{ form_widget(form.station, { 'attr' : {
                                    'data-field' : 'station'
                                }}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                {{ form_widget(form.famillePrestationAnnexe, { 'attr' : {
                                    'data-field' : 'famillePrestationAnnexe'
                                }}) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>
                                <select id="commande_fournisseur_prestation_annexe_externe"
                                        required="required" data-field="fournisseur"
                                        data-select-prestation-annexe-externe-id="{{ form.fournisseurPrestationAnnexeParam.vars.id }}"
                                        class="form-control">
                                    <option value=""> --- Choisir un fournisseur ---</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    {#{{ form_widget(form.fournisseurPrestationAnnexeParam) }}#}
                    <select id="{{ form.fournisseurPrestationAnnexeParam.vars.id }}"
                            name="{{ form.fournisseurPrestationAnnexeParam.vars.full_name }}"
                            required="required" class="form-control">
                        <option value="" selected="selected"> --- Choisir une prestation annexe externe ---</option>
                    </select>
                    {{ form_widget(form._type , { 'id' : form.fournisseurPrestationAnnexeParam.vars.id ~ '_type'} ) }}
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block commande_ligne_frais_dossier_widget %}
    {% set type = form._type.vars.value %}
    {% if type == 'fraisDossier' %}
        <div class="item">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-2">Prix catalogue</label>
                        <div class="col-md-10">
                            {% if form.vars.value is not null %}{{ form.vars.value.prixCatalogue }} €{% else %}0 €{% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">{{ form_row(form.prixPublic , {'type' : 'number' , 'attr' : {'step' : 'any', 'min' : 0 } }) }}</div>
                <div class="col-md-2 text-right">
                    {{ block('bouton_supprimer') }}
                </div>
            </div>
            {{ form_rest(form) }}
        </div>
    {% endif %}
{% endblock %}

{% block commande_ligne_remise_widget %}
    {% set type = form._type.vars.value %}
    {% if type == 'remise' %}
        <div class="item">
            <div class="row">
                {#<div class="col-md-6">{{ form_row(form.montant , {'type' : 'number' , 'attr' : {'step' : 'any' } }) }}</div>#}
                <div class="col-md-2 text-right">
                    {{ block('bouton_supprimer') }}
                </div>
            </div>
            {{ form_rest(form) }}
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    <section>
        <h1>
            {% block titre %}
            {% endblock %}
        </h1>
    </section>
    <section>
        {#  BLOCK CONTENANT LE FORMULAIRE #}
        {% block formulaire %}
            {% include '::flashbags.html.twig' %}
            {{ form_errors(form) }}
            {{ form_start(form) }}
            {{ block('infinite_form_polycollection_row') }}
            {{ form_row(form.site) }}
            {{ form_row(form.dateCommande) }}
            {{ form_row(form.numCommande) }}
            {{ form_row(form.clients) }}
            {{ form_row(form._token) }}
            {{ form_row(form.submit) }}
            {{ form_end(form, {'render_rest': false}) }}
        {% endblock %}
    </section>
    <section>
        {% block actions %}

        {% endblock %}
    </section>

    {% include ('@MondofuteCommande/commande/modal_prestation_annexe_externe.html.twig') %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        jQuery(document).ready(function () {
            $('.items').each(function (index, element) {
                var count = $(element).children('.panel').children('.panel-body').children('.item').length;
                count = count + $(element).children('.panel').children('.panel-body').children('table').children('tbody').children('tr.item').length;
                $(element).data('index', count);
            });
        });

        function addTagForm(element, event, name, panelBodyId) {
            event.preventDefault();
            var $panelBodyId = $('#' + panelBodyId);
            var $element = $(element);
            var $collectionHolder = $element.closest('div.collection').find('div.items:first');
            var prototype = $element.data('prototype');
            var index = $collectionHolder.data('index');
            if (!index) index = 0;
            var regex = new RegExp(name, 'g');
            var newForm = prototype.replace(regex, index);
            $collectionHolder.data('index', index + 1);
            if ($panelBodyId.length == 0) {
                $collectionHolder.append(newForm);
            } else {
                $panelBodyId.append(newForm);
            }
        }

        function addCommandePrestationAnnexeExterne(element, event, name, panelBodyId) {
            event.preventDefault();
            var $panelBodyId = $('#' + panelBodyId);
            var $modalContent = $('#modal_body_commande_prestation_annexe_externe');
            var $element = $(element);
            var $collectionHolder = $element.closest('div.collection').find('div.items:first');
            var prototype = $element.data('prototype');
            var index = $collectionHolder.data('index');
            if (!index) index = 0;
            var regex = new RegExp(name, 'g');
            var newForm = prototype.replace(regex, index);
            $modalContent.html(newForm);
            $modalContent.find('.input-daterange').each(function (index, element) {
                activeDatePicker(element)
            });
            $('#rechercherParam').find('input, select').on('change', function (element) {
                var types = {};
                var inputDateDebutId;
                var inputDateFinId;
                $('#rechercherParam').find('input, select').each(function (index, element) {
                    var $element = $(element);
                    switch ($element.data('field')) {
                        case 'dateDebut':
                            inputDateDebutId = element.id;
                            break;
                        case 'dateFin':
                            inputDateFinId = element.id;
                            break;
                        default:
                            break;
                    }
                    if ($element.val()) {
                        types[$element.data('field')] = $element.val();
                    }
                });
                if ($.map(types, function (n, i) {
                        return i;
                    }).length == 4) {
                    var path = '{{ path('commande_get_fournisseur_prestation_annexe_externe' , {
                        'dateDebut' : '_dateDebut_',
                        'dateFin' : '_dateFin_',
                        'stationId' : '_stationId_',
                        'typeId' : '_typeId_'
                    } ) }}';
                    types.dateDebut = types.dateDebut.replace(/\//g, '-');
                    types.dateFin = types.dateFin.replace(/\//g, '-');
                    path = path.replace('_dateDebut_', types.dateDebut);
                    path = path.replace('_dateFin_', types.dateFin);
                    path = path.replace('_stationId_', types.station);
                    path = path.replace('_typeId_', types.famillePrestationAnnexe);
                    $.ajax(path).done(function (data) {
                        var $commandeFournisseurPrestationAnnexeExterne = $('#commande_fournisseur_prestation_annexe_externe');
                        $commandeFournisseurPrestationAnnexeExterne.html(data);
                        $commandeFournisseurPrestationAnnexeExterne.unbind('change');
                        $commandeFournisseurPrestationAnnexeExterne.on('change', function (event) {
                            var fournisseurId = $(this).val();
                            var selectPrestationAnnexeExterneId = $commandeFournisseurPrestationAnnexeExterne.data('select-prestation-annexe-externe-id');
                            var $selectPrestationAnnexeExterne = $('#' + selectPrestationAnnexeExterneId);
                            var $prestationAnnexeExterneType = $('#' + selectPrestationAnnexeExterneId + '_type');
                            if (fournisseurId) {
                                var path = '{{ path('commande_get_prestation_annexe_externe' , {
                                    'dateDebut' : '_dateDebut_',
                                    'dateFin' : '_dateFin_',
                                    'typeId' : '_typeId_',
                                    'fournisseurId' : '_fournisseurId_'
                                } ) }}';
                                types.dateDebut = types.dateDebut.replace(/\//g, '-');
                                types.dateFin = types.dateFin.replace(/\//g, '-');
                                path = path.replace('_dateDebut_', types.dateDebut);
                                path = path.replace('_dateFin_', types.dateFin);
                                path = path.replace('_fournisseurId_', fournisseurId);
                                path = path.replace('_typeId_', types.famillePrestationAnnexe);
                                $.ajax(path).done(function (data) {
                                    $selectPrestationAnnexeExterne.html(data);
                                    var $addPrestationAnnexe = $('#addPrestationAnnexe');
                                    $addPrestationAnnexe.unbind('click');
                                    $addPrestationAnnexe.on('click', function (event) {
                                        if ($selectPrestationAnnexeExterne.val()) {
                                            var $item = $('<tr class=item></tr>');
                                            var $inputDateDebut = $('#' + inputDateDebutId);
                                            $inputDateDebut.hide();
                                            var $tdInputDateDebut = $('<td></td>').append($inputDateDebut.val());
                                            var $inputDateFin = $('#' + inputDateFinId);
                                            $inputDateFin.hide();
                                            var $tdInputDateFin = $('<td></td>').append($inputDateFin.val());
                                            $item.append($tdInputDateDebut);
                                            $item.append($tdInputDateFin);
                                            var tdInputSelecttPrestationAnnexeExterne = $('<td></td>').append($selectPrestationAnnexeExterne);
                                            $item.append(tdInputSelecttPrestationAnnexeExterne);
                                            {#var $boutonSupprimer = $('<td></td>').append('<a href="#" class="btn btn-danger remove_item" onclick="removeTagForm(this,event);"><i class="glyphicon glyphicon-minus"></i></a>');#}
                                            var $boutonSupprimer = $('<td></td>').append('{{ block('bouton_supprimer') | e('js') }}');
                                            $item.append($boutonSupprimer);
                                            $panelBodyId.append($item);
                                            $panelBodyId.append($prestationAnnexeExterneType);
                                            $panelBodyId.append($inputDateDebut);
                                            $panelBodyId.append($inputDateFin);
                                            $collectionHolder.data('index', index + 1);
                                            $('#modal_commande_prestation_annexe_externe').modal('hide');
                                        }
                                    })
                                });
                            } else {
                                $selectPrestationAnnexeExterne.html('');
                            }
                        });
                    });
                }
            })
        }

        function removeTagForm(element, event) {
            event.preventDefault();
            $(element).closest('.item').remove();
        }

        function changePeriode(element, selectPeriode) {
            var path = '{{ path('commande_get_periodes_by_logement' , { 'id' : '_id_'} ) }}';
            path = path.replace('_id_', $(element).val());
            $.ajax(path).done(function (data) {
                $('#' + selectPeriode).html(data);
            });
        }

        function activeDatePicker(element) {
            $(element).datepicker({
                todayBtn: "linked",
                format: "dd/mm/yyyy",
                autoclose: "true",
                pickerPosition: "bottom-left",
                startView: "day",
                minView: "month",
                daysOfWeekHighlighted: [0, 6],
                language: "fr",
                todayHighlight: true
            });
        }

        $('.input-daterange').each(function (index, element) {
            activeDatePicker(element)
        });

    </script>
{% endblock %}