{% extends '::base.html.twig' %}


{% block infinite_form_polycollection_row %}
    {% set collectionForm = form.commandeLignes %}
    {% set prototypes = form.commandeLignes.vars.prototypes %}
    <hr>
    <div class="collection">
        <div class="clearfix">
            <div class="pull-left">
                {{ form_label(collectionForm, 'Lignes de Commande') }}
            </div>
            <div class="pull-right">
                {% set form = prototypes.sejourNuite %}
                <a href="#" data-prototype="{{ block('commande_ligne_sejour_nuite_widget') | escape }}"
                   class="btn btn-success add_item"
                   onclick="addTagForm(this,event,'__name__','sejour_nuite');">
                    <i class="glyphicon glyphicon-plus"></i> séjour nuite
                </a>
                {% set form = prototypes.sejourPeriode %}
                <a href="#" data-prototype="{{ block('commande_ligne_sejour_periode_widget') | escape }}"
                   class="btn btn-success add_item"
                   onclick="addTagForm(this,event,'__name__','sejour_periode');">
                    <i class="glyphicon glyphicon-plus"></i> séjour periode
                </a>
                {% set form = prototypes.prestationAnnexe %}
                <a href="#" data-prototype="{{ block('commande_ligne_prestation_annexe_widget') | escape }}"
                   class="btn btn-success add_item"
                   onclick="addTagForm(this,event,'__name__','prestation_annexe');">
                    <i class="glyphicon glyphicon-plus"></i> prestation annexe
                </a>
                {% set form = prototypes.fraisDossier %}
                <a href="#" data-prototype="{{ block('commande_ligne_frais_dossier_widget') | escape }}"
                   class="btn btn-success add_item"
                   onclick="addTagForm(this,event,'__name__','frais_dossier');">
                    <i class="glyphicon glyphicon-plus"></i> frais de dossier
                </a>
                {% set form = prototypes.remise %}
                <a href="#" data-prototype="{{ block('commande_ligne_remise_widget') | escape }}"
                   class="btn btn-success add_item"
                   onclick="addTagForm(this,event,'__name__','remise');">
                    <i class="glyphicon glyphicon-plus"></i> remise
                </a>
            </div>
        </div>
        <div class="items">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Séjour nuite</h3>
                </div>
                <div class="panel-body" id="sejour_nuite">
                    {% for form in collectionForm %}
                        {{ block('commande_ligne_sejour_nuite_widget') }}
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Séjour période</h3>
                </div>
                <div class="panel-body" id="sejour_periode">
                    {% for form in collectionForm %}
                        {{ block('commande_ligne_sejour_periode_widget') }}
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Prestation annexe</h3>
                </div>
                <div class="panel-body" id="prestation_annexe">
                    {% for form in collectionForm %}
                        {{ block('commande_ligne_prestation_annexe_widget') }}
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Frais de dossier</h3>
                </div>
                <div class="panel-body" id="frais_dossier">
                    {% for form in collectionForm %}
                        {{ block('commande_ligne_frais_dossier_widget') }}
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Remise</h3>
                </div>
                <div class="panel-body" id="remise">
                    {% for form in collectionForm %}
                        {{ block('commande_ligne_remise_widget') }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block entry_row %}
    {% set type = form._type.vars.value %}
    <div class="item"
    >
        {#<hr>#}
        {% if type == 'sejourNuite' %}
            {{ block('commande_ligne_sejour_nuite_widget') }}
        {% elseif type == 'prestationAnnexe' %}
            {{ block('commande_ligne_prestation_annexe_widget') }}
        {% elseif type == 'sejourPeriode' %}
            {{ block('commande_ligne_sejour_periode_widget') }}
        {% else %}
            <div class="row">
                <div class="col-md-6">{{ form_row(form.montant , {'type' : 'number' , 'attr' : {'step' : 'any' } }) }}</div>
                <div class="col-md-2 text-right">
                    {{ block('bouton_supprimer') }}
                </div>
            </div>
            {{ form_rest(form) }}
        {% endif %}
    </div>
{% endblock %}

{% block bouton_supprimer %}
    {#<label>&nbsp;</label><br>#}
    <a href="#" class="btn btn-danger remove_item"
       onclick="removeTagForm(this,event);"
    >
        <i class="glyphicon glyphicon-minus"></i> Supprimer
    </a>
{% endblock %}

{% block commande_ligne_sejour_nuite_widget %}
    {% set type = form._type.vars.value %}
    {% if type == 'sejourNuite' %}
        <div class="item">
            {% set collectionForm = form.commandeLignePrestationAnnexes %}
            {% set type = form._type %}
            <div class="row">
                <div class="col-md-2">{{ form_row(form.montant , {'type' : 'number' , 'attr' : {'step' : 'any' } }) }}</div>
                <div class="col-md-6">{{ form_row(form.logement) }}</div>
                <div class="col-md-2 text-right">
                    {{ block('bouton_supprimer') }}
                </div>
                <div class="collection">
                    <div class="clearfix">
                        {% set form = form.commandeLignePrestationAnnexes.vars.prototype %}
                        <a href="#"
                           data-prototype="{{ block('entry_row_commande_ligne_prestation_annexe_sejour') | escape }}"
                           class="btn btn-success add_item"
                           onclick="addTagForm(this,event,'__name_commande_ligne_prestation_annexe__');">
                            <i class="glyphicon glyphicon-plus"></i> prestation annexe
                        </a>
                    </div>
                    <div class="items">
                        {% for form in collectionForm %}
                            {{ block('entry_row_commande_ligne_prestation_annexe_sejour') }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {{ form_widget(type) }}
        </div>
    {% endif %}
{% endblock %}


{% block commande_ligne_sejour_periode_widget %}
    {% set type = form._type.vars.value %}
    {% if type == 'sejourPeriode' %}
        <div class="item">
            {% set collectionForm = form.commandeLignePrestationAnnexes %}
            {% set type = form._type %}
            <div class="row">
                <div class="col-md-2">{{ form_row(form.montant , {'type' : 'number' , 'attr' : {'step' : 'any' } }) }}</div>
                <div class="col-md-2">{{ form_row(form.nbParticipants , {'attr' : {'min' : 0}}) }}</div>
                <div class="col-md-2">{{ form_row(form.logement, {'attr': {'onchange' : 'changePeriode(this,"'~form.periode.vars.id~'");'}}) }}</div>
                <div class="col-md-4">{{ block('widget_periode') }}</div>
                <div class="col-md-2 text-right">
                    {{ block('bouton_supprimer') }}
                </div>
                <div class="collection">
                    <div class="clearfix">
                        {% set form = form.commandeLignePrestationAnnexes.vars.prototype %}
                        <a href="#"
                           data-prototype="{{ block('entry_row_commande_ligne_prestation_annexe_sejour') | escape }}"
                           class="btn btn-success add_item"
                           onclick="addTagForm(this,event,'__name_commande_ligne_prestation_annexe__');">
                            <i class="glyphicon glyphicon-plus"></i> prestation annexe
                        </a>
                    </div>
                    <div class="items">
                        {% for form in collectionForm %}
                            {{ block('entry_row_commande_ligne_prestation_annexe_sejour') }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {{ form_widget(type) }}
        </div>
    {% endif %}
{% endblock %}

{% block widget_periode %}
    {% set choicesKey = form.periode.vars.choices|keys %}
    <div class="form-group">{{ form_label(form.periode) }}
        <div class="col-sm-10"><select id="{{ form.periode.vars.id }}"
                                       name="{{ form.periode.vars.full_name }}"
                                       class="form-control" required="required">
                <option value=""> --- Choisir une période ---</option>
                {% set type = '' %}
                {% for key, element in choicesKey %}
                    {% if form.periode.vars.choices[element].data.type != type %}
                        {% set type = form.periode.vars.choices[element].data.type %}
                        <optgroup label="{{ ('type_periode.'~form.periode.vars.choices[element].data.type.id)|trans }}">
                    {% endif %}
                    <option value="{{ form.periode.vars.choices[element].value }}"
                            {% if form.periode.vars.value == form.periode.vars.choices[element].value %}
                                selected="selected"
                            {% endif %}
                    >{{ form.periode.vars.choices[element].label }} | Stock théorique :
                        {% if form.vars.value is not null and form.vars.value.logement.LogementPeriodeLocatifsStockNotEmpty[element] is defined %}
                            {{ form.vars.value.logement.LogementPeriodeLocatifsStockNotEmpty[element].stock }}
                        {% else %}
                            0
                        {% endif %}
                    </option>
                    {% if loop.last or (loop.last == false and form.periode.vars.choices[choicesKey[key + 1]].data.type != type) %}
                        </optgroup>
                    {% endif %}
                {% endfor %}
            </select></div>
    </div>
{% endblock %}

{% block entry_row_commande_ligne_prestation_annexe_sejour %}
    <div class="item">
        {{ block('commande_ligne_prestation_annexe_widget') }}
    </div>
{% endblock %}


{% block commande_ligne_prestation_annexe_widget %}
    {% set type = form._type.vars.value %}
    {% if type == 'prestationAnnexe' %}
        <div class="item">
            <div class="row">
                <div class="col-md-6">{{ form_row(form.montant , {'type' : 'number' , 'attr' : {'step' : 'any' } }) }}</div>
                <div class="col-md-2 text-right">
                    {{ block('bouton_supprimer') }}
                </div>
            </div>
            {{ form_rest(form) }}
        </div>
    {% endif %}
{% endblock %}

{% block commande_ligne_frais_dossier_widget %}
    {% set type = form._type.vars.value %}
    {% if type == 'fraisDossier' %}
        <div class="item">
            <div class="row">
                <div class="col-md-6">{{ form_row(form.montant , {'type' : 'number' , 'attr' : {'step' : 'any' } }) }}</div>
                <div class="col-md-2 text-right">
                    {{ block('bouton_supprimer') }}
                </div>
            </div>
            {{ form_rest(form) }}
        </div>
    {% endif %}
{% endblock %}

{% block commande_ligne_remise_widget %}
    {% set type = form._type.vars.value %}
    {% if type == 'remise' %}
        <div class="item">
            <div class="row">
                <div class="col-md-6">{{ form_row(form.montant , {'type' : 'number' , 'attr' : {'step' : 'any' } }) }}</div>
                <div class="col-md-2 text-right">
                    {{ block('bouton_supprimer') }}
                </div>
            </div>
            {{ form_rest(form) }}
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    <section>
        <h1>
            {% block titre %}
            {% endblock %}
        </h1>
    </section>
    <section>
        {#  BLOCK CONTENANT LE FORMULAIRE #}
        {% block formulaire %}
            {% include '::flashbags.html.twig' %}
            {{ form_errors(form) }}
            {{ form_start(form) }}
            {{ block('infinite_form_polycollection_row') }}
            {{ form_row(form.site) }}
            {{ form_row(form.dateCommande) }}
            {{ form_row(form.numCommande) }}
            {{ form_row(form.clients) }}
            {{ form_row(form._token) }}
            {{ form_row(form.submit) }}
            {{ form_end(form, {'render_rest': false}) }}
        {% endblock %}
    </section>
    <section>
        {% block actions %}

        {% endblock %}
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        jQuery(document).ready(function () {
            $('div.items').each(function (index, element) {
                $(element).data('index', $(element).children('div.panel').children('div.panel-body').children('div.item').length);
            });
        });

        function addTagForm(element, event, name, panelBodyId) {
            event.preventDefault();
            var $panelBodyId = $('#' + panelBodyId);
            var $element = $(element);
            var $collectionHolder = $element.closest('div.collection').find('div.items:first');
            var prototype = $element.data('prototype');
            var index = $collectionHolder.data('index');
            if (!index) index = 0;
            var regex = new RegExp(name, 'g');
            var newForm = prototype.replace(regex, index);
            $collectionHolder.data('index', index + 1);
            if ($panelBodyId.length == 0) {
                $collectionHolder.append(newForm);
            } else {
                $panelBodyId.append(newForm);
            }
        }

        function removeTagForm(element, event) {
            event.preventDefault();
            $(element).closest('div.item').remove();
        }

        function changePeriode(element, selectPeriode) {
            var path = '{{ path('commande_get_periodes_by_logement' , { 'id' : '_id_'} ) }}';
            path = path.replace('_id_', $(element).val());
            $.ajax(path).done(function (data) {
                $('#' + selectPeriode).html(data);
            });
        }

    </script>
{% endblock %}