{% extends 'base.html.twig' %}
{% block title %}
    {{ 'Liste des commandes' | capitalize }}
{% endblock %}
{% block body %}
    <h1>{{ 'liste des commandes' | capitalize }}</h1>
    {% include '::flashbags.html.twig' %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Numéro de commande</th>
            <th>Date de réservation</th>
            <th>Client</th>
            <th>Montant</th>
            <th>Statut</th>
            <th>Litige</th>
            <th>Site</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td rowspan="3">
                    <a href="{{ path('commande_show', { 'id': commande.id }) }}">{{ commande.id }}</a>
                </td>
                <td>
                    {{ commande.numCommande }}
                </td>
                <td>
                    {{ commande.dateCommande | date('d/m/y h:m:s') }}
                </td>
                <td>
                    {% for client in commande.clients %}
                        {{ client }}<br/>
                    {% endfor %}
                </td>
                <td>
                    {{ commande.prixVente }}&nbsp;&euro;
                </td>
                <td>
                    <label>
                        <select style="background-color:{{ commande.commandeStatutDossier.statutDossier.codeCouleur }};"
                                onchange="addCommandeStatutDossier(this, '{{ commande.id }}')"
                                class="form-control">
                            {% for statut in statuts %}
                                <option data-backgroundcolor="{{ statut.codeCouleur }}" value="{{ statut.id }}"
                                        style="background-color:{{ statut.codeCouleur }};"
                                        {% if commande.commandeStatutDossier.statutDossier == statut %}
                                            selected="selected"
                                        {% endif %}
                                >{{ statut }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </td>
                <td>
                    <label>
                        <select style="background-color:{{ commande.commandeLitigeDossier.litigeDossier.codeCouleur }};"
                                onchange="addCommandeLitigeDossier(this, '{{ commande.id }}')"
                                class="form-control">
                            {% for litige in litiges %}
                                <option data-backgroundcolor="{{ litige.codeCouleur }}" value="{{ litige.id }}"
                                        style="background-color:{{ litige.codeCouleur }};"
                                        {% if commande.commandeLitigeDossier.litigeDossier == litige %}
                                            selected="selected"
                                        {% endif %}
                                >{{ litige }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </td>
                <td>
                    {{ commande.site }}
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a class="btn btn-default"
                               href="{{ path('commande_show', { 'id': commande.id }) }}">{{ 'visualiser' | capitalize }}</a>
                        </li>
                        <li>
                            <a class="btn btn-default"
                               href="{{ path('commande_edit', { 'id': commande.id }) }}">{{ 'modifier' | capitalize }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    {% if commande.sejourPeriodes is not empty %}
                        <div class="panel panel-default" style="position: relative">
                            <div class="panel-heading" role="tab" id="heading_sejour_{{ commande.id }}">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#collapse_sejour_{{ commande.id }}"
                                       aria-expanded="false" aria-controls="collapse_sejour_{{ commande.id }}">
                                        Séjours
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_sejour_{{ commande.id }}" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading_sejour_{{ commande.id }}">
                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <tr>
                                            <th>Dates</th>
                                            <th>Fournisseur</th>
                                            <th>Station</th>
                                            <th>Hébergement</th>
                                            <th>LM</th>
                                            <th>RM</th>
                                            <th>Date mail fournisseur</th>
                                        </tr>
                                        {% for element in commande.sejourPeriodes %}
                                            <tr>
                                                <td>{{ element.periode.debut | date('d/m/y') }}
                                                    &nbsp;au&nbsp;{{ element.periode.fin | date('d/m/y') }}</td>
                                                <td>{{ element.fournisseur }}</td>
                                                <td>{{ element.station }}</td>
                                                <td>{{ element.hebergement }}</td>
                                                <td>{% if element.locationMaterielExists %}Oui{% else %}Non{% endif %}</td>
                                                <td>{% if element.remonteeMecaniqueExists %}Oui{% else %}Non{% endif %}</td>
                                                <td>{% if element.dateEmailFournisseur %}{{ element.dateEmailFournisseur | date('d/m/y') }}{% else %}Non envoyé{% endif %}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    {% if commande.prestationAnnexeExternes is not empty %}
                        <div class="panel panel-default" style="position: relative">
                            <div class="panel-heading" role="tab" id="heading_prestation_annexe_{{ commande.id }}">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse"
                                       href="#collapse_prestation_annexe_{{ commande.id }}"
                                       aria-expanded="false"
                                       aria-controls="collapse_prestation_annexe_{{ commande.id }}">
                                        Prestations annexe externes
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_prestation_annexe_{{ commande.id }}" class="panel-collapse collapse"
                                 role="tabpanel"
                                 aria-labelledby="heading_{{ commande.id }}">
                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <tr>
                                            <th>Dates</th>
                                            <th>Fournisseur</th>
                                            <th>Station</th>
                                            <th>Date mail fournisseur</th>
                                        </tr>
                                        {% for element in commande.PrestationAnnexeExternes %}
                                            <tr>
                                                <td>{{ element.dateDebut| date('d/m/y') }}
                                                    &nbsp;au&nbsp;{{ element.dateFin| date('d/m/y') }}</td>
                                                <td>{{ element.fournisseur }}</td>
                                                <td>{{ element.station }}</td>
                                                <td>{% if element.dateEmailFournisseur %}{{ element.dateEmailFournisseur | date('d/m/y') }}{% else %}Non envoyé{% endif %}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if  commandes is not empty %}
        {% include '@MondofuteCore/pagination.html.twig' %}
    {% endif %}
    <div style="text-align: right">
        <ul class="list-unstyled">
            <li>
                <a class="btn btn-default" href="{{ path('commande_new') }}">{{ 'ajouter' | capitalize }}</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function addCommandeStatutDossier(element, commandeId) {
            var $element = $(element);
            var path = "{{ path('commande_add_statut_dossier' , {'id':'_id_' , 'statutDossierId':'_statutDossierId_'}) }}";
            path = path.replace('_id_', commandeId);
            path = path.replace('_statutDossierId_', $element.val());
            $element.css("background-color", $element.find(":selected").data('backgroundcolor'));
            $.ajax(path);
        }

        function addCommandeLitigeDossier(element, commandeId) {
            var $element = $(element);
            var path = "{{ path('commande_add_litige_dossier' , {'id':'_id_' , 'litigeDossierId':'_litigeDossierId_'}) }}";
            path = path.replace('_id_', commandeId);
            path = path.replace('_litigeDossierId_', $element.val());
            $element.css("background-color", $element.find(":selected").data('backgroundcolor'));
            $.ajax(path);
        }
    </script>
{% endblock %}
