{% extends '@MondofuteCodePromo/codepromounifie/fiche.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ 'création d\un code promo' | capitalize }}
{% endblock %}

{% block titre %}
    Création d'un code promo
{% endblock %}

{#  BLOCK DES ACTIONS AUTRES QUE LA MISE A JOUR#}
{% block actions %}
    <div style="text-align: right">
        <ul class="list-unstyled">
            <li><a href="{{ path('codepromo_index') }}">{{ 'retour à la liste' | capitalize }}</a></li>
        </ul>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

