<div role="tabpanel" class="tab-pane fade" id="data_code_promo_hebergement">
    {{ dump(form.codePromos[0].codePromoFournisseurs) }}
    {% for fournisseur in fournisseurHebergements %}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading" role="tab" id="heading_code_promo_fournisseur_{{ fournisseur.id }}_hebergements">
                <h4 class="panel-title">
                    <div class="checkbox">
                        <label><input type="checkbox" value="{{ fournisseur.id }}"
                            onclick="checkChildren(this , 'code_promo_fournisseur_{{ fournisseur.id }}_hebergements')"
                            name="codePromoFournisseurs[]"
                            >
                            <a
                                    data-toggle="collapse"
                                    href="#collapse_code_promo_fournisseur_{{ fournisseur.id }}_hebergements"
                                    onclick="getFournisseurHebergements('{{ fournisseur.id }}');return false;"
                                    aria-expanded="false"
                                    aria-controls="collapse_code_promo_fournisseur_{{ fournisseur.id }}_hebergements">
                                {{ fournisseur.enseigne }}
                            </a></label>
                    </div>
                </h4>
            </div>
            <div id="collapse_code_promo_fournisseur_{{ fournisseur.id }}_hebergements" class="panel-collapse collapse"
                 role="tabpanel" aria-labelledby="heading_code_promo_fournisseur_{{ fournisseur.id }}_hebergements">
                <!-- List group hebergements -->
                <ul class="list-group" id="code_promo_fournisseur_{{ fournisseur.id }}_hebergements">
                </ul>
            </div>
        </div>
    {% endfor %}
</div>
