<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Hébergement</h3>
    </div>
    <div class="panel-body">
        {% for keyFournisseur , fournisseur in fournisseurHebergements %}
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" role="tab"
                     id="heading_code_promo_{{ codePromo.vars.value.id }}_fournisseur_{{ fournisseur.id }}_hebergements">
                    <h4 class="panel-title">
                        <div class="checkbox">
                            <label><input type="checkbox" value="{{ fournisseur.id }}"
                                          onclick="checkChildren(this , 'code_promo_{{ codePromo.vars.value.id }}_fournisseur_{{ fournisseur.id }}_hebergements')"
                                          {#name="codePromoFournisseurs[{{ codePromo.vars.value.id }}][]"#}
                                          name="code_promo_unifie[codePromos][{{ keyCodePromo }}][codePromoFournisseurs][{{ keyFournisseur }}][fournisseur]"
                                        {% for codePromoFournisseur in codePromo.codePromoFournisseurs %}
                                            {% if codePromoFournisseur.fournisseur.vars.value == fournisseur.id %}
                                                checked="checked"
                                            {% endif %}
                                        {% endfor %}
                                >
                                <a
                                        data-toggle="collapse"
                                        href="#collapse_code_promo_{{ codePromo.vars.value.id }}_fournisseur_{{ fournisseur.id }}_hebergements"
                                        onclick="getFournisseurHebergements('{{ codePromo.vars.value.id }}','{{ fournisseur.id }}');return false;"
                                        aria-expanded="false"
                                        aria-controls="collapse_code_promo_{{ codePromo.vars.value.id }}_fournisseur_{{ fournisseur.id }}_hebergements">
                                    {{ fournisseur.enseigne }}
                                </a></label>
                        </div>
                    </h4>
                </div>
                <div id="collapse_code_promo_{{ codePromo.vars.value.id }}_fournisseur_{{ fournisseur.id }}_hebergements"
                     class="panel-collapse collapse"
                     role="tabpanel"
                     aria-labelledby="heading_code_promo_{{ codePromo.vars.value.id }}_fournisseur_{{ fournisseur.id }}_hebergements">
                    <!-- List group hebergements -->
                    <ul class="list-group"
                        id="code_promo_{{ codePromo.vars.value.id }}_fournisseur_{{ fournisseur.id }}_hebergements">
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
