{% extends 'base.html.twig' %}

{% form_theme delete_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block title %}
    {{ 'visualisation du code promo' | capitalize }}
{% endblock %}
{% block body %}
    <h1>{{ 'Visualisation du code promo' | capitalize }}</h1>
    {% include '::flashbags.html.twig' %}
    <table class="table table-responsive table-striped">
        <tbody>
        <tr class="row">
            <th class="col-sm-1">Id</th>
            <td>{{ codePromoUnifie.id }}</td>
        </tr>
        <tr class="row">
            <th class="col-sm-1">Code</th>
            <td>{{ codePromoUnifie.code }}</td>
        </tr>
        {% for codePromo in codePromoUnifie.codePromos %}
            {% if codePromo.site.crm == 1 %}
                <tr class="row">
                    <th class="col-sm-1">{{ 'libelle' | capitalize }}</th>
                    <td>
                        {{ codePromo.libelle }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}

        </tbody>
    </table>
    <div style="text-align: right">

        <ul class="list-unstyled">
            <li>
                <a href="{{ path('codepromo_index') }}">{{ 'retour.liste' | trans }}</a>
            </li>
            <li>
                <a class="btn btn-default"
                   href="{{ path('codepromo_edit', { 'id': codePromoUnifie.id }) }}">{{ 'modifier' | trans }}</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                {#<input type="submit" value="Delete">#}
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
